
<cfquery name="getSuggestions" datasource="#ds#">
	select * from suggestionBox
</cfquery>

<cfindex 
	collection="intranet_suggestionbox" 
	action="REFRESH" 
	query="getSuggestions" 
	key="suggestionid" 
	body="suggestion" 
	custom1="/suggestionbox/suggestions/monthlyDetailSug.cfm?suggestionid=">

fini