<cfif isDefined("form.btnFinished")>

	<cflocation url="edit2_save.cfm?s=#qSnapshot#&taskid=#taskid#">

<cfelse>

	<cfquery name="getinfo" datasource="#ds#">
		select * from tasktracker_task_user_lookup where taskid = #taskid#
	</cfquery>
	<cfset assignedusers = valuelist(getinfo.adminuserid)>

	<cfif assignedusers IS 0>
		<cflocation url="edit2_save.cfm?taskid=#taskid#">
	<cfelse>
		<cfinclude template="assignpriorities.cfm">
	</cfif>

</cfif>
