
<cfset recordingDir = "e:\websites\intranet\inquiry\test">
<cfset tempName = "000_20171017_834595008012968.mp3">
<cfset recordingName = "000_20171017_834595008012968.mp3">

<!--- 44100 --->
<cfx_wav2mp3 source="#recordingDir#\#tempName#" destination="#recordingDir#\#recordingName#" samplerate="44100"> 

