
<cfset buttonImageDir = "e:\websites\cobrand\mobile\iui\t\default\custombuttons">

<cfquery name="getFileName" datasource="copalink_cobrand">
	select * from mobileCustomButtons 
	where buttonid = #bid# 
</cfquery>
<cfif fileExists("#buttonImageDir#\#getfileName.fileName#")>
	<cffile action="delete" file="#buttonImageDir#\#getfileName.fileName#">
</cfif>
<cfquery name="delButton" datasource="copalink_cobrand">
	delete from mobileCustomButtons 
	where buttonid = #bid# 
</cfquery>
<cfinclude template="writefiles.cfm">
<cflocation url="index.cfm">
