﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <div align="center"><a class="normal" style="text-decoration:underline;" href="/index.cfm">Return to Intranet</a></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - COPS Monitoring Intranet</p>
        </footer>
    </div>



</body>

</html>
