﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        .navbar-inverse .navbar-nav li a {
            color: #fff;
            font-size: 16px;
        }

        .navbar-collapse {
            padding-left: 0px;
        }
    </style>
</head>
<body>
    <div class="container body-content">

        <nav class="navbar bg-inverse navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/ChangeRequest">List</a></li>
                        <li><a href="/ChangeRequest/Edit">Add</a></li>
                        <li><a href="/">Intranet</a></li>
                    </ul>

                    <div style="text-align:right">
                        <form class="form-inline" style="margin-top:8px" action="/ChangeRequest/Search" method="post">
                            <input class="form-control" type="text" placeholder="Search" id="searchVal" name="searchVal">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>




        @RenderBody()
        <br class="hidden-print"/>
        <hr class="hidden-print"/>
    </div>

</body>

</html>
