/* HEADER ROW */
divHeaderRow {
    display: table-row;
    width: 100%;
    float: left;
   	border: 0px;
	background: #F0F0F0;
}


/* HEADER CELL */
divHeaderCell {
    display: table-cell;
    padding: 10px 5px 0px 2px;
    border: 0px;
   	float: left;
   	position: relative;
}


/* TOOLTIP CONTAINER */
   .tooltip {
   	position: relative;
 	display: inline-block;
}
	
	
/* TOOLTIP TEXT */
.tooltip .tooltiptext {
   	visibility: hidden;
   	width: 80px;
   	background-color: #555;
   	color: #fff;
   	text-align: center;
   	padding: 5px 0;
   	border-radius: 6px;

   	/* Position text */
   	position: absolute;
   	z-index: 1;
   	top: 130%;
   	left: 50%;
   	margin-left: -40px;

   	/* Fade in tooltip */
   	opacity: 0;
   	transition: opacity 1s;
}
	
	
/* TOOLTIP ARROW */
.tooltip .tooltiptext:after {
   	content: "";
	position: absolute;
   	bottom: 100%;
   	left: 50%;
   	margin-left: -5px;
   	border-width: 5px;
   	border-style: solid;
   	border-color: transparent transparent #555 transparent;
}
	
	
/* SHOW TOOLTIP TEXT WHEN MOUSING OVER CONTAINER */
.tooltip:hover .tooltiptext {
   	visibility: visible;
   	opacity: 1;
}