<html>
<head>
	<title>COPS Monitoring</title>
</head>

<cfinclude template="/test/BPBS/Java/java.cfm">
<cfinclude template="/test/BPBS/Java/styles.cfm">
<cfinclude template="/test/BPBS/Java/menuButtonJava.cfm">

<body bgcolor="#F0F0F0" text="#0F0F0F" leftmargin=0 topmargin=0 marginheight=0 marginwidth=0>
	<table padding=0 border=0 width="100%"><tr>
		<td width="20px"></td>
		<td><divHeaderRow>
				<divHeaderCell>
					<div  class ='tooltip'>
						<a href="/"><img id="copsButton" src="/test/BPBS/images/COPSBannerSm1.png" style="vertical-align:top"></a>
						<span class="tooltiptext">C.O.P.S</span>
					</div>
				</divHeaderCell>
		</divHeaderRow></td>
		<td width="20px"></td>
	</tr></table>
	<!-- DISPLAY LINE BREAK -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr>
		<td width="20px"></td>
		<td><hr></td>
		<td width="20px"></td>
	</tr></table>
	<!-- LEAVE OPEN FOR CALLING PAGE -->