
<link rel="stylesheet" type="text/css" href="../styles.css">

<div align="center">
<table width="400" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td class="highlightbar"><b>Upload Phone Extension List</b></td>
    </tr>
    <tr>
        <td class="greyrowbottomnopadding">
			<table width="100%" border="0" cellspacing="0" cellpadding="5">
				<tr>
					<td><b>Upload Phone Extension List:</b></td>
				</tr>
				<form method="post" action="upload.cfm" enctype="multipart/form-data">
				<tr>
				    <td>
				        <input type="file" name="phoneList" style="width:300px; background-color:#FFFFFF;">
				    </td>
			    </tr>
				<tr>
				    <td>
				        <input name="Submit" type="submit" class="sidebar" value="Upload">
				    </td>
			    </tr>
				</form>
			</table>
		</td>
    </tr>
</table>
<br>
<a style="text-decoration:underline;" class="normal" href="/index.cfm">Return to Intranet</a>
</div>

