
<link rel="stylesheet" type="text/css" href="../styles.css">

<cfparam name="form.phoneList" default="">

<cfif trim(form.phoneList) is not "">
	<cffile action="upload" filefield="phoneList" destination="#request.directpath#\phonelist\general_extensions_list.cfm" nameconflict="overwrite">
</cfif>

<br />
<br />
<br />
<div align="center" class="normal">
<b>File Uploaded</b>
<br><br>
<a style="text-decoration:underline;" class="normal" href="/index.cfm">Return to Intranet</a>
</div>
<br />
<br />

