<!--- Dealer Message Center Delete email page --->
<cfquery name = "DeleteEmail" datasource = "#ds#">
	DELETE FROM DealerMessageCenter_notificationSettings
	WHERE notificationID = #url.notificationID#
</cfquery>
<cflocation url="index.cfm">
