<!--- Dealer Message Center Save Email Edit page --->
<cfquery name = "UpdateDb" datasource = "#ds#">
	UPDATE DealerMessageCenter_notificationSettings
		SET email        = '#form.email#',
			departmentID = #form.departmentID#, 
			subject = '#trim(form.subject)#'
	WHERE notificationID = #notificationID#
</cfquery>
	
<cflocation url="index.cfm">
