<!--- Dealer Message Center New Email Save page--->
<cfquery name = "InsertDb" datasource = "#ds#">
	IF NOT EXISTS (select notificationID from DealerMessageCenter_notificationSettings where email = '#form.email#' and departmentID = #form.departmentID# and subject='#form.subject#')
	BEGIN
		INSERT INTO DealerMessageCenter_notificationSettings(email,departmentID,subject)
		VALUES ('#form.email#', #form.departmentID#,'#trim(form.subject)#')
	END
</cfquery>

<cflocation url="index.cfm">

