<cfparam name = "holdAdminuserid" default = "">

<cfset holdAdminuserid = 7>
<cfquery name="getEmail" datasource="#ds#">
		select email 
		from admin_users 
		where adminuserid = #holdAdminuserid#
	<!---	where adminuserid = 7--->
	
</cfquery>

<cfoutput>#getEmail.email#</cfoutput>