
<link rel="stylesheet" type="text/css" href="../styles.css">

<br>
<cfset checkIP = left(remote_addr,7)>
<cfoutput>
#checkIP#
</cfoutput>
<div align="center">
<table width="400" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td align="center">
		<img src="/images/cops-logo.jpg" />
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td align="center"><b style="font-size:24px;">Employee Suggestion Menu</b></td>
	</tr>
	<tr><td>&nbsp;</td></tr>
    <tr>
        <td align="center">
            <input onclick="document.location='http://www.copsmonitoring.com/suggest/';" style="width:300px; height:40px; font-weight:bold; font-size:15px; background-color:#000066; color:#FFFFFF" type="submit" name="btnMake" value="Make A Suggestion"></td>
    </tr>
	<tr><td align="center">&nbsp;</td>
	</tr>
    <tr>
        <td align="center">
            <input onclick="document.location='/suggestionBox/suggestions/searchSuggestion.cfm';" style="width:300px; height:40px; font-weight:bold; font-size:15px; background-color:#000066; color:#FFFFFF" type="submit" name="btnView" value="View Past Suggestions">
		</td>
    </tr>
	<tr><td align="center">&nbsp;</td>
</table>
</div>

