﻿


    /************** Reset block *****************/
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    }
    :focus {
    outline: 0;
    }



    /************** Publication *****************/
    body{
    font: normal normal normal 12px/18px Arial, sans-serif;
    background: #C8C8C8;
    position: relative;
    }

    .bodyBg{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../../flash/image/grey-outer.jpg);
    background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
      
    }

    .copy{
    color: #fff;
    text-shadow: 0px 1px 8px rgba(0,0,0,.9);
    font-size: 10px;
    font-family: Arial, "Lucida Sans";
    width: 100%;
    line-height: 22px;
    text-align: center;

    }
    .copy a{
    color: #fff;
    text-decoration: none;

    }
    .copy a:hover{
    color: #fff;
    text-decoration: underline;
    }

    /************** Toolbar *****************/
    .closeBG{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 30px;
    background: url(closeBG.png) no-repeat;
    opacity: 0.7;
    cursor: pointer;
    }
    .closeBG:hover{
    opacity: 1;
    }

    .infoBox{
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    padding: 6px 30px 0 0;
    text-align: left;
    white-space: nowrap;
    z-index: -1;
    }
    .infoFont{
    font-size: 10px;
    font-family: Arial, "Lucida Sans";
    color: #fff;
    }
    .infoBtn{
    font-size: 18px;
    font-family: PulsarJS;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px;
    display: inline-block;
    background: url(info_basic.png) 6px 6px no-repeat;
    width: 18px;
    height:18px;
    }
    .infoBtn:hover{
    opacity: 0.9;
    }

    .toolbarBox{
    width: 100%;
    min-width: 650px;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 10001;
    background-color: rgba(0, 0, 0, 0.5);
    }

    .toolbarFont {
    font-size:10px;
    font-family:Helvetica, sans-serif, Arial, "Lucida Sans";
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    }


    .fullVersionLink{
    margin: 2px 5px;
    padding: 2px 5px;
    height: 20px;
    position: absolute;
    text-align: center;
    white-space:nowrap;
    top: 0px;
    left: 40px;
    border-radius: 3px;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .fullVersionLink:hover{
    border: 1px inset rgba(255, 255, 255, 0.5);
    }

    .downloadBtn{
    margin: 2px 5px;
    padding: 1px 5px;
    height: 22px;
    width: 26px;
    float: left;
    position: absolute;
    text-align: center;
    white-space:nowrap;
    top: 0px;
    left: 40px;
    border-radius: 3px;
    background: url(./save.png) no-repeat 50% 50%;
    border: 1px inset rgba(255, 255, 255, 0);

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .downloadBtn:hover{
    border: 1px inset rgba(255, 255, 255, 0.5);
    }

    .downloadBox{
    width: 200px;
    min-height:10px;
    float: left;
    position: relative;
    top: -100px;
    left: 0px;
    background-color: #f8f8f8;
    border-left: 1px solid rgb(200,200,200);
    border-right: 1px solid rgb(200,200,200);
    border-bottom: 1px solid rgb(200,200,200);;
    z-index: 10002;
    opacity: 0;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .downloadBox ul{
    width: 200px;
    float: left;
    text-align: left;
    overflow-x: hidden;
    padding: 10px;
    font-family:Helvetica, sans-serif, Arial, "Lucida Sans";
    color: black;
    font-weight: normal;
    }
    .downloadBox li {
    float: left;
    width: 200px;
    list-style-position: outside;
    list-style-type: none;

    }
    .downloadBox a{
    font-size:11px;
    text-align: left;
    font-family: Helvetica, sans-serif, Arial, "Lucida Sans";
    color: black;
    font-weight: bold;
    }


    .tocBtn{
    margin: 2px 5px;
    padding: 1px 5px;
    height: 22px;
    width: 26px;
    position: absolute;
    text-align: center;
    white-space:nowrap;
    top: 0px;
    left: 0px;
    float: left;
    border-radius: 3px;
    background: url(./toc.png) no-repeat 50% 50%;
    border: 1px inset rgba(255, 255, 255, 0);

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .tocBtn:hover{
    border: 1px inset rgba(255, 255, 255, 0.5);
    }

    .currentPage{
    width: 50px;
    overflow: hidden;
    height: 15px;
    font-size: 11px;
    padding-right: 5px;
    margin-left: 5px;
    text-align: right;
    }

    .navigationBox{
    display: inline-block;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .navigationTool{
    margin: 2px 10px;
    height: 24px;
    width: 27px;
    display:inline-block;
    float:left;
    border-radius: 3px;
    border-left: 1px inset rgba(255, 255, 255, 0);
    border-right: 1px inset rgba(255, 255, 255, 0);
    }
    .navigationTool:hover{
    cursor: pointer;
    border: 1px inset rgba(255, 255, 255, 0.5);
    }
    .navigationLeft{
    background: url(./previous.png) no-repeat 50% 50%;
    }
    .navigationRight{
    background: url(./next.png) no-repeat 50% 50%;
    }
    .navigationPager{
    display: inline-block;
    padding: 5px;
    float:left;
    }


    .shareBox{
    position: fixed;
    top: 52px;
    right: 0px;
    width: 36px;
    float: left;
    background: rgba(0, 0, 0, 0.3);
    padding: 2px 0;
    z-index: 10000;
    border-radius: 3px 0 0 3px;
    border: 1px solid rgba(0,0,0,.2);
    }

    .shareBox a{
    width: 32px;
    height: 32px;
    margin: 2px;
    display: inline-block;
    float: left;
    }



    .zoomBox{
    width: 32px;
    position: fixed;
    top: 52px;
    left: 0px;
    overflow: hidden;
    border-radius: 0 3px 3px 0 ;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10000;
    border: 1px solid rgba(0,0,0,.2);

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .zoomBox div{
    margin: 5px 2px ;
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px inset rgba(255, 255, 255, 0);
    border-radius: 3px;
    float: left;
    }
    .zoomBox div:hover{
    border: 1px inset rgba(255, 255, 255, 0.5);
    }
    .zoomIn{
    background: url(./zoomIn.png) no-repeat 50% 50%;
    }
    .zoomOut{
    background: url(./zoomOut.png) no-repeat 50% 50%;
    }





    .thumbBox{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: -102px;
    left: 0px;
    height: 100px;
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }

    .thumbContent{
    overflow: hidden;
    position: relative;
    top: 5px;
    left: 0px;
    height: 90px;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }

    .thumbLine{
    margin: 0 35px;
    height: 100px;
    overflow: hidden;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }

    .thumbLine ul{
    display: block;
    height: 84px;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .thumbLine li{
    list-style-position: outside;
    list-style-type: none;
    float: left;
    overflow: hidden;
    height: 80px;
    width: 80px;
    margin: 2px;
    cursor: pointer;
    opacity: 0.5;
    }

    .thumbLine li:hover{
    cursor: pointer;
    opacity: 1;
    }

    .selector {
    opacity: 0.5 !important;
    }
    .selector:hover{
    opacity: 1 !important;
    }
    .selected {
    opacity: 1 !important;
    }

    .thumbBtn{
    margin: 0px;
    padding: 1px 5px;
    height: 26px;
    width: 26px;
    position: absolute;
    text-align: center;
    white-space:nowrap;
    background: rgba(0, 0, 0, 0.5) url(./thumbnails.png) no-repeat 50% 50%;
    top: -30px;
    left: -1px;
    float: left;
    border-radius: 0 3px 0 0;
    border-top: 1px solid rgba(0,0,0,.2);
    border-left: 1px solid rgba(0,0,0,.2);
    border-right: 1px solid rgba(0,0,0,.2);
    cursor: pointer;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }

    .thumbLeftTool{
    height: 100px;
    padding: 0 5px;
    width: 26px;
    background:  url(./previous.png) no-repeat 50% 50%;
    cursor: pointer;
    float: left;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .thumbLeftTool:hover{
    background: rgba(255, 255, 255, 0.2) url(./previous.png) no-repeat 50% 50%;
    }

    .thumbRightTool{
    height: 100px;
    padding: 0 5px;
    width: 26px;
    background:  url(./next.png) no-repeat 50% 50%;
    cursor: pointer;
    float: right;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }
    .thumbRightTool:hover{
    background: rgba(255, 255, 255, 0.2) url(./next.png) no-repeat 50% 50%;
    }




    .tocBox{
    width: 200px;
    min-height:300px;
    float: left;
    position: fixed;
    top: 0px;
    left: -202px;
    background-color: #f8f8f8;
    border: 1px solid rgb(200,200,200);
    z-index: 10002;

    font-size:14px;
    text-align: left;
    font-family: Helvetica, sans-serif, Arial, "Lucida Sans";
    color: black;
    font-weight: bold;

    transition-duration: 500ms;
    -moz-transition-duration: 500ms; /* Firefox 4 */
    -webkit-transition-duration: 500ms; /* Safari and Chrome */
    -o-transition-duration: 500ms; /* Opera */
    -ms-transition-duration: 500ms; /* IE */
    }

    .tocBox h2{
    background-color: rgba(0, 0, 0, 0);
    color: #111;
    padding: 5px 10px;
    border-bottom: 1px ridge #ddd;
    font-size:13px;
    }
    .tocContent{
    overflow: hidden;
    position: relative;
    top: 30px;
    left: 0px;
    }
    .tocNavTop{
    width: 200px;
    height: 30px;
    background: #eeeeee url("./upArrow.png") no-repeat center;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 0px;
    display: block;
    }
    .tocNavTop:hover {
    background: #cccccc url("./upArrow.png") no-repeat center;
    }

    .tocNavBottom{
    width: 200px;
    height: 30px;
    background: #eeeeee url("./downArrow.png") no-repeat center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    }
    .tocNavBottom:hover {
    background: #cccccc url("./downArrow.png") no-repeat center;
    }

    .tocContent ul{
    float: left;
    font-size: 11px;
    text-align: left;
    font-family:Helvetica, sans-serif, Arial, "Lucida Sans";
    color: black;
    font-weight: normal;
    position: relative;
    top: 0px;
    left: 0px;
    transition-duration: 200ms;
    -moz-transition-duration: 200ms; /* Firefox 4 */
    -webkit-transition-duration: 200ms; /* Safari and Chrome */
    -o-transition-duration: 200ms; /* Opera */
    -ms-transition-duration: 200ms; /* IE */
    }
    .tocContent li {
    float: left;
    width: 200px;
    list-style-position: outside;
    list-style-type: none;

    }

    .tocContent li:hover{
    background-color: rgba(200, 200, 200, 0.4);
    }

    .tocContent a{
    text-decoration: none;
    color: #222;
    padding: 4px 0;
    }

    .fontPageName{
    float: left;
    width: 140px;
    margin-left: 10px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;

    }

    .fontPageNum{
    margin-right: 10px;
    float: right;
    }

    .tocChild{
    font-weight: normal;
    margin-left: 20px;
    }

    /************** Balloon *********************/
    .balloon {
    background: #fff;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    padding: 20px 20px;

    font-size: 12px;
    width: 250px;
    text-align: justify;
    color: #3a3a3a;

    position: fixed;
    top: 35px;
    right: 2px;
    z-index: 100002;

    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    box-shadow: 0px 2px 10px rgba(0,0,0,.5);

    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;

    opacity: 0;
    display: none;
    }

    .balloon .arrow {
    width: 0;
    height: 0;
    display: block;

    border-width: 10px;
    border-color: transparent  transparent #fff transparent ;
    border-style: solid;

    position: absolute;
    top: -17px;
    right: 4px;
    }

    .balloon .closeButton {
    display:block;
    width:14px;
    height:14px;
    text-decoration:none;
    cursor:pointer;
    background:url(./about_close.png);
    position:absolute;
    top:10px;
    right:8px;
    left:auto;
    bottom:auto;
    float:right;
    }

    .balloon .closeButton:hover {
    background:url(./about_close_hover.png);
    }

    .balloon h2 {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    padding-right: 30px;
    }
    .balloon a{
    color: #1e90ff;
    text-decoration: underline;
    }

    /************** Publication *****************/

    .publication{
    margin: auto;
    padding: 48px 0 0 0;
    text-align: center;
    width: 595px;
    }
    .book{
    margin: 0 auto;
    width: 595px;
    height: 841px;
    background: #ffffff;
    -webkit-box-shadow: 0px 3px 8px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 3px 8px rgba(0,0,0,.5);
    box-shadow: 0px 3px 8px rgba(0,0,0,.5);
    overflow: hidden;
    }
    .page{
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0px;
    }



    /************** Page *****************/
    .div_items      {
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow: hidden;
    border : 0px solid green;
    }

    .fontPosition {
    white-space: nowrap;
    border: 0px solid blue;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
    }

    .areaLink{
    background: #3FC7FF;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    }

    .areaLink:hover {
    opacity: 0.5;
    }

