﻿@{    
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    
    <style>
        body{
            font-family: verdana;
            font-size: 11px;
            padding:0; 
            margin:0
        }
        table 
        {
            border-spacing: 0px;
            border-collapse: collapse;
            width:99.8%;
        }
        td {padding: 6px;}
        .border-l {border-left: 1px #ccc solid;}
        .border-r {border-right:1px #ccc solid;}
        .border-b {border-bottom: 1px #ccc solid;}
    </style>
</head>
<body sstyle="padding:0; margin:0;">

    <table>
        <tr style="background-color:#42679b; font-weight:bolder; color:#fff;">
            <td class="border-r border-l">Classification</td>
            <td class="border-r">Description</td>
            <td class="border-r">Written notification required?</td>
            <td class="border-r">Approval Required</tdclass="border-r">
            <td>Communication to users required? </td>
        </tr>
        <tr>
            <td class="border-l border-r border-b">Routine</td>
            <td class="border-r border-b">
                A Routine change is one that has relatively low risk with well understood outcomes that is regularly made during normal business.  A routine chnage follows pre-determined processes and
                can be performed with zero impact on users.
            </td>
            <td class="border-r border-b">No Notification Required</td>
            <td class="border-r border-b">No</td>
            <td class="border-r border-b">No</td>
        </tr>
        <tr>
            <td class="border-l border-r border-b">Minor</td>
            <td class="border-r border-b">
                A Minor change is one that has low to medium risk for critical services, involves less understood risks, has less predictable outcomes, and/or is a change that is not regularly made
                during normal business.  Because of the ability to affect downstream or upstream services, the CAB must review any proposed change.
            </td>
            <td class="border-r border-b">Required before change</td>
            <td class="border-r border-b">Yes</td>
            <td class="border-r border-b">Yes, unless the impact is transparent to users.</td>
        </tr>

        <tr>
            <td class="border-l border-r border-b">Major</td>
            <td class="border-r border-b">
                A Major change is one that has medium to high risk for critical services, involves unknown risk and involves downtime which impacts a large percentage of users across the Company                
            </td>
            <td class="border-r border-b">Yes, at least two days before implementation</td>
            <td class="border-r border-b">Yes</td>
            <td class="border-r border-b">Yes</td>
        </tr>

        <tr>
            <td class="border-l border-r border-b">Emergency</td>
            <td class="border-r border-b">
                An emergency chnage is one that involves services which are already impaired and requires utmost urgency to resolve.  Approach is fix fir and document change afterwards.  Root-cause 
                analysis must be performed to determine if the issue can be prevented in the future.
            </td>
            <td class="border-r border-b">N/A</td>
            <td class="border-r border-b">N/A</td>
            <td class="border-r border-b">N/A</td>
        </tr>


    </table>

</body>
</html>