﻿@model Intranet.Models.ChangeRequest
@{
    ViewBag.Title = "Change Request";
    Layout = "~/Views/Shared/ChangeRequest.cshtml";
    
}



<style>

    #buttonTop {
        position: -webkit-sticky; /*required for Safari */
        position: sticky;
        top: 100px;
        z-index: 5;
    }
</style>



@if (Model.RequestID == 0)
{
    <h2>Add Change Request</h2>
}
else
{
    <h2>Edit Change Request</h2>
}


<div class="col-lg-12 col-md-12 hidden-sm hidden-xs hidden-print" style="text-align:right;"><a style="color:#2734cf"id="button" href="#">Hide Descriptions</a></div>
<div class="col-lg-12 col-md-12 hidden-sm hidden-xs hidden-print">
    <iframe width="100%" height="100%" src="~/ChangeRequest/ChangeClassification" style="border:0; height:350px;" id="descTable" name="descTable"></iframe>
</div>


@if (ViewBag.ResultStatus == "Success")
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(ViewBag.Message)
    </div>
}

@if (ViewBag.ResultStatus == "Fail")
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(ViewBag.Message)
        @Html.Raw(ViewBag.MailExcp)
    </div>
}
    
        @using (Html.BeginForm("Edit", "ChangeRequest", FormMethod.Post))
        {


                <div class="col-lg-12 col-md-12 hidden-sm hidden-xs hidden-print" style="text-align:right;" id="buttonTop">
                    
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button>

                        <button type="button" class="btn btn-default btn-sm" id="backButton">
                            <span class="glyphicon glyphicon glyphicon-remove"></span> Cancel
                        </button>

                    @if (Model.RequestID > 0)
                    {
                        <button type="button" class="btn btn-default btn-sm" id="printButton">
                            <span class="glyphicon glyphicon glyphicon-print"></span> Print
                        </button>
                    }


            </div>


                @Html.HiddenFor(model => model.RequestID)

                if (Model.RequestID == 0)
                {

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.RequestorName)</div>
                    <div class="col-lg-12">@Html.EditorFor(model => model.RequestorName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Requestor Name", @type = "text", @id = "txtRequestorName", @onFocus = "this.placeholder=''" } })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.RequestorName, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.RequestorEmail)</div>
                    <div class="col-lg-12">@Html.EditorFor(model => model.RequestorEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address", @type = "text", @id = "txtRequestorEmail", @onFocus = "this.placeholder=''" } })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.RequestorEmail, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.RequestorDepartment)</div>
                    <div class="col-lg-12">@Html.DropDownListFor(model => model.RequestorDepartment, Model.DepartmentList, "Select Department", new { id = "drpDept", @class = "form-control", data_style = "btn-inverse" })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.RequestorDepartment, "", new { @class = "text-danger" })</div>
                </div>
                }

                if (Model.RequestID > 0)
                {
                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.RequestDate)</div>                    
                    <div class="col-lg-12" >@Model.RequestDate.ToShortDateString()</div>
                    @Html.HiddenFor(model => model.RequestDate)
                </div>
                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.RequestorName)</div>
                    <div class="col-lg-12">@Model.RequestorName</div>
                    @Html.HiddenFor(model => model.RequestorName)
                </div>
                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.RequestorEmail)</div>
                    <div class="col-lg-12">@Model.RequestorEmail</div>
                    @Html.HiddenFor(model => model.RequestorEmail)
                </div>
                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.RequestorDepartment)</div>
                    <div class="col-lg-12">@Model.RequestorDepartment</div>
                    @Html.HiddenFor(model => model.RequestorDepartment)
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.Manager)</div>
                    <div class="col-lg-12">@Model.Manager</div>
                    @Html.HiddenFor(model => model.Manager)
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.StatusDate)</div>
                    <div class="col-lg-12">@if (Model.StatusDate.GetValueOrDefault() != DateTime.MinValue)
                    { @Model.StatusDate.GetValueOrDefault().ToShortDateString();
                    }</div>
                    @Html.HiddenFor(model => model.StatusDate)
                </div>

                if (ViewBag.IsAdmin == true)
                {
                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.Status)</div>
                    <div class="col-lg-12">@Html.DropDownListFor(model => model.Status, Model.StatusList, "Select Status", new { id = "drpStatus", @class = "form-control", data_style = "btn-inverse" })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })</div>
                </div>
                }
                else
                {
                    @Html.HiddenFor(model => model.Status)
                }
                

            }


                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;">1. </span>@Html.LabelFor(model => model.ChangeType)</div>
                    <div class="col-lg-12">@Html.DropDownListFor(model => model.ChangeType, Model.ChangeTypeList, "Select Change Type", new { id = "drpChangeType", @class = "form-control", data_style = "btn-inverse" })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.ChangeType, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;">2. </span>@Html.LabelFor(model => model.ChangeDate)</div>
                    <div class="col-lg-12">@Html.EditorFor(model => model.ChangeDate, new { htmlAttributes = new { @class = "form-control", type = "date", @id = "txtChangeDate" } })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.ChangeDate, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;">3. </span>@Html.LabelFor(model => model.ChangeDescription)</div>
                    <div class="col-lg-12">@Html.EditorFor(model => model.ChangeDescription, new { htmlAttributes = new { @type = "textarea", @class = "form-control", @style = "height:150px; min-width:500px;", @id = "txtChangeDesc", @onFocus = "this.placeholder=''" } })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.ChangeDescription, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;">4. </span>@Html.LabelFor(model => model.Systems)</div>
                    <div class="col-lg-12">@Html.EditorFor(model => model.Systems, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "txtSystems", @onFocus = "this.placeholder=''" } })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.Systems, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;">5. </span>@Html.LabelFor(model => model.ChangeReason)</div>
                    <div class="col-lg-12">@Html.EditorFor(model => model.ChangeReason, new { htmlAttributes = new { @type = "textarea", @class = "form-control", @style = "height:150px; min-width:500px;", @id = "txtChangeReason", @onFocus = "this.placeholder=''" } })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.ChangeReason, "", new { @class = "text-danger" })</div>
                </div>

                if (Model.RequestID > 0 && ViewBag.IsAdmin == true)
                {

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;">6. </span>@Html.LabelFor(model => model.ChangeMadeBy)</div>
                    <div class="col-lg-12">@Html.EditorFor(model => model.ChangeMadeBy, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "txtChangeMadeBy", @onFocus = "this.placeholder=''" } })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.ChangeMadeBy, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12"><span style="font-weight:bolder;">7. </span>@Html.LabelFor(model => model.TestedBy)</div>
                    <div class="col-lg-12">@Html.EditorFor(model => model.TestedBy, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "txtTesters", @onFocus = "this.placeholder=''" } })</div>
                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.TestedBy, "", new { @class = "text-danger" })</div>
                </div>
                }



                <div class="col-lg-12" style="text-align:center;" id="buttonBottom">

                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>

                    <button type="button" class="btn btn-default btn-sm" id="bottomBackButton">
                        <span class="glyphicon glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
                }


    @Html.Partial("History")
    


    
    <iframe id="printFrame" class="hidden"></iframe>

        <script>
            $("#printButton").click(function () {

                $("#printFrame").attr('src', "/ChangeRequest/ViewRequest/@Model.RequestID?print=true");
            });

            $("#backButton").click(function () {
                document.location.href = "/ChangeRequest/";
            });

            $("#bottomBackButton").click(function () {
                document.location.href = "/ChangeRequest/";
            });

            $("#button").click(function () {
                if ($("#descTable").is(":hidden")) {
                    $("#button").text("Hide Descriptions");
                    $("#descTable").show("slow");
                }
                else {
                    $("#button").text("Show Descriptions");
                    $("#descTable").slideUp("slow");
                }
            });


            $(function () {
                if (!Modernizr.inputtypes.date) {
                    $('input[type=date]').datepicker({
                        dateFormat: 'yy-mm-dd'
                    }
                    );
                }
            });
         </script>
