﻿@model Intranet.Models.ChangeRequest
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12"><span style="font-weight:bolder;"></span>@Html.LabelFor(model => model.UpdateDate)</div>
    <div class="col-lg-12">@Model.UpdateDate</div>
</div>

<div class="row">
    <div class="col-lg-12">@Html.LabelFor(model => model.Status)</div>
    <div class="col-lg-12">@Model.Status</div>
</div>

<div class="row">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestDate)</div>
    <div class="col-lg-12">@Model.RequestDate.ToShortDateString()</div>
</div>

<div class="row">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestorName)</div>
    <div class="col-lg-12">@Model.RequestorName</div>
</div>

<div class="row">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestorEmail)</div>
    <div class="col-lg-12">@Model.RequestorEmail</div>
</div>

<div class="row">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestorDepartment)</div>
    <div class="col-lg-12">@Model.RequestorDepartment</div>
</div>

<div class="row">
    <div class="col-lg-12">@Html.LabelFor(model => model.Manager)</div>
    <div class="col-lg-12">@Model.Manager</div>
</div>

<div class="row">
    <div class="col-lg-12">@Html.LabelFor(model => model.StatusDate)</div>
    <div class="col-lg-12">@if (Model.StatusDate.GetValueOrDefault() != DateTime.MinValue)
    { @Model.StatusDate.GetValueOrDefault().ToShortDateString();
    }</div>
</div>

<div class="row">
    <div class="col-lg-12"><span style="font-weight:bolder;">1. </span>@Html.LabelFor(model => model.ChangeType)</div>
    <div class="col-lg-12">@Model.ChangeType</div>
</div>

<div class="row">
    <div class="col-lg-12"><span style="font-weight:bolder;">2. </span>@Html.LabelFor(model => model.ChangeDate)</div>
    <div class="col-lg-12">@Model.ChangeDate.ToShortDateString()</div>
</div>

<div class="row">
    <div class="col-lg-12"><span style="font-weight:bolder;">3. </span>@Html.LabelFor(model => model.ChangeDescription)</div>
    <div class="col-lg-12">@Model.ChangeDescription</div>
</div>

<div class="row">
    <div class="col-lg-12"><span style="font-weight:bolder;">4. </span>@Html.LabelFor(model => model.Systems)</div>
    <div class="col-lg-12">@Model.Systems</div>
</div>

<div class="row">
    <div class="col-lg-12"><span style="font-weight:bolder;">5. </span>@Html.LabelFor(model => model.ChangeReason)</div>
    <div class="col-lg-12">@Model.ChangeReason</div>
</div>

<div class="row">
    <div class="col-lg-12"><span style="font-weight:bolder;">6. </span>@Html.LabelFor(model => model.ChangeMadeBy)</div>
    <div class="col-lg-12">@Model.ChangeMadeBy</div>
</div>

<div class="row">
    <div class="col-lg-12"><span style="font-weight:bolder;">7. </span>@Html.LabelFor(model => model.TestedBy)</div>
    <div class="col-lg-12">@Model.TestedBy</div>
</div>

