﻿@model Intranet.Models.ChangeRequest

@{ 
//Partial View used by edit abd view request pages.
}

   


    @{
        var cnt = 0;
        System.Xml.XmlDocument xml = new System.Xml.XmlDocument();
        if (!String.IsNullOrWhiteSpace(Model.History))
        {
            xml.LoadXml(Model.History);
            <div style="margin-top:50px">
                <h4 style="margin-bottom:2px">History</h4>
                <hr style="margin-top:0" />
                <div class="row">
                    <div class="col-lg-6 hidden-sm hidden-xs hidden-print"><strong>Changed By</strong></div>
                    <div class="col-lg-6 hidden-sm hidden-xs hidden-print"><strong>Date</strong></div>
                </div>
                @foreach (System.Xml.XmlNode node in xml.SelectNodes("//ChangeRequest"))
                {
                cnt++;
                <div class="row">
                    <div class="col-lg-6 hidden-sm hidden-xs hidden-print"><a style="cursor:pointer" data-toggle="modal" data-target="#myModal" onclick="loadHistory(@cnt)"> @node.SelectSingleNode("UpdatedBy").InnerText</a></div>
                    <div class="col-lg-6 hidden-sm hidden-xs hidden-print">@node.SelectSingleNode("UpdateDate").InnerText</div>
                </div>
                }

            </div>
        }
    }



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Request History</h5>
            </div>
            <div class="modal-body">
                <div id="content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>



<script>
    function loadHistory(id) {
        $.ajax({
            cache: false,
            url: "/ChangeRequest/GetHistory/@Model.RequestID?hid=" + id, success: function (result) {
                $("#content").html(result);                
            }
        });
    }
</script>


