﻿@model System.Data.Entity.DbSet<Intranet.Models.ChangeRequest>
@{
    ViewBag.Title = "Change Request List";
    Layout = "~/Views/Shared/ChangeRequest.cshtml";
}

<style>
    .rowHover:hover {background-color:cornsilk;}
    .rowOn {background: #ededed;}
    .row {line-height: 32px;}    
</style>


    <h2>Change Request</h2>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><h4>ID</h4></div>
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs"><h4>Change Status</h4></div>
        <div class="col-lg-3 col-md-4 hidden-sm hidden-xs"><h4>Requestor Name</h4></div>
        <div class="col-lg-3 col-md-3 col-sm-6 hidden-xs"><h4>Change Date</h4></div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-11"><h4>System</h4></div>
    </div>

    @{
        int n = 0;
        foreach (Intranet.Models.ChangeRequest req in Model)
        {
            n++;
        <div class="row rowHover @if (n % 2 == 0) {@Html.Raw(" rowOn");}" style="cursor:pointer" onclick="navToEdit(@req.RequestID)">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">@req.RequestID</div>
            <div class="col-lg-2 hidden-md hidden-sm hidden-xs">@req.Status</div>
            <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">@req.RequestorName</div>
            <div class="col-lg-3 col-md-3 col-sm-6 hidden-xs">@req.ChangeDate.ToShortDateString()</div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-11">@req.Systems</div>
        </div>
        }
    }
    <div style="height:50px;">
        &#160;
    </div>



<script>
    function navToEdit(id)
    {
        document.location.href = "/ChangeRequest/Edit/" + id;
    }
</script>
