﻿@model Intranet.Models.ChangeRequest
@{
    ViewBag.Title = "View Request";
    Layout = "~/Views/Shared/ChangeRequest.cshtml";

}

<style type="text/css" media="print">
    @@page {
        size: auto;
        margin: 0mm;
    }
</style>

<style>
    #buttonTop {
        position: -webkit-sticky; /*required for Safari */
        position: sticky;
        top: 100px;
        z-index: 5;
    }
</style>

<h2>Change Request</h2>


<div class="col-lg-12 col-md-12 hidden-sm hidden-xs hidden-print" style="text-align:right;"><a style="color:#2734cf" id="button" href="#">Hide Descriptions</a></div>
<div class="col-lg-12 col-md-12 hidden-sm hidden-xs hidden-print">
    <iframe width="100%" height="100%" src="~/ChangeRequest/ChangeClassification" style="border:0; height:350px;" id="descTable" name="descTable"></iframe>
</div>

@if (ViewBag.ResultStatus == "Fail")
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(ViewBag.Message)
    </div>
}




<div class="col-lg-12 col-md-12 hidden-sm hidden-xs hidden-print" style="text-align:right;" id="buttonTop">

    <button type="button" class="btn btn-default btn-sm" id="printButton">
        <span class="glyphicon glyphicon glyphicon-print"></span> Print

    </button>

</div>


@Html.HiddenFor(model => model.RequestID)

<div class="form-group">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestID)</div>
    <div class="col-lg-12">@Model.RequestID</div>
</div>

<div class="form-group">
    <div class="col-lg-12">@Html.LabelFor(model => model.Status)</div>
    <div class="col-lg-12">@Model.Status</div>
</div>

<div class="form-group">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestDate)</div>
    <div class="col-lg-12">@Model.RequestDate.ToShortDateString()</div>
</div>

<div class="form-group">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestorName)</div>
    <div class="col-lg-12">@Model.RequestorName</div>
</div>

<div class="form-group">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestorEmail)</div>
    <div class="col-lg-12">@Model.RequestorEmail</div>
</div>
    
<div class="form-group">
    <div class="col-lg-12">@Html.LabelFor(model => model.RequestorDepartment)</div>
    <div class="col-lg-12">@Model.RequestorDepartment</div>
</div>

<div class="form-group">
    <div class="col-lg-12">@Html.LabelFor(model => model.Manager)</div>
    <div class="col-lg-12">@Model.Manager</div>
</div>

<div class="form-group">
    <div class="col-lg-12">@Html.LabelFor(model => model.StatusDate)</div>
    <div class="col-lg-12">@if (Model.StatusDate.GetValueOrDefault() != DateTime.MinValue) { @Model.StatusDate.GetValueOrDefault().ToShortDateString(); }</div>
</div>

<div class="form-group">
    <div class="col-lg-12"><span style="font-weight:bolder;">1. </span>@Html.LabelFor(model => model.ChangeType)</div>
    <div class="col-lg-12">@Model.ChangeType</div>
</div>

<div class="form-group">
    <div class="col-lg-12"><span style="font-weight:bolder;">2. </span>@Html.LabelFor(model => model.ChangeDate)</div>
    <div class="col-lg-12">@Model.ChangeDate.ToShortDateString()</div>    
</div>

<div class="form-group">
    <div class="col-lg-12"><span style="font-weight:bolder;">3. </span>@Html.LabelFor(model => model.ChangeDescription)</div>
    <div class="col-lg-12">@Model.ChangeDescription</div>
</div>

<div class="form-group">
    <div class="col-lg-12"><span style="font-weight:bolder;">4. </span>@Html.LabelFor(model => model.Systems)</div>
    <div class="col-lg-12">@Model.Systems</div>
</div>

<div class="form-group">
    <div class="col-lg-12"><span style="font-weight:bolder;">5. </span>@Html.LabelFor(model => model.ChangeReason)</div>
    <div class="col-lg-12">@Model.ChangeReason</div>
</div>

<div class="form-group">
    <div class="col-lg-12"><span style="font-weight:bolder;">6. </span>@Html.LabelFor(model => model.ChangeMadeBy)</div>
    <div class="col-lg-12">@Model.ChangeMadeBy</div>
</div>

<div class="form-group">
    <div class="col-lg-12"><span style="font-weight:bolder;">7. </span>@Html.LabelFor(model => model.TestedBy)</div>
    <div class="col-lg-12">@Model.TestedBy</div>
</div>


@Html.Partial("History")


<script>

    @if (ViewBag.PrintRequest == true)
    {
        <text>window.print()</text>
    }

    $("#printButton").click(function () {
        window.print();
    });


    $("#button").click(function () {
        if ($("#descTable").is(":hidden")) {
            $("#button").text("Hide Descriptions");
            $("#descTable").show("slow");
        }
        else {
            $("#button").text("Show Descriptions");
            $("#descTable").slideUp("slow");
        }
    });
</script>
