﻿@model Intranet.Models.UCCDownloadAccounts
@{
    ViewBag.Title = "Download UCC Accounts";
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download UCC Accounts</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</head>
<body>
    <div class="container body-content">
    @using (Html.BeginForm("DownloadUCCAccounts", "UCC2", FormMethod.Post))
    {

        
        
        <div class="col-lg-6 col-lg-offset-2 text-center">

            <h3>Download UCC Accounts</h3>

            <br/>

            <div class="form-group text-left">
                @Html.LabelFor(model => model.StartDate)
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date", @id = "txtStartDate", @style = "display:inline; margn-left:8px" } })
                <div class="col-lg-12">
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-left">
                @Html.LabelFor(model => model.NoBillingID)
                @Html.EditorFor(model => model.NoBillingID, new { htmlAttributes = new { @class = "form-control", @type = "checkbox", @id = "chkNoBillingID", @style = "margin-left:4px; display:inline; width:34px; height:34px; border:none;" } })
                @Html.ValidationMessageFor(model => model.NoBillingID, "", new { @class = "text-danger" })
            </div>

            <br/>
            <div class="form-group">
                <div class="col-lg-12 text-center">
                    <input type="submit" contextmenu="Submit">
                </div>
            </div>

        </div>

    }
    </div>

</body>
</html>
