
<link rel="stylesheet" type="text/css" href="/styles.css">

<cffile action="read" file="d:\copalinkLogs\20090826_xmllog.txt" variable="logContents">

<div class="smalltable">
<cfloop list="#logContents#" delimiters="#chr(13)#" index="line">
<cfif findnocase("74-4074",line)>
<cfoutput>
#xmlformat(line)#
<br />
<br />
</cfoutput>
</cfif>
</cfloop>
</div>
