
<link rel="stylesheet" type="text/css" href="/styles.css">

<cfmail type="html" from="pgregory@copsmonitoring.com" to="pgregory@copsmonitoring.com,scompher@copsmonitoring.com" subject="An Intranet Error Occurred" username="copalink@copsmonitoring.com" password="copsmoncal">
Exception type:#error.type#<br>
Template:#error.template#<br>
Remote Address:#error.remoteAddress#<br>
HTTP Rerference:#error.HTTPReferer#<br>
Diagnositcs:<br>
#error.diagnostics#<br>
<br>
<br>
<cfdump var="#form#" label="form">
<cfdump var="#url#" label="url">
</cfmail>

<link rel="stylesheet" type="text/css" href="/mobile/styles.css">
<body leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0">
<div align="center">
<br>
<br>
<br>

<table width="300" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td align="center"><b>An Error Has Occurred</b> </td>
	</tr>
	<tr>
		<td align="center"><img src="/images/frowny_face.gif" alt="An Error Has Occurred :(" width="100" height="100"></td>
	</tr>
	<tr>
		<td align="center">It appears an error has occured </td>
	</tr>
	<tr>
		<td align="center">The site administrator has been notified </td>
	</tr>
	<tr>
		<td align="center">And he apologizes for the inconvenience </td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td align="center"><a class="normal" style="text-decoration:underline;" href="javascript:history.go(-1);">Click Here to Return to the Previous Page</a></td>
	</tr>
</table>
</div>
</body>
