<link rel="stylesheet" type="text/css" href="/styles.css">
<script src="/jQuery/jquery-2.1.3.min.js"></script>
<script src="/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.min.css" />
<link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.theme.min.css"/>