
<!--- <cfinclude template="/TemporarilyDown.cfm"> --->

<meta name="google" value="notranslate">

<cfset request.ODBC_Datasource = "intranet">

<!--- getconfig --->
<cfquery name="getconfig" datasource="#request.odbc_datasource#">
	select * 
	from config_main
</cfquery>

<cfset request.AppURL = "#getconfig.siteURL#/">
<cfset copalinkURL = "#getconfig.copalinkURL#">

<cfset request.DirectPath = "e:\websites\intranet\">

<cfset ds = request.ODBC_Datasource>

<!--- set mapping in the coldfusion administrator --->
<cfset request.TemplateMapping = "/templates/">

<!--- set mapping in the coldfusion administrator --->
<cfset request.MenuMapping = "/menu/">

<cfset request.ImageRoot = "#request.AppURL#images/">
<cfset request.CompanyName = "Copalink">
<cfset request.CopsUser = "Administrator">
<cfset request.CopsPass = "Acocunt">
<cfset request.Admin_Email = "pgregory@copsmonitoring.com">
<cfset request.Admin_Name = "Site Administrator">

<style type="text/css">
	TABLE {font-family:Arial, Helvetica, sans-serif;font-size:12px;}
	.normal {font-family:Arial, Helvetica, sans-serif;font-size:12px}
	.heading {font-family:Arial, Helvetica, sans-serif;font-size:16px}
	.titlebar {font-family: Arial, Helvetica, sans-serif;	font-size: 12px;font-weight: bold;color: #FFFFFF;}
	.small {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px}
	a:link {color:#000000; text-decoration: underline;}
	a:visited {text-decoration: underline; color: #000000;}
	a:hover {text-decoration: underline; color: #0000FF;}
	a:active {text-decoration: underline; color: #000000;}
	.box {border: 1px solid #000000;}
	.header {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; background-color: #000066;}
</style>

<!--- important notices 
<div align="center">
<table width="600" border="0" cellpadding="5" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#FFFFFF; border:solid thin #CC0000; background-color:#FF0000; padding:5px">
	<tr>
		<td>IMPORTANT NOTICE</td>
	</tr>
	<cfoutput>
	<tr>
		<td>
		THE INTRANET WILL BE UNAVAILABLE TODAY THURSDAY SEPTEMBER 15TH FROM 1:30PM TO 2:30PM EASTERN TIME WHILE WE PERFORM DATABASE MAINTENANCE.
		</td>
	</tr>
	</cfoutput>
</table>
</div>
 --->
<!--- important notices  --->

