/* CSS Document */

		.dashbutton
		{
		float:right;
		}
		.body
		{
			background-color:#000066;
		}
        .greenClass
        {
            background:#0C5E0E; color:#FFFFFF;
        }
		.purpleClass
		{
			background:#b5b5da;
		}
		.yellowClass
		{
			background:#F4F400;
		}
		.orangeClasss
		{
			background:#F7A414;
		}
		.redClass
		{
			background:#E81212; color:#FFFFFF;
		}
		.blueClass
		{
			background:#000066; color:#FFFFFF;
		}