<link rel="stylesheet" type="text/css" href="/styles.css">

<!--- departmental dashboards --->

<!--- show technology dashboard --->
<cfif listfindnocase(departmentlist,1) is not 0>
	<cfinclude template="/dashboards/technologyDashboard.cfm">
	<br />
</cfif>
<!--- show technology dashboard --->

<!--- show dealer support dashboard --->
<cfif (listfindnocase(departmentlist,3) is not 0)>
	<cfinclude template="/dashboards/dealerSupportDashboard.cfm">
	<br />
</cfif>
<!--- show dealer support dashboard --->

<!--- show sales dashboard --->
<cfif listfindnocase(departmentlist,7) is not 0>
	<cfinclude template="/dashboards/salesDashboard.cfm">
	<br />
</cfif>
<!--- show sales dashboard --->

<!--- show ops dashboard/communicator 
<cfquery name="getcommunicatoraccess" datasource="#ds#">
	select *  
	from Admin_Users 
	where adminuserid = #cookie.adminlogin#
</cfquery>
<cfif getcommunicatoraccess.communicatorAccess is 1>
	<cfinclude template="/dashboards/included/dashboardCommunicator.cfm">
</cfif>
--->
<div align="center" style="font-size:16px; font-weight:bold;">The Ops Communicator is currently down for maintenance</div>
<!--- show ops dashboard/communicator --->

<!--- show dealer tracking --->
<!---<cfinclude template="/dealertracking/index.cfm">--->
<!--- show dealer tracking --->



<!--- fun content below here --->

<!--- show dashboard confessional --->
<!---
<cfquery name="getconfessionalAccess" datasource="#ds#">
	select adminuserid 
	from Admin_Users 
	where confessionalAccess = 1 
</cfquery>
<cfset confessionalList = valuelist(getconfessionalAccess.adminuserid)>
<cfif listfindnocase(confessionalList,cookie.adminlogin) is not 0>
	<cfinclude template="/dashboards/included/dashboardConfessional.cfm">
</cfif>
--->
<!--- show dashboard confessional --->


<!--- show the claw sign for jaimeson 
<cfif cookie.adminlogin is 70>
	<img src="userImages/theClaw.jpg" border="1" />
	<br />
</cfif>
show the claw sign for jaimeson --->

<!--- show theo photo 
<cfif cookie.adminlogin is 149>
	<img src="userImages/thoreal.jpg" border="1" />
	<br />
</cfif>--->
<!--- show theo photo --->

<!--- show the HP photo 
<cfif cookie.adminlogin is 34>
	<img src="userImages/HPHostage.jpg" border="1" />
	<br />
</cfif>
--->
<!--- show the HP photo --->