<link rel="stylesheet" type="text/css" href="/styles.css">
<head>
	<title>C.O.P.S. Monitoring Intranet</title>
</head>

<br>
<br>
<div align="center">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td align="center"><img src="/images/cops-logo.jpg" width="122" height="108"></td>
	</tr>
	<tr>
		<td align="center">&nbsp;</td>
	</tr>
	<tr>
		<td align="center"><b>The Intranet is temporarily unavailable while maintenance is being performed </b></td>
	</tr>
	<tr>
		<td align="center">&nbsp;</td>
	</tr>
</table>
</div>

<cfabort>