<html>
	
	
<body>
	
	<!---
	<cfset filename = CreateUUID()>
	<cfoutput>#filename#</cfoutput>	
	
	<cfparam name="form.fileUpload" default="">
	
	<cfif len(trim(form.fileUpload))>
	  <cffile action="upload"
	     fileField="fileUpload"
	     destination="Test">
	  <p>Thankyou, your file has been uploaded.</p>
	</cfif>
	
	<form enctype="multipart/form-data" method="post">
	  <input type="file" name="fileUpload" /><br />
	  <input type="submit" value="Upload File" />
	</form>
--->


<cfdocument format="PDF" pagetype="letter" marginbottom="1.0" margintop="1.0" marginleft="0.5" marginright="0.5" src = "accountprintout.txt" filename="accountprintout.pdf" >
</cfdocument>
	
	
</body>
</html>