<cfset fepsite = listgetat(fep,1,"-")>
<cfset fepindex = listgetat(fep,2,"-")>
<cfset fepindex = replace(fepindex, "FEP", "", "all")>

<cfquery name="CreateNewFromExisting" datasource="#fep#">
	declare @newSSID as int
	set @newSSID = (select max(signalsourceid) from config_signalsources) 
	set @newSSID = @newSSID + 1 
	insert into config_signalsources (signalsourceid, configid, priority, name, site, type, outputMode, path, heartbeat, keepHeartBeat, terminatingCharacter, ackCharacter, readTimeout) 
	select @newSSID, @newSSID, @newSSID, name + ' copy', 'XX', type, outputMode, path, heartbeat, keepHeartBeat, terminatingCharacter, ackCharacter, readTimeout 
	from config_signalsources 
	where signalsourceid = #ssid# 
</cfquery>

<cflocation url="index.cfm?fepsite=#fepsite#&showss=1">

