
<cfset fepsite = listgetat(fep,1,"-")>
<cfset fepindex = listgetat(fep,2,"-")>
<cfset fepindex = replace(fepindex, "FEP", "", "all")>

<cfquery name="delSS" datasource="#fepsite#-FEP#fepindex#">
	delete from config_signalSources where signalsourceid = #url.ssid# 
</cfquery>
<cflocation url="index.cfm?fepsite=#fepsite#&showss=1">

