
<cfset fepsite = listgetat(fep,1,"-")>
<cfset fepindex = listgetat(fep,2,"-")>
<cfset fepindex = replace(fepindex, "FEP", "", "all")>

<cfquery name="getConfig" datasource="#fep#">
	update config_signalsources 
	set restart = 1 
	where signalsourceid = #ssid# 
</cfquery>

<cflocation url="index.cfm?fepsite=#fepsite#&showss=1">

