
<cfif isDefined("url.maintenance")>
	<cfquery name="setMode" datasource="#fepsite#-fep#fep#">
		update config_main set maintenanceMode = #maintenance# 
	</cfquery>
</cfif>

<cflocation url="index.cfm?fepsite=#fepsite#">