<cfparam name = "form.subject" default = "">
<cfparam name = "form.deptId" default = "">
<cfparam name = "form.AccountNumber" default = "">
<cfparam name = "form.noteDateTime" default = "">
<cfparam name = "dealerNumber" default ="">
<!---<cfset cfaccess="n">--->
<cfset err="">

<!---<cfinclude template = "../dealerMessageCenter/validateMsg.cfm">--->
<!--- if no error, update database --->
<!---<cfif #err# is "" >--->
<cfset dateTime = createodbcdatetime(now())>

<cfquery name="GetLoginId" datasource="#ds#">
	SELECT Admin_Users.defaultdeptid
	FROM Admin_Users
	WHERE Admin_Users.adminuserid = #cookie.adminlogin#	
</cfquery>

<cfset form.deptId = GetLoginId.defaultdeptid>
<cfset form.AccountNumber = form.Rec & "-" & form.Loc>
<cfset form.noteDateTime = dateTime>
<cfset dealerNumber = form.dealer>
<cfinvoke
		 component="dealerMessageCenter.cfc.calAccess"
		 method="getCalAccess"
		 returnvariable="SuccessfulAccess">
		 <cfinvokeargument name="ds" value="#ds#"/>
		 <cfinvokeargument name="dealerNumber" value="#dealerNumber#"/>
</cfinvoke>

<!---<cfset SuccessfulAccess = false>--->
<cfif trim(SuccessfulAccess) is true >  
<cfoutput> 'update will occur' </cfoutput>
	<!---<cfquery name = "UpdateDb" datasource = "#ds#">
		INSERT INTO DealerMessageCenter_Notes (dealerNumber,accountNumber,subscriberName,subject,notes,employeeID,noteDateTime,employeeDepartmentID)
		VALUES ('#form.dealer#',
			'#form.AccountNumber#', 
			'#form.subscriber#',
			'#form.subject#',
			'#form.message#',
			'#cookie.adminlogin#',
			#noteDateTime#,
			'#form.deptId#')
	</cfquery>--->
	<cfelse>
	<cfoutput> 'error - no update'</cfoutput>
	 <cfset #err# ='y'>
</cfif>


<!---<cfoutput>
<br />
dealerNumber = #form.dealer# <br>
accountNumber = #form.AccountNumber# <br>
subscriberName = #form.subscriber#  <br> 
subject = #form.subject#  <br>
notes = #form.message#  <br>
employeeID = #form.employeeName# <br>
noteDateTime = #noteDateTime# <br>
employeeDepartmentID = #form.deptId# <br>
</cfoutput>--->



