﻿@model Intranet.Models.request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requestor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requestor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentTech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentTech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
