﻿@model IEnumerable<Intranet.Models.requestsView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tech Requests";
}

<div align="center" class="normal">
    <table width="955" border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td class="highlightbar"><b>Technology Request Center</b> </td>
        </tr>
        <tr>
            <td class="greyrowbottomnopadding">
                <table border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td colspan="5">
                            <p>
                                <input type="button" onclick="location.href='@Url.Action("create","requests")';return false;" value="Create New Request" class="sidebar" />
                            </p>
                        </td>
                    </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td nowrap style="font-weight:bold;" class="linedrowrightcolumnTopAndBottom"></td>
                        <td nowrap style="font-weight:bold;" class="linedrowrightcolumnTopAndBottom">
                            @Html.DisplayNameFor(model => model.request.dateTimeCreated)
                        </td>
                        <th nowrap style="font-weight:bold;" class="linedrowrightcolumnTopAndBottom">
                            @Html.DisplayNameFor(model => model.request.department)
                        </th>
                        <th nowrap style="font-weight:bold;" class="linedrowrightcolumnTopAndBottom">
                            @Html.DisplayNameFor(model => model.request.requestor)
                        </th>
                        <th nowrap style="font-weight:bold;" class="linedrowrightcolumnTopAndBottom">
                            @Html.DisplayNameFor(model => model.request.currentTech)
                        </th>
                        <th nowrap style="font-weight:bold;" class="linedrowrightcolumnTopAndBottom">
                            @Html.DisplayNameFor(model => model.request.lastUpdated)
                        </th>
                        <th nowrap style="font-weight:bold;" class="linedrowrightcolumnTopAndBottom">
                            @Html.DisplayNameFor(model => model.request.requestText)
                        </th>
                    </tr> 

                    @foreach (var item in Model)
            {
                        <tr>
                            <td nowrap class="linedrowrightcolumn">

                                <a href="@Url.Action("details","requests", new { id = item.request.ID })">
                                    <img src="~/images/manifyingglass.gif" />
                                </a>
                                &nbsp;
                           
                                <a href="@Url.Action("edit","requests", new { id = item.request.ID })" >
                                    @if (item.request.opened == false) { 
                                        <img src="~/images/unread.gif" />
                                    }
                                    else {
                                        <img src="~/images/read.gif" />
                                    }
                                </a>
                            </td>
                            <td nowrap class="linedrowrightcolumn">
                                @Html.DisplayFor(modelItem => item.request.dateTimeCreated)
                            </td>
                            <td nowrap class="linedrowrightcolumn">
                                @Html.DisplayFor(modelItem => item.Admin_Users_Departments.department)
                            </td>
                            <td nowrap class="linedrowrightcolumn">
                                @Html.DisplayFor(modelItem => item.Admin_Users.firstname)
                                @Html.DisplayFor(modelItem => item.Admin_Users.lastname)
                            </td>
                            <td nowrap class="linedrowrightcolumn">
                                @Html.DisplayFor(modelItem => item.Admin_Users2.firstname)
                                @Html.DisplayFor(modelItem => item.Admin_Users2.lastname)
                            </td>
                            <td nowrap class="linedrowrightcolumn">
                                @Html.DisplayFor(modelItem => item.request.lastUpdated)
                            </td>
                            <td nowrap class="linedrowrightcolumn">
                                @Html.DisplayFor(modelItem => item.request.requestTextTrimmed)
                            </td>
                        </tr>
                    }
                </table>
    </table>
</div>
