<cfif projectID gt 0>
	<cfquery name="saveAdditionalResources" datasource="#DS#">
		insert into projectTracker_additionalResources (resource,active,phase,projectID)
		values ('#additionalResources#',1,'#additionalPhases#','#projectID#')
	</cfquery>
</cfif>

<cflocation url="createProject.cfm?projectID=#projectID#" >