<cfif #note# is "">
	<cflocation url="projectView.cfm?projectID=#projectID#" >
</cfif>


<cfquery name="saveNote" datasource="#DS#">
	insert into projectTracker_notes (projectID,note,dateCreated,active)
	values (#projectID#,'#note#',getDate(),1)
</cfquery>

<cflocation url="projectView.cfm?projectID=#projectID#" >