<NOSCRIPT>
<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" 
 codebase="http://active.macromedia.com/flash2/cabs/swflash.cab#version=4,0,2,0"
 ID="Images_2430513520100005_SWF" name="Images_2430513520100005_SWF" WIDTH="900" HEIGHT="500">
	<PARAM NAME="movie" VALUE="/CFIDE/GraphData.cfm?graphCache=wc50&graphID=Images/2430513520100005.SWF"/>
	<PARAM NAME="quality" VALUE="high"/>
	<PARAM NAME="bgcolor" VALUE="#FFFFFF"/>
<EMBED src="/CFIDE/GraphData.cfm?graphCache=wc50&graphID=Images/2430513520100005.SWF" 
		quality="high" bgcolor="#FFFFFF" WIDTH="900" HEIGHT="500" TYPE="application/x-shockwave-flash"
 PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
</EMBED>
</OBJECT>
</NOSCRIPT>
<script type="text/javascript" charset='utf-8' src='/CFIDE/scripts/CF_RunActiveContent.js'></script>
<script type="text/javascript" charset='utf-8'>
CF_RunContent('<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" \r\n codebase="http://active.macromedia.com/flash2/cabs/swflash.cab#version=4,0,2,0"\r\n ID="Images_2430513520100005_SWF" name="Images_2430513520100005_SWF" WIDTH="900" HEIGHT="500">\r\n\t<PARAM NAME="movie" VALUE="/CFIDE/GraphData.cfm?graphCache=wc50&graphID=Images/2430513520100005.SWF"/>\r\n\t<PARAM NAME="quality" VALUE="high"/>\r\n\t<PARAM NAME="bgcolor" VALUE="#FFFFFF"/>\r\n<EMBED src="/CFIDE/GraphData.cfm?graphCache=wc50&graphID=Images/2430513520100005.SWF" \r\n\t\tquality="high" bgcolor="#FFFFFF" WIDTH="900" HEIGHT="500" TYPE="application/x-shockwave-flash"\r\n PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">\r\n</EMBED>\r\n</OBJECT>');
</script>

<cfabort>



<br />

<div align="center">
<!--- calls by hour
<cfquery name="getIncomingCallData" datasource="smdr">
	select 
		convert(datetime, convert(varchar(13), dateTimeOccurred, 120) +':00:00', 120) AS dateTimeOccurred, 
		count(itemid) as callCount
	from smdrData with (nolock) 
	where accessCodeDialed <> '9' 
	group by 
		convert(datetime, convert(varchar(13), dateTimeOccurred, 120) +':00:00', 120) 
	order by 
		dateTimeOccurred
</cfquery>
--->
<!--- calls ever 15 mins --->
<cfquery name="getIncomingCallData" datasource="smdr">
	SELECT 
	  CAST(CONVERT(nvarchar(12),dateTimeOccurred,112) + ' ' + CONVERT(nvarchar(3),dateTimeOccurred,114) + cast(datepart(minute,dateTimeOccurred)/15*15 as nvarchar(6))+':00' as datetime) as dateTimeOccurred,
	  COUNT(itemid) as callCount 
	FROM smdrData with (nolock) 
	where accessCodeDialed <> '9' and dateTimeOccurred > '07/13/2009 07:00:00' and dateTimeOccurred < '07/13/2009 15:00:00'
	GROUP BY CAST(CONVERT(nvarchar(12),dateTimeOccurred,112) + ' ' + CONVERT(nvarchar(3),dateTimeOccurred,114) + cast(datepart(minute,dateTimeOccurred)/15*15 as nvarchar(6))+':00' as datetime)
	ORDER BY CAST(CONVERT(nvarchar(12),dateTimeOccurred,112) + ' ' + CONVERT(nvarchar(3),dateTimeOccurred,114) + cast(datepart(minute,dateTimeOccurred)/15*15 as nvarchar(6))+':00' as datetime)
</cfquery>

<!--- 
<cfquery name="getOutgoingCallData" datasource="smdr">
	select 
		convert(datetime, convert(varchar(13), dateTimeOccurred, 120) +':00:00', 120) AS dateTimeOccurred, 
		count(itemid) as callCount
	from smdrData
	where accessCodeDialed = '9' 
	group by 
		convert(datetime, convert(varchar(13), dateTimeOccurred, 120) +':00:00', 120) 
	order by 
		dateTimeOccurred
</cfquery>
--->
<cfchart databackgroundcolor="##F7F7F7" title="Number of incoming calls every 15 mins" show3d="no"  xaxistitle="Date/Time Occurred"  yaxistitle="Number of Calls" format="flash" chartwidth="900" chartheight="500">
	<cfchartseries type="bar" seriescolor="##92A3B6" serieslabel="Incoming Calls">
		<cfloop query="getIncomingCallData">
			<cfchartdata item="#dateformat(dateTimeOccurred, 'mm/dd')# #timeformat(dateTimeOccurred,'HH:mm')#" value="#callcount#">
		</cfloop>
	</cfchartseries>
	<!--- 
	<cfchartseries type="bar" seriescolor="##00CC00" serieslabel="Outgoing Calls">
		<cfloop query="getOutgoingCallData">
			<cfchartdata item="#dateformat(dateTimeOccurred, 'mm/dd')# #timeformat(dateTimeOccurred,'HH:mm')#" value="#callcount#">
		</cfloop>
	</cfchartseries>
	--->
</cfchart>

<br />
<hr />
<br />

<cfabort>

<!--- 
<cfquery name="getIncomgingExtData" datasource="smdr">
	select dialedNumber, count(itemid) as callCount 
	from smdrData 
	where (dialedNumber like '170%' and len(dialedNumber) = 4) or (dialedNumber IN ('1206','1205'))
	group by dialedNumber
	order by dialedNumber 
</cfquery>

<cfquery name="getOutgoingExtData" datasource="smdr">
	select callingNumber, count(itemid) as callCount 
	from smdrData 
	where (callingNumber like '170%' and len(callingNumber) = 4) or (callingNumber IN ('1206','1205'))
	group by callingNumber
	order by callingNumber
</cfquery>


<cfchart show3d="yes" format="flash" title="Calls by Extention" xaxistitle="Calling Number" yaxistitle="Number of Calls" chartheight="500" chartwidth="700" showlegend="yes" sortxaxis="yes">
	<cfchartseries type="bar" query="getIncomgingExtData" valuecolumn="callCount" itemcolumn="dialedNumber" serieslabel="Incoming Calls"></cfchartseries>
	<cfchartseries type="bar" query="getOutgoingExtData" valuecolumn="callCount" itemcolumn="callingNumber" serieslabel="Outgoing Calls"></cfchartseries>
</cfchart>
--->
</div>
