<link rel="stylesheet" type="text/css" href="/styles.css">

<script type="text/javascript">
function launchViewer() {
	window.open("scroller.cfm","","toolbar=0,menubar=0,resizable=1,width=249,height=450,status=0");
}
</script>

<a class="normal" style="text-decoration:underline;" href="javascript:launchViewer();">click to launch call viewer</a>
<br>
<br>
<a class="normal" style="text-decoration:underline;" href="/index.cfm">Return to Intranet</a> 