
<cfquery name="insertEmp" datasource="#ds#">
	truncate table employeePortalEmployees
</cfquery>

<cffile action="read" file="e:\websites\intranet\employeePortal\empImport.txt" variable="empData">

<cfloop list="#empData#" delimiters="#chr(13)#" index="emp">
	<cfset empArray = emp.split("#chr(9)#")>
	<cfset site = trim(empArray[1])>
	<cfset employeeID = trim(empArray[2])>
	<cfset lastName = trim(empArray[3])>
	<cfset firstName = trim(empArray[4])>
	<cfset password = "cops#employeeID#">
	<cfquery name="insertEmp" datasource="#ds#">
		insert into employeePortalEmployees (employeeID, firstname, lastname, username, password, site, active, isLockedOut, lockoutExpires, passwordExpired, expiresDateTime, failedLoginAttempts, lastFailedAttempt) 
		values (#employeeID#, '#firstname#', '#lastname#', '#employeeID#', '#password#', '#site#', 1, 0, NULL, 1, '11/04/2013', 0, NULL) 
	</cfquery>
</cfloop>

