

<cfif isdefined("form.btnadd")>

	<cfquery name="addcat" datasource="#ds#">
		insert into reimbursements_categories (category)
		values ('#form.category#')
	</cfquery>
	
	<cflocation url="index.cfm">

<cfelse>

	<div align="center">
	<body onLoad="document.forms[0].category.focus();">
	<form method="post" action="add.cfm">
	<table border="1" cellspacing="0" cellpadding="5">
		<tr>
			<td align="center" bgcolor="FFFFCC"><b>Add A Category </b></td>
		</tr>
		<tr>
			<td><b>Category Name:</b></td>
		</tr>
		<tr>
			<td><input type="text" name="category" style="width:500px"></td>
		</tr>
		<tr>
			<td>
			<input type="submit" name="btnAdd" value="Add Category">
			<input type="reset" value="Clear Form">
			</td>
		</tr>
	</table>
	</form>
	</body>
	</div>

</cfif>