

<cfif isdefined("form.btnedit")>

	<cfquery name="udpatecat" datasource="#ds#">
		update reimbursements_categories 
		set category = '#form.category#'
		where categoryid = #id#
	</cfquery>
	
	<cflocation url="index.cfm">

<cfelse>

	<cfquery name="getcat" datasource="#ds#">
		select * from reimbursements_categories
		where categoryid = #id#
	</cfquery>

	<div align="center">
	<form method="post" action="edit.cfm">
	<cfoutput>
	<input type="hidden" name="id" value="#id#">
	</cfoutput>
	<table border="1" cellspacing="0" cellpadding="5">
		<tr>
			<td align="center" bgcolor="FFFFCC"><b>Edit A Category </b></td>
		</tr>
		<cfoutput query="getcat">
		<tr>
			<td><b>Category Name:</b></td>
		</tr>
		<tr>
			<td><input type="text" name="category" style="width:500px" value="#getcat.category#"></td>
		</tr>
		</cfoutput>
		<tr>
			<td>
			<input type="submit" name="btnedit" value="Update Category">
			<input type="reset" value="Reset Form">
			</td>
		</tr>
	</table>
	</form>
	</div>

</cfif>

