
<cfset filepath = "e:\websites\intranet\sales\files">

<cfif fileExists("#filepath#\#url.file#")>
	<cffile action="delete" file="#filepath#\#url.file#">
</cfif>

<cfswitch expression="#url.filetype#">
	<cfcase value="presentation"><cfset update = "presentation = ''"></cfcase>
	<cfcase value="quote"><cfset update = "priceQuote = ''"></cfcase>
	<cfcase value="salesbook"><cfset update = "salesBook = ''"></cfcase>
</cfswitch>

<cfquery name="updateDealerInfo" datasource="#ds#">
		update salesportal_dealers 
		set #update# 
		where dealerid = #dealerid#
</cfquery>

<cflocation url="edit.cfm?dealerid=#dealerid#">