<cfset ds = "allLines">

<cfquery name="getDups" datasource="#ds#">
	select receiver, count(*) as dupcount 
	from   receivers 
	group  by receiver 
	having count(*) > 1  
	order by receiver asc 
</cfquery>

<cfoutput query="getDups">
	<cfset rcvr = getDups.receiver>
	<!--- get max id --->
	<cfquery name="getmaxid" datasource="#ds#">
		select max(receiverid) as maxid 
		from receivers 
		where receiver = '#rcvr#' 
	</cfquery>
	<!--- clean out and rebuild lookup --->
	<cfif trim(getmaxid.maxid) is not "">
		<cfset RID = getmaxid.maxid>
		
		
	<!--- remove other dups from receiver table --->
	
	</cfif>	
</cfoutput>