
<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<cf_copalink command="statuscheck">

<div class="normal">
<cfoutput>
#dateformat(now(), 'long')# #timeformat(now(),'long')#<br /><br />
#replace(result, chr(13), "<br />", "all")#
</cfoutput>

<br />
<br />

<a href="index.cfm">Return to menu</a>

</div>
