
<cfinclude template="functions.cfm">

<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<div class="normal">

<cfset result = checkSLA()>

<cfoutput>
Lastid: #result.lastid#<br />
Currentid: #result.currentid#<br>
</cfoutput>

<br />

<cfif result.status is "RED">
	<b style="color:#FF0000">Status Red</b>
<cfelse>
	<b style="color:#006633">Status Green</b>
	<cffile action="write" file="#request.directpath#\utilities\slaCheck.txt" output="#result.currentID#">
</cfif>

<br />
<br />

<a href="checkSLA.cfm">Refresh Page</a>
<br />
<br />
<a href="index.cfm">Return to Previous Page</a>
</div>