

<!--- delete any session scoped queries --->
<cfset t = structdelete(session, "getSvcCodes")>
<cfset t = structdelete(session, "qAccountAlarmlist")>
<cfset t = structdelete(session, "idlist")>
<cfset t = structdelete(session, "codelist")>
<cfset t = structdelete(session, "qSignalList")>
<cfset t = structdelete(session, "GetAccounts")>
<cfset t = structdelete(session, "qGetSupervised")>
<cfset t = structdelete(session, "getTestResults")>
<cfset t = structdelete(session, "")>




