
<cfif isdefined("form.btnUpdate")>
	<cfquery name="updatePacket" datasource="copalink">
		update ves_realtime_data 
		set datapacket = '#trim(form.datapacket)#'
		where itemid = #form.itemid#
	</cfquery>
</cfif>

<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<cfquery name="getsignals" datasource="copalink">
	select * from ves_realtime_data order by itemid asc
</cfquery>

<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td><b>XML:</b></td>
	</tr>
	<cfoutput query="getsignals">
	<pre>
	#datapacket#
	</pre>
	<form method="post" action="fixxml.cfm">
	<input type="hidden" name="itemid" value="#getsignals.itemid#">
	<tr>
		<td>
			<textarea name="datapacket" cols="100" rows="10">#getsignals.datapacket#</textarea>
		</td>
	</tr>
	<tr>
		<td>
			<input type="submit" name="btnUpdate" value="Update">
		</td>
	</tr>
	</form>
	</cfoutput>
</table>

