
<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<cfparam name="form.qString" default="select * from copalinkTransLog where ip = '' and logoutput like '%%' order by transactionid desc">

<div class="normal">
<form method="post" action="getlog.cfm" class="normal">
<table width="100%" border="0" cellspacing="0" cellpadding="5" class="normal">
	<tr>
		<td>Enter query string:</td>
	</tr>
	<tr>
		<td>
<textarea name="qString" style="width:450px;" rows="7">
<cfoutput>#trim(form.qString)#</cfoutput>
</textarea>
		</td>
	</tr>
	<tr>
		<td><input class="normal" type="submit" name="btnGetLog" value="Get Log Information" class="normal"></td>
	</tr>
</table>
</form>
</div>

<cftry>

<cfif isdefined("form.btngetlog")>

	<cfquery name="getlog" datasource="copalink">
	#trim(preservesinglequotes(form.qString))#
	</cfquery>
	
	<cfdump var="#getlog#">
	
</cfif>

<cfcatch>
	<cfoutput>
	#cfcatch.Message#<br>
	#cfcatch.Detail#<br>
	</cfoutput>
</cfcatch>

</cftry>