
<cfset cmd = "<request><dealerNumber>9999</dealerNumber><dealerPasscode>44455</dealerPasscode><command>SC</command></request>">
<cfset cmd = cmd & chr(4)>

<cfset copalinkServer = "192.168.3.10">
<cfset copalinkPort = "20010">

<cfsilent>
<cfset clientSocket = createobject("java","java.net.Socket")>
<cfset inStream = createobject("java","java.io.BufferedReader")>
<cfset outStream = createobject("java","java.io.PrintWriter")>
<cfset iReader = createobject("java","java.io.InputStreamReader")>
<cfset temp = clientSocket.init(copalinkServer,copalinkPort)>
<cfset temp = iReader.init(clientSocket.getInputStream())>
<cfset temp = outStream.init(clientSocket.getOutputStream(), true)>
<cfset temp = inStream.init(iReader)>
<cfset temp = outStream.println("#cmd#")>
<cfset output = "">
<cfset endflag = false>
<cfloop condition="endflag is false">
	<cfset output = output & inStream.readLine()>
	<cfif findnocase("<EOF>",output) is not 0>
		<cfset endFlag = true>
	</cfif>
</cfloop>
<cfset temp = outStream.close()>
<cfset temp = inStream.close()>
<cfset temp = clientSocket.close()>
<cfset output = replace(output,chr(11),"","all")>
<cfset output = trim(replace(output,"<EOT>","","all"))>
<cfset output = trim(replace(output,"<EOF>","","all"))>
</cfsilent>

<style type="text/css">
.normal {font-family:"Courier New", Courier, monospace; font-size:12px}
</style>

<div class="normal">
<cfoutput>#dateformat(now(),'mm/dd/yyyy')# #timeformat(now(),'hh:mm:ss tt')#</cfoutput>
<br />
<br />
<cfoutput>
#xmlformat(output)#
</cfoutput>
<br />
<br />
<a href="index.cfm">Return to menu</a>
</div>
