
<cfsetting requesttimeout="120">

<cfset dn = "9999">
<cfset pc = "44455">

<cfset xmlCmd = "<request><dealerNumber>" & dn & "</dealerNumber><dealerPasscode>" & pc & "</dealerPasscode><command>SC</command></request>">
<cf_copalink command="#xmlCmd#">
<cfset xResult = xmlParse(result)>

<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<div class="normal">
<cfoutput>#dateformat(now(),'mm/dd/yyyy')# #timeformat(now(),'hh:mm:ss tt')#</cfoutput>
<br />
<br />
<cfif xResult.response.result.xmlText is "RJ">
	RJ<br />
	<cfoutput>#xResult.response.data.messages.message.xmlText#</cfoutput>
<cfelse>
	OK<br />
	<cfoutput>#xResult.response.data.xmlText#</cfoutput>
</cfif>
<br />
<br />
<a href="index.cfm">Return to menu</a>
</div>
