
<cfset br = "#chr(13)#">

<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000}
.red {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FF0000}
.green {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#006633}
</style>

<cftry>
<cfexecute name="d:\bat\restart_accum_server.bat" timeout="5" variable="result"></cfexecute>
<cfcatch type="any">
	<cfset result = "<b>ERROR OCCURRED: </b><br>" & cfcatch.Detail & "<br>" & cfcatch.Message & "<br><br>">
</cfcatch>
</cftry>
<span class="normal">
<br />
<cfoutput>
#trim(replace(result,br,"<br />","all"))#
</cfoutput>
</span>
<br />
<a href="index.cfm">Return to Menu</a>
