
<cfsetting enablecfoutputonly="no" requesttimeout="240">

<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<cftry>

	<cfif fileExists("D:\java\restartlog.txt")>
		<cffile action="delete" file="D:\java\restartlog.txt">
	</cfif>
	
	<cfexecute name="d:\java\restartPICK.bat" timeout="180" outputfile="d:\java\restartlog.txt"></cfexecute>
	
	<cffile action="read" file="d:\java\restartlog.txt" variable="result">
	
	<div class="normal">
	
	<cfoutput>
	#dateformat(now(), 'long')# #timeformat(now(),'long')#<br /><br />
	#replace(result, chr(13), "<br />", "all")#
	</cfoutput>

	<br />
	<br />
	
	<a href="index.cfm">Return to menu</a>
	
	</div>

	<cfcatch type="any">
		<cfoutput>
		#cfcatch.Message#<br />
		#cfcatch.Detail#<br />
		</cfoutput>
	</cfcatch>

</cftry>



