<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<div class="normal">
<cftry>
	<cfsavecontent variable="restartVES">
	  <cfexecute name="d:\java\test.bat" timeout="5"></cfexecute>
	</cfsavecontent>
	<cfcatch type="any">
		<cfoutput>
		#cfcatch.Detail#
		</cfoutput>
	</cfcatch>
</cftry>

<cfif isdefined("restartVES")>
<cfoutput>
#replace(restartVES, chr(13), "<br />", "all")#
</cfoutput>
</cfif>

The servers have been restarted

<br />
<br />
<a href="index.cfm">Return to menu</a>
</div>