
<cfsetting enablecfoutputonly="no" requesttimeout="30">

<cfparam name="action" default="">

<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<div class="normal">
<cfoutput>#dateformat(now(), 'long')# #timeformat(now(),'long')#<br /><br /></cfoutput>

<cfexecute name="d:\java\serverswitchtosarah.bat" timeout="10" outputfile="d:\java\serverswitchtosarah.txt"></cfexecute>

DONE
<br />
<br />
<a href="index.cfm">Return to menu</a>
</div>
