
<cfquery name="switchModes" datasource="#request.odbc_datasource#">
	update billingmode 
	set 
	<cfif isDefined("url.techmode")>
	technicalmode = #url.techmode#
	</cfif>
	<cfif isDefined("url.maintmode")>
	maintmode = #url.maintmode# 
	</cfif>
	<cfif isDefined("url.maintmessage")>
	maintmsg = #url.maintmessage#
	</cfif>
</cfquery>

<cflocation url="index.cfm">
