
<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<cfif isdefined("form.btnUpdate")>

<CF_COPALINK COMMAND="999944455ZZ~UPDATE~#form.versionNum#">

<div class="normal">

<cfoutput>
#result#
</cfoutput>

<br>
<br>

<a class="normal" href="restart.cfm">Click here to restart ports</a>

</div>

<cfabort>
</cfif>


<div class="normal">
<form method="post" action="">
	<table border="0" cellspacing="0" cellpadding="5" class="normal">
		<tr>
			<td><b>Enter version number:</b></td>
			<td>
				<input type="text" name="versionNum" size="10" maxlength="10" class="normal" value="CAL." />
			</td>
			<td>
				<input type="submit" name="btnUpdate" value="Update CAL" class="normal" />
			</td>
		</tr>
	</table>
</form>

<a href="index.cfm">Return to menu</a>

</div>

