
<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px}
</style>

<CF_COPALINK COMMAND="999944455ZZ~VERSION">

<div class="normal">

<cfoutput>#RESULT#</cfoutput>

<br />
<br />

<a href="index.cfm">Return to menu</a>

</div>

