
<cfset br = "#chr(13)#">

<style type="text/css">
.normal {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000}
.red {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FF0000}
.green {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#006633}
</style>

<cftry>
<cffile action="read" file="D:\Java\logs\ScrollingAlarmServer.log" variable="fileContent">
<cfcatch type="any">
	<cfset fileContent = "<b>ERROR OCCURRED: </b><br>" & cfcatch.Detail & "<br>" & cfcatch.Message & "<br><br>">
</cfcatch>
</cftry>
<span class="normal">
<br />
<cfoutput>
#trim(replace(fileContent,br,"<br />","all"))#
</cfoutput>
</span>
<br />
<a href="index.cfm">Return to Menu</a>