
<cfquery name="checklogin" datasource="#request.odbc_datasource#">
	select * from admin_users
	where username = '#form.username#' and password = '#form.password#' and active = 1
</cfquery>

<cfif checklogin.recordcount IS 1>
	<cfif isdefined("form.rememberInfo")>
		<cfcookie name="adminlogin" value="#checklogin.adminuserid#" expires="never">
	<cfelse>
		<cfcookie name="adminlogin" value="#checklogin.adminuserid#">
	</cfif>
	<cfset lastlogin = createodbcdatetime(now())>
	<cfquery name="updatelogin" datasource="#ds#">
		update admin_users
		set lastlogin = #lastlogin#
		where adminuserid = #checklogin.adminuserid#
	</cfquery>
	<meta http-equiv="refresh" content="0;url=/index.cfm">
	<span class="heading"><b>Logging In...</b></span>
<cfelse>
	<cflocation url="index.cfm?m=Invalid Login">
</cfif>
