<style type="text/css">
	TABLE {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px}
	.normal {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px}
	.heading {font-family:Arial, Helvetica, sans-serif;font-size:12px}
</style>

<cfcookie name="adminlogin" expires="now">
<cfcookie name="seclist" expires="now">

<meta http-equiv="refresh" content="0;url=/index.cfm">

<span class="heading"><b>Logging Out...</b></span>