
<link rel="stylesheet" type="text/css" href="/styles.css">

<cfinclude template="doCalculations.cfm">

<div align="center" class="normal">
<b style="font-size:18px">Test Complete</b>
<br />
<br />
<br />
<cfoutput>
<a class="normal" style="text-decoration:underline;" href="printout.cfm?tid=#tid#">Click here to view results and print</a>
</cfoutput>
</div>

