﻿table {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
input, select, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.normal {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #000066;
	font-weight: bold;
	border: 1px solid #000000;
}
.nopadding {padding:0px}
.smallred {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF0000;
}
.smalltable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.smallheader {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #000066;
	font-weight: bold;
	border: 1px solid #000000;
}
.link {
	color:#6A6CC8;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
input.submit
{
border: 3px double #999999;
border-top-color: #CCCCCC;
border-left-color: #CCCCCC;
padding: 0.25em;
background-color: #EEEEEE;
background-image: url(images/background_form_element.gif);
background-repeat: repeat-x;
color: #333333;
font-size: 75%;
font-weight: bold;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size:10px
}

.highlightbar {
border-top:solid 1px #000000;
border-bottom:solid 1px #000000;
border-left:solid 1px #000000;
border-right:solid 1px #000000;
background-color:#B2BFCD;
}

.highlightbartopbottomborderonly {
border-top:solid 1px #000000;
border-bottom:solid 1px #000000;
background-color:#B2BFCD;
}
.newshighlightbar {
border-top:solid 1px #000000;
border-bottom:solid 1px #000000;
border-left:solid 1px #000000;
border-right:solid 1px #000000;
background-color:#B2BFCD;
}

.lightbutton {
border-top:solid 1px #000000;
border-bottom:solid 1px #000000;
border-left:solid 1px #000000;
border-right:solid 1px #000000;
padding:2px;
background-color:#C7CFD9;
}

.sidebar {
border-top:solid 1px #000000;
border-bottom:solid 1px #000000;
border-left:solid 1px #000000;
border-right:solid 1px #000000;
background-color:#AFBBC9;
padding:0px;
}

.sidebarsmall {
font-size:11px;
border-top:solid 1px #000000;
border-bottom:solid 1px #000000;
border-left:solid 1px #000000;
border-right:solid 1px #000000;
background-color:#AFBBC9;
padding:0px;
}

.greyrow {
border-left:solid 1px #000000;
border-right:solid 1px #000000;
background-color:#F7F7F7;
}

.grey {background-color:#F7F7F7;}

.greyrowbottom {
border-left:solid 1px #000000;
border-right:solid 1px #000000;
border-bottom:solid 1px #000000;
background-color:#F7F7F7;
}

.greyrowbottomnopadding {
border-left:solid 1px #000000;
border-right:solid 1px #000000;
border-bottom:solid 1px #000000;
background-color:#F7F7F7;
padding:0px;
}
.greyrowright {
border-left:solid 0px #000000;
border-right:solid 1px #000000;
background-color:#F7F7F7;
}

.greyrowleft {
border-left:solid 1px #000000;
border-right:solid 0px #000000;
background-color:#F7F7F7;
}

.greyrowbottomleft {
border-left:solid 1px #000000;
border-right:solid 0px #000000;
border-bottom:solid 1px #000000;
background-color:#F7F7F7;
}

.greyrowbottomright {
border-left:solid 0px #000000;
border-right:solid 1px #000000;
border-bottom:solid 1px #000000;
background-color:#F7F7F7;
}

.navbuttons {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color:#AFBBC9;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C7CFD9;
	border-right-color: #757D86;
	border-bottom-color: #000000;
	border-left-color: #C7CFD9;
}

.horizontalnavbuttons {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	padding:3px;
	background-color:#AFBBC9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #757D86;
	border-bottom-color: #000000;
	border-left-color: #C7CFD9;
}
.headerbar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color:#C7CFD9;
	border-bottom:solid 1px #888888;
}
.hoverOver {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color:#C7CFD9;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C7CFD9;
	border-right-color: #757D86;
	border-bottom-color: #000000;
	border-left-color: #C7CFD9;
}
.hoverOut {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color:#AFBBC9;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C7CFD9;
	border-right-color: #757D86;
	border-bottom-color: #000000;
	border-left-color: #C7CFD9;
}

.menulink {
	color:#000000; 
	text-decoration:none;
}

a:link {color:#000000; text-decoration: none;}
a:visited {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; color: #000000;}
a:active {text-decoration: none; color: #000000;}

form {margin-bottom: 0px;} 

.linedrow {border-bottom:#D7D7D7 solid 1px}

.linedtop {border-top:#D7D7D7 solid 1px}

.linedrowrightcolumn {border-bottom:#D7D7D7 solid 1px; border-right:#D7D7D7 solid 1px}

.linedrowrightcolumnTopAndBottom {border-bottom:#D7D7D7 solid 1px; border-right:#D7D7D7 solid 1px; border-top:#D7D7D7 solid 1px;}

.alert {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FF0000;}

.yellowAlert {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFF99;}

.box {
	border: 1px solid #000000;
}

.lightbox {
	border: 1px solid #AAAAAA;
}
