<!--- Managers Log Appended Entry Save page --->
<!--- if not blank, update database --->
<cfset entryDateTime = createodbcdatetime(now())>
<cfquery name = "InsertDb" datasource = "#ds#">

INSERT INTO managerLog_appendedLogEntries(entryDateTime,entryText,logID,adminUserID)
		VALUES (#entryDateTime#,
				'#form.entryText#',
				#form.logid#, 
				#cookie.adminlogin#)
</cfquery>

