
<cfquery name="GetName" datasource="#ds#">

SELECT managerLog_appendedLogEntries.*
FROM managerLog_appendedLogEntries
<!---WHERE logid = #url.logid#--->

<!---SELECT managerLog_logEntries.*, Admin_Users.firstname, Admin_Users.lastname
	FROM managerLog_logEntries 
	LEFT JOIN Admin_Users on managerLog_logEntries.adminUserID = Admin_Users.adminuserid--->
	
</cfquery>

<cfoutput query="GetName">
#GetName.appendedEntryID# <br />
#GetName.entryDateTime# <br />
#GetName.entryText# <br />
<!---#GetName.logID# <br />--->

<!---#GetName.adminuserid# <br>
#GetName.firstname# <br />
#GetName.lastname# <br />--->

</cfoutput>