<title>Stella's Test Page</title>
<body>
<!---<cfquery name="GetUser" datasource="intranet">
SELECT * FROM Admin_Users
WHERE lastname = 'maahs'
</cfquery>

<cfoutput query="GetUser">
#GetUser.adminuserid# <br>
#GetUser.defaultdeptid#> <br>
#GetUser.firstname#> <br>
#GetUser.lastname#> <br>
#GetUser.username#> <br>
</cfoutput>--->

<cfquery name="SelectTest" datasource="intranet">
SELECT * from managerLog_logEntries 

</cfquery>

<cfoutput query="SelectTest">
	<br>
	#SelectTest.accountNumber# <br>
	#SelectTest.dateTimeEntered# <br> 
	#SelectTest.adminUserID# <br>
	#SelectTest.subject#  <br> 
	#SelectTest.otherSubject# <br> 
	#SelectTest.note#  <br>       
</cfoutput>



</body>

