
<cfparam name="t" default="Cam View">
<cfparam name="u" default="">

<cfset camURL = u>

<title><cfoutput>#t#</cfoutput></title>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
<object border="1" type="application/x-shockwave-flash" width="320" height="240" data="<cfoutput>#camURL#</cfoutput>/flashMJPEG.swf">
<param name="movie" value="<cfoutput>#camURL#</cfoutput>/flashMJPEG.swf?webcam=<cfoutput>#camURL#</cfoutput>/cam_1.jpg&amp;refresh=50&amp;connect=&amp;offline=&amp;transtype=Fade&amp;bgcolor=#FFFFFF&amp;txtcolor=#808080" />
<param name="FlashVars" value="webcam=<cfoutput>#camURL#</cfoutput>/cam_1.jpg&amp;refresh=50&amp;connect=&amp;offline=&amp;transtype=Fade&amp;bgcolor=#FFFFFF&amp;txtcolor=#808080" />
<param name="loop" value="false" />
<param name="menu" value="false" />
<param name="quality" value="best" />
<param name="scale" value="noscale" />
<param name="salign" value="lt" />
<param name="wmode" value="opaque" />
</object>
</body>
