
<cfoutput>
	<!--- build service code list--->	
	<cfquery name='getalarmnetServices' datasource="lydiabilling">
		select serviceCode
		from serviceConversion
		where vendor = 'Alarmnet'
	</cfquery>
	<cfset serviceList = quotedValueList(getalarmnetServices.serviceCode)>
	
	<cfquery name="getBill" datasource="lydiabilling">
		select * from alarmnet
		join serviceconversion
		on alarmnet.itemnum = serviceconversion.item
		where billed = 'Yes'
		and ignore is NULL
		and serviceconversion.vendor = 'AlarmNet'
	</cfquery>


<cfquery name="getAccounts" datasource="uccbilling">
		select 
		stages.site.SiteNum 'siteNum',
		stages.site.SiteName 'siteName',
		stages.Device.OOSStartDate 'oosDate',
		stages.Transmitter.TransmitterCode 'accountNum',
		stages.SiteContractItem.ContractItem 'serviceCode',
		stages.Sitegrouplink.SiteGroupNum 'dealerNum',
		stages.SiteGroup.name 'dealerName',
		stages.Device.DevNum 'devNum',
		stages.Device.OOSCat
		from stages.SiteContractItem
		join stages.device
		on stages.device.devnum = stages.sitecontractitem.devnum
		join stages.transmitter
		on stages.device.devnum = stages.transmitter.devnum
		join stages.site
		on stages.sitecontractitem.sitenum = stages.site.sitenum
		join stages.Sitegrouplink
		on stages.site.SiteNum = stages.sitegrouplink.SiteNum
		join stages.SiteGroup
		on stages.SiteGroup.SiteGroupNum = stages.Sitegrouplink.SiteGroupNum
		where contractitem in (#preservesinglequotes(serviceList)#)
</cfquery>

<!---		
<cfloop query="getAccounts">
	<cfquery name="checkBill" dbtype="query">
		select * from getBill where automationid = '#getAccounts.accountNum#'
	</cfquery>
	<cfif checkBill.recordcount is 0>
		#getAccounts.accountNum#
		<cfbreak>  
	</cfif>
</cfloop>		
		
--->
	
	
	
</cfoutput>