<cfset today = dateformat(Now(),'mm/dd/yyyy')>
<cfset starttime = Now()>
<cfset outputFilePath = "#request.DirectPath#\test\steve"><br />
<cfsetting requesttimeout="30000">
<!---<cffile action="delete" file="#outputFilePath#/alarmcom.csv">--->
<cfoutput>
		<cfquery name='getuplinkServices' datasource="lydiabilling">
		select serviceCode
		from serviceConversion
		where vendor = 'Alarm.com'
	</cfquery>
	<cfset serviceList = quotedValueList(getuplinkServices.serviceCode)>
	<cfquery name="getAccounts" datasource="lydiaBilling">
		select *
		from stages.SiteContractItem
		join stages.device
		on stages.device.devnum = stages.sitecontractitem.devnum
		join stages.transmitter
		on stages.device.devnum = stages.transmitter.devnum
		join stages.site
		on stages.sitecontractitem.sitenum = stages.site.sitenum
		where contractitem in (#preservesinglequotes(serviceList)#)
	</cfquery>

	<cfquery name="getBill" datasource="lydiabilling">
		select * from alarmcom
		join serviceconversion
		on alarmcom.chargedesc = serviceconversion.item
		where ignore is NULL
		and chargeType != 'Activation'
		and chargeType != 'Service'
	</cfquery>
	
	<cfquery name="getDealerCharges" datasource="lydiabilling">
		select * from alarmcom
		where
		chargeType = 'Activation'
		or chargeType = 'Service'
	</cfquery>
	<cfloop query="getDealerCharges">
		<cffile action="append" file="#outputFilePath#/dealercharges.csv"
		output='#getDealerCharges.fullacctnum#,#getDealerCharges.chargeDesc#'
		addnewline="yes">
	
	</cfloop>


<cfloop query="getBill">
		<cfquery name="getRow" dbtype="query">
		select *
		from getAccounts
		where (transmittercode = '#getBill.fullacctnum#'<cfif trim(getBill.dealerCustomerID) is not ''> or transmittercode = '#getBill.dealerCustomerID#'</cfif>)
		and contractitem = '#getbill.serviceCode#'
		</cfquery>
		<cfif getRow.recordCount is 0>
			<cfquery name="getCurrentAccount" datasource="lydiabilling">
				select *
				from stages.transmitter
				where transmittercode = '#getBill.fullacctnum#'
			</cfquery>
			<cfif getCurrentAccount.recordcount is 0>
				<cffile action="append" file="#outputFilePath#/alarmcommissing.csv"
				output='#getBill.fullacctnum#,#getBill.serviceCode#'
				addnewline="yes">
			<cfelse>
				<cffile action="append" file="#outputFilePath#/alarmcomserviceadded.csv"
				output='#getBill.fullacctnum#,#getBill.serviceCode#'
				addnewline="yes">
			</cfif>
		</cfif>
</cfloop>
<cfloop query="getAccounts">
	<cfquery name="checkBill" dbtype="query">
		select *
		from getBill
		where (fullAcctNum = '#getAccounts.transmittercode#' or dealerCustomerID = '#getAccounts.transmittercode#')
		or (dealerCustomerID = '#getAccounts.transmittercode#' and dealerCustomerID is not NULL)
	</cfquery>
	<cfif checkBill.recordcount is 0>
		<cfif trim(getAccounts.oosstartdate) is not ''>
			<cffile action="append" file="#outputFilePath#/alarmcomnotonbillcancelled.csv"
			output='#getAccounts.transmittercode#,#getAccounts.contractItem#'
			addnewline="yes">
		<cfelse>
			<cffile action="append" file="#outputFilePath#/alarmcomnotonbill.csv"
			output='#getAccounts.transmittercode#,#getAccounts.contractItem#'
			addnewline="yes">
		</cfif>
	</cfif>
</cfloop>
</cfoutput>