<cfset today = dateformat(Now(),'mm/dd/yyyy')>
<cfset serviceAddTime = createodbcdatetime(now())>
<cfset starttime = Now()>
<cfoutput>
<cfset outputFilePath = "#request.DirectPath#\test\steve\telguard">
<cfsetting requesttimeout="30000">

	<cfmail from="reports@copsmonitoring.com" to="ktallman@copsmonitoring.com" subject="Telguard Audit">
		<cfmailparam file="#outputFilePath#/telguardnotonbill.csv">
		<cfmailparam file="#outputFilePath#/telguardnotonbillcancelled.csv">
		<cfmailparam file="#outputFilePath#/telguardserviceadded.csv">
		<cfmailparam file="#outputFilePath#/telguardmissing.csv">
		<cfmailparam file="#outputFilePath#/telguardonbillcancelleducc.csv">
	</cfmail>
</cfoutput>
	<cfabort>