<cfset today = dateformat(Now(),'mm/dd/yyyy')>
<cfset outputFilePath = "#request.DirectPath#\steve">
<!---<cfoutput>
	<cfquery name="getAccounts" datasource="uccbilling">
		select stages.site.sitenum, stages.site.sitetype, stages.site.sitename, stages.sitegrouplink.sitegroupnum, 
		stages.site.siteid1, stages.sitecontractitem.ContractItem
		from Stages.Site
		join stages.sitegrouplink
		on stages.site.sitenum = stages.sitegrouplink.sitenum
		left outer join stages.SiteContractItem
		on stages.site.sitenum = stages.sitecontractitem.sitenum
		join stages.device
		on stages.site.sitenum = stages.device.sitenum
		where 
		siteid1 is not null
		and stages.sitegrouplink.sitegroupnum = '404'
		and (Stages.device.oosstartdate is null or Stages.device.oosstartdate > '#today#')
	</cfquery>
</cfoutput>

<cfspreadsheet
query="getAccounts"
action="write"
filename="#outputFilePath#\uccaccounts.xlsx"
overwrite = "true">--->

<cfoutput>
<cfftp secure="yes" action="putfile" localfile="#outputfilepath#\uccaccounts.xlsx" remotefile="/steve/uccaccounts.xlsx" username="web" password="L1JEpTs3" server="192.168.3.10" port="22">
</cfoutput>


