

<cfif isDefined("form.btnInputAlarms")>

	<cfloop list="#form.alarms#" delimiters="#chr(13)#" index="alarmitem">
		<cfif trim(alarmitem) is not "">
			<cfset acctnum = listgetat(alarmitem,1," ")>
			<cfoutput>
			Account ##: #acctnum#<br />
			Event: #listgetat(alarmitem,2,chr(32))#<br />
			Code: #listgetat(alarmitem,3,chr(32))#<br />
			Zone: #listgetat(alarmitem,4,chr(32))#<br />
			</cfoutput>
			<br />
		</cfif>
	</cfloop>
	
<!--- 
<cfquery name="saveAlarm" datasource="#ds#">
	insert into alarms_main (referenceid, accountNumber, zone, eventQualifier, eventCode, eventZone, newAlarm, dateTimeReceived, responseCode, alarmXml, responseXml, receivingNode, receivingServer, ipAddress, incomingPort, uniqueID, note) 
	values (#referenceID#, '#csAccountNumber#', '#alarmInfo#', '#eventQualifier#', '#eventCode#', '#eventZone#', 1, GETDATE(), #responseCode#, '#alarmXml#', '#result#', '#node#', '#cgi.HTTP_HOST#', '#cgi.REMOTE_ADDR#', '#cgi.SERVER_PORT#', '#uniqueIdentifier#', '#note#') 
</cfquery>
--->
	
<cfelse>
	
	<cfform method="post" action="index.cfm" name="alarmform">
	Manually input alarms:<br />
	Insert alarms on separate lines like C99900000 1 130 001<br />
	<textarea name="alarms" rows="10" cols="50"></textarea>
	<br />
	<input type="submit" name="btnInputAlarms" value="Submit Alarms" />
	</cfform>
	
</cfif>

