<style type="text/css">
	TABLE {font-family:Arial, Helvetica, sans-serif, sans-serif;font-size:12px}
	.normal {font-family:Arial, Helvetica, sans-serif, sans-serif;font-size:12px}
	.heading {font-family:Arial, Helvetica, sans-serif;font-size:12px}
	.titlebar {font-family: Arial, Helvetica, sans-serif;	font-size: 12px;font-weight: bold;color: #FFFFFF;}
	a:link {color: #000000; text-decoration: none;}
	a:visited {text-decoration: none; color: #000000;}
	a:hover {text-decoration: none; color: #0000FF;}
	a:active {text-decoration: none; color: #000000;}
</style>

<div align="center">
<form method="post" action="add_save.cfm">
<table border="0" cellpadding="0" cellspacing="5">
    <tr>
        <td colspan="2"><b>Add Status</b></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td><b>Description:</b></td>
        <td><input name="description" type="text" class="normal" size="75" maxlength="100">&nbsp;<input type="submit" class="normal" value="Add"> </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>
</form>
</div>
