<style type="text/css">
	TABLE {font-family:Arial, Helvetica, sans-serif, sans-serif;font-size:12px}
	.normal {font-family:Arial, Helvetica, sans-serif, sans-serif;font-size:12px}
	.heading {font-family:Arial, Helvetica, sans-serif;font-size:12px}
	.titlebar {font-family: Arial, Helvetica, sans-serif;	font-size: 12px;font-weight: bold;color: #FFFFFF;}
	a:link {color: #000000; text-decoration: none;}
	a:visited {text-decoration: none; color: #000000;}
	a:hover {text-decoration: none; color: #0000FF;}
	a:active {text-decoration: none; color: #000000;}
</style>

<cfquery name="getstatus" datasource="#ds#">
	select * from tasktracker_status
	where statusid = #id#
</cfquery>

<div align="center">
<form method="post" action="edit_save.cfm">
<cfoutput>
<input type="hidden" name="id" value="#id#">
</cfoutput>
<table border="0" cellpadding="0" cellspacing="5">
    <tr>
        <td colspan="2"><b>Edit Status</b></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
	<cfoutput query="getstatus">
    <tr>
        <td><b>Description:</b></td>
        <td><input name="description" type="text" class="normal" size="75" maxlength="100" value="#getstatus.description#">&nbsp;<input type="submit" class="normal" value="Update"> </td>
    </tr>
	</cfoutput>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>
</form>
</div>
