<cfif isDefined("categoryID")>
	<cfquery name="deleteCategory" datasource="#DS#">
		update dealerdiary_contactCategories
		set active=0
		where categoryid='#categoryID#'
	</cfquery>
</cfif>

<cflocation url="manageCategory.cfm">