<cfapplication name="Intranet" clientmanagement="NO" sessionmanagement="yes">

<cfinclude template="/mappings.cfm">
<!--- 
<cferror type="exception" template="/errorMsg.cfm" mailto="pgregory@copsmonitoring.com">
<cferror type="REQUEST" template="/errorMsg.cfm" mailto="pgregory@copsmonitoring.com">
--->
<cfif isDefined("cookie.adminLogin")>
	<cfinclude template="/auth.cfm">
</cfif>

