<link rel="stylesheet" type="text/css" href="../styles.css">


<div align="center">
<table width="400" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td class="highlightbar"><b>All Lines Menu</b> </td>
	</tr>
	<tr>
		<td class="greyrowbottomnopadding">
			<table width="100%" border="0" cellspacing="0" cellpadding="5">
				<tr>
					<td class="linedrow"><b><a href="search.cfm">Search For Items</a></b></td>
				</tr>
				<tr>
					<td class="linedrow"><b><a href="new.cfm">Add New Item</a></b></td>
				</tr>
				<tr>
					<td class="linedrow"><b><a href="reports/reportGenerator.cfm">Report Generator</a></b></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<a class="normal" style="text-decoration:underline;" href="/index.cfm">Return to Intranet</a>
</div>
