

<cfquery name="getlinked" datasource="alllines">
	select LinkedTo, phonenumber 
	from All_Lines
	where LinkedTo <> '' 
	order by LinkedTo, PhoneNumber 
</cfquery>

<cfoutput query="getLinked" group="linkedto">
<b>#linkedTo#</b><br />
<cfoutput>
#phonenumber#<br>
</cfoutput>
<br />

</cfoutput>