﻿@model Intranet.Models.apiLogin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>apiLogin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.login)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.login)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.active)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.active)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apidoc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apidoc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.receiveAlarm)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.receiveAlarm)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emailAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emailAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.QADealerNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.QADealerNum)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
