
<link rel="stylesheet" type="text/css" href="../styles.css">

<div align="center">

	<table width="750" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td class="highlightbar">Test</td>
		</tr>
		<tr>
			<td class="greyrowbottomnopadding">
				<table width="100%" border="0" cellspacing="0" cellpadding="5">
					<tr>
						<td class="nopadding">
							<table width="100%" border="0" cellspacing="0" cellpadding="5">
								<tr>
									<td>Date:</td>
									<td>&nbsp;</td>
									<td>Time:</td>
									<td>&nbsp;</td>
									<td>Site:</td>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="nopadding">
							<table width="100%" border="0" cellspacing="0" cellpadding="5">
								<tr>
									<td>Name:</td>
									<td>&nbsp;</td>
									<td>Department:</td>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>This is text </td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br>
	<table width="750" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td class="highlightbar">Test</td>
		</tr>
		<tr>
			<td class="greyrowbottomnopadding">
				<table width="100%" border="0" cellspacing="0" cellpadding="5">
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br>
	<table width="750" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td class="highlightbar">Test</td>
		</tr>
		<tr>
			<td class="greyrowbottomnopadding">
				<table width="100%" border="0" cellspacing="0" cellpadding="5">
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
</div>
