
<style type="text/css">
	TABLE {font-family:Arial, Helvetica, sans-serif;font-size:12px; background-color:#FFFFFF;}
	.normal {font-family:Arial, Helvetica, sans-serif;font-size:12px}
	.heading {font-family:Arial, Helvetica, sans-serif;font-size:16px}
	.titlebar {font-family: Arial, Helvetica, sans-serif;	font-size: 12px;font-weight: bold;color: #FFFFFF;}
	.small {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px}
	a:link {color:#000000; text-decoration: underline;}
	a:visited {text-decoration: underline; color: #000000;}
	a:hover {text-decoration: underline; color: #0000FF;}
	a:active {text-decoration: underline; color: #000000;}
	.box {border: 1px solid #000000;}
</style>

<div align="center" class="normal">
<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<td align="center" bgcolor="FFFFCC"><b>Special Arrangments Menu </b></td>
	</tr>
	<tr>
		<td align="center"><a href="dealers/">Dealer Administration</a></td>
	</tr>
	<tr>
		<td align="center"><a href="payments/">Payment Administration</a></td>
	</tr>
	<tr>
		<td align="center"><a href="reports/">Reporting</a></td>
	</tr>
</table>
<br>
<a href="/index.cfm">Return to Intranet Menu</a>
</div>

