
<cfif isDefined("form.btnAddNote")>

	<!--- save note --->
	<cfquery name="updatenote" datasource="#ds#">
		update dealerdiary_dealers
		set notes = '#form.content#'
		where dealerid = #form.id#
	</cfquery>
	
	<!--- refresh opener window --->
	<cfoutput>
	<script language="JavaScript">
	<!--
	self.opener.location="getdealer.cfm?dn=#form.dn#";
	self.close();
	//-->
	</script> 
	</cfoutput>

<cfelse>

	<cfquery name="getnote" datasource="#ds#">
		select * from dealerdiary_dealers
		where dealerid = #id#
	</cfquery>
	
	<body onLoad="document.forms[0].content.focus();">
	<div align="center">
		<form method="post" action="editnotation.cfm">
		<cfoutput>
		<input type="hidden" name="id" value="#id#">
		<input type="hidden" name="dn" value="#getnote.dealernumber#">
		</cfoutput>
		<table border="0" cellpadding="3">
			<cfoutput query="getnote">
			<tr>
				<td><b>Notation:</b><br>
				<textarea name="content" style="width:500px" rows="7" class="normal">#getnote.notes#</textarea></td>
			</tr>
			</cfoutput>
			<tr>
				<td>
				<input name="btnAddNote" type="submit" value="Update Notation">
				<input onClick="self.close();" type="button" value="Close">
				</td>
			</tr>
		</table>
		</form>
	</div>
	</body>
</cfif>
