<cfsetting showdebugoutput="no">
<cfheader name="Content-Type" value="application/json">
<cfinvoke 
 webservice="http://192.168.107.115/remoting/alarmlist.cfc?wsdl"
 method="getAlarms"
 returnvariable="alarmList">
	<cfinvokeargument name="dn" value="C094"/>
	<cfinvokeargument name="pc" value="44455"/>
	<cfinvokeargument name="types" value="1|2|3"/>
	<cfinvokeargument name="did" value="1234567890"/>
</cfinvoke>

<cfquery name="limitResults" dbtype="query">
	select name 
	from alarmList 
	order by alarmid asc 
</cfquery>
<cfoutput>
#SerializeJSON(limitresults,true)#
</cfoutput>