
<cfparam name="url.tid" default="0">
<cfparam name="url.pid" default="0">
<cfparam name="url.mid" default="0">

<cfquery name="deleteTask" datasource="#ds#">
	delete from projectTracking_items 
	where itemid = #url.tid# 
</cfquery>

<cflocation url="manageTasks.cfm?pid=#url.pid#&mid=#url.mid#">

