
<cfset dn = "C094">
<cfset type = "1|2|3">

<cfset key = "#dateformat(now(),'mmddyyyy')# #timeformat(now(),'HHmmssl')#">

<cfset pc = hash(key)>

<title>Scrolling List of Alarms</title>
<body bgcolor="#000066" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="https://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100%" height="100%" id="alarmlist" align="middle">
<param name="allowScriptAccess" value="always" />
<cfoutput>
<param name="movie" value="alarmlist.swf?url=#request.appurl#&dn=#dn#&pc=#pc#&types=#type#" />
</cfoutput>
<param name="menu" value="false" />
<param name="quality" value="high" />
<param name="bgcolor" value="#000066" />
<cfoutput>
<embed src="alarmlist.swf?url=#request.appurl#&dn=#dn#&pc=#pc#&types=#type#" menu="false" quality="high" bgcolor="##000066" width="100%" height="100%" name="alarmlist" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="https://www.macromedia.com/go/getflashplayer" />	
</cfoutput>
</object>
</body>
