
<cfset ds = "smdr">

<cftransaction>
	<cfquery name="DelExtensions" datasource="#ds#">
		delete from department_extension_lookup 
		where departmentid = #d# 
	</cfquery>
	<cfquery name="delDept" datasource="#ds#">
		delete from departments 
		where departmentid = #d# 
	</cfquery>
</cftransaction>

<cflocation url="index.cfm">