
<cfinvoke 
 component="dealerMessageCenter.cfc.dealerMessageCenter"
 method="addToDealerDiary"
 returnvariable="addToDealerDiaryRet">
	<cfinvokeargument name="noteid" value="1"/>
	<cfinvokeargument name="departmentID" value="1"/>
</cfinvoke>



<cfoutput>#addToDealerDiaryRet#</cfoutput>

<br>


done
