<cfquery name = "DeleteDb" datasource = "#ds#">
	update DealerMessageCenter_Notes 
	set copsDeleted = 1, dateTimeCopsDeleted = #createodbcdatetime(now())#, copsDeletedWho = #cookie.adminlogin# 
	WHERE noteid = #noteid#
</cfquery>
<!--- 
<cfsetx toList = "hsparks@copsmonitoring.com">
<cfmail from="system.info@copsmonitoring.com" to="#toList#" subject="Deletion Notification - dealer message center" username="system" password="V01c3">
	A message was deleted from the dealer message center by #getsec.firstname# #getsec.lastname# at #dateformat(now(),'mm/dd/yyyy')# #timeformat(now(),'HH:mm')# 

</cfmail>
--->
<cflocation url="index.cfm">


