

<div align="center">
<form method="post">
<cfoutput>
<input type="hidden" name="btnadd" value="1">
<input type="hidden" name="categoryid" value="#form.categoryid#">
<input type="hidden" name="DATEREIMBURSED" value="#form.DATEREIMBURSED#">
<input type="hidden" name="EMPLOYEENUM" value="#form.EMPLOYEENUM#">
<input type="hidden" name="NOTES" value="#form.notes#">
<input type="hidden" name="RECEIPTDATE" value="#form.RECEIPTDATE#">
<input type="hidden" name="REIMBURSEMENTAMOUNT" value="#form.REIMBURSEMENTAMOUNT#">
<input type="hidden" name="REQUESTEDAMOUNT" value="#form.REQUESTEDAMOUNT#">
<input type="hidden" name="RXNUMBER" value="#form.RXNUMBER#">
<input type="hidden" name="continue" value="1">
</cfoutput>
<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<td align="center" bgcolor="FFFFCC"><b>ATTENTION</b></td>
	</tr>
	<tr>
		<td>There is an existing entry with the same RX number and reimbursement date. </td>
	</tr>
	<tr>
		<td>Click return to go back and make changes, or press continue to save entry. </td>
	</tr>
	<tr>
		<td align="center">
		<input type="button" onClick="history.go(-1);" value="Return">
		<input type="submit" name="Submit" value="Continue">
		</td>
	</tr>
</table>
</form>
</div>
