<!--- Managers Log Delete email page --->
<cfquery name = "DeleteEmail" datasource = "#ds#">
	DELETE FROM managerLog_emailNotifications
	WHERE notificationID = #url.notificationID#
	
</cfquery>
<cflocation url="index.cfm">
