<!--- Managers Log Save Email Edit page --->
<cfquery name = "UpdateDb" datasource = "#ds#">
	UPDATE managerLog_emailNotifications
		SET name         = '#form.name#',
			emailAddress = '#form.emailAddress#'
		WHERE notificationID = #form.notificationID# 
</cfquery>
	
<cflocation url="index.cfm">




	
	
	