<!DOCTYPE html>
<html lang="en">
<head>
<title>jQuery Toolbar Sample</title>   
<link rel="stylesheet" href="/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="/jqwidgets/jqwidgets/styles/jqx.darkblue.css" type="text/css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/rowcolors.css" type="text/css" />
<link rel="stylesheet" href="/styles.css" type="text/css" />
<script type="text/javascript" src="/jqwidgets/scripts/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxdata.js"></script> 
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxdata.export.js"></script> 
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.sort.js"></script> 
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.pager.js"></script> 
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.selection.js"></script> 
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.edit.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.export.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.filter.js"></script>
<script type="text/javascript" src="/jqwidgets/jqwidgets/jqxgrid.columnsreorder.js"></script>
<script type="text/javascript" src="/benTicket/functions.js"></script>

</head>
<body>
    <div id="jqxgrid"></div>
</body>
</html>