
<cfset lastdatetime = dateadd("h",-1,now())>

<cfquery name="checkLatest" datasource="NJ-FEP1">
	select top 1 signalsource, datetimeReceived 
	from signals 
	where signalsource like '%aes_1%' or signalsource like '%aes_2%' and datetimereceived >= #createodbcdatetime(lastdatetime)#
	order by datetimereceived desc 
</cfquery>

<cfif checklatest.recordcount is 0>
<cfmail from="pgregory@copsmonitoring.com" to="pgregory@copsmonitoring.com" subject="AES no traffic alert">
No traffic within the last hour for AES 1 or AES 2 cluster
</cfmail>
</cfif>

<cfquery name="checkLatest" datasource="NJ-FEP1">
	select top 1 signalsource, datetimeReceived 
	from signals 
	where signalsource like '%aes_3%' or signalsource like '%aes_4%' and datetimereceived >= #createodbcdatetime(lastdatetime)#
	order by datetimereceived desc 
</cfquery>

<cfif checklatest.recordcount is 0>
<cfmail from="pgregory@copsmonitoring.com" to="pgregory@copsmonitoring.com" subject="AES no traffic alert">
No traffic within the last hour for AES 3 or AES 4 cluster
</cfmail>
</cfif>

<cfquery name="checkLatest" datasource="NJ-FEP1">
	select top 1 signalsource, datetimeReceived 
	from signals 
	where signalsource like '%aes_5%' or signalsource like '%aes_6%' and datetimereceived >= #createodbcdatetime(lastdatetime)#
	order by datetimereceived desc 
</cfquery>

<cfif checklatest.recordcount is 0>
<cfmail from="pgregory@copsmonitoring.com" to="pgregory@copsmonitoring.com" subject="AES no traffic alert">
No traffic within the last hour for AES 5 or AES 6 cluster
</cfmail>
</cfif>

<cfquery name="checkLatest" datasource="NJ-FEP1">
	select top 1 signalsource, datetimeReceived 
	from signals 
	where signalsource like '%aes_7%' or signalsource like '%aes_8%' and datetimereceived >= #createodbcdatetime(lastdatetime)#
	order by datetimereceived desc 
</cfquery>

<cfif checklatest.recordcount is 0>
<cfmail from="pgregory@copsmonitoring.com" to="pgregory@copsmonitoring.com" subject="AES no traffic alert">
No traffic within the last hour for AES 7 or AES 8 cluster
</cfmail>
</cfif>



