
<cfset raw = "C022514 10:40:38   6141^V607 1 373 G01 Z023 |22172C0000,3">

<cfloop from="1" to="1000" index="i">
	<cfset uuid = createuuid()>
	<!--- 
	<cfset sleepAmount = randRange(1,300)>
	<cfthread action="sleep" duration="#sleepAmount#"></cfthread>
	 --->
	<cfquery name="insertSignal" datasource="nj-fep1">
		insert into signals (rawData, signalSource, dateTimeReceived, newSignal, referenceID)
		values ('#raw#', 'NJ_OH2K_1:TCP,192.168.35.248,12109:NJ:STD',getdate(),1,'#uuid#')
	</cfquery>
</cfloop>

done 
