<style type="text/css">
P {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000;}
.large {font-size:18px; font-weight:bold;} 
</style>
<p class="large">Email Spam/Content filtering System Tutorial</p>
<p>Welcome to the brief overview of the new spam system for email. This system will enable you to manage your own spam and blocked emails. From this interface you can release, blacklist, whitelist and delete any emails the system may have marked as suspicious and blocked from reaching you.</p>
<p>Each day you will get a notification of any email the system has quarantined from the previous day. From this email you can safely view the content of the message, as well as delete, blacklist, whitelist or release from quarantine to deliver to your mailbox. </p>
<p>The email will have the subject line of &quot;Your Cloud Email Security message report&quot;. If you do not see this email you either don't have any quarantined emails, or it could be in your junk folder.</p>
<p><br>
    <img src="/spamtutorial/images/msglist.jpg" width="673" height="68" border="1"></p>
<p>Simply open the email to see the list of items blocked by the spam filter. It will look like this: </p>
<p><img src="/spamtutorial/images/msgdetail.jpg" width="800" height="584"></p>
<p>You can see there are 4 buttons next to each message, labeled &quot;Details&quot;, &quot;Release&quot;, &quot;Whitelist&quot;, and &quot;Blacklist&quot;. The details button will allow you to safely read the content the of message. Release will tell the system to release this message from quarantine and send it on to your mailbox. The white list button will add the sender to a whitelist, which simply tells the system that sender is safe and not to block it any more. Blacklisting is the opposite, which will tell the system to always block that sender as it's definite spam. </p>
<p>Here is what the detail view looks like:</p>
<p><img src="/spamtutorial/images/msgdetail4.jpg" width="800" height="429"> </p>
<p>You can view the content of the message, and you'll have access to the same options as the previous page to handle the message. </p>
<p>If you have any questions or experience any trouble, give Phil Gregory a call at ext. 1706</p>
<p>&nbsp; </p>

