
<cfparam name="type" default="">

<cfsetting showdebugoutput="yes">

<cfset sendString = #dn# & #pc# & "LO" & chr(13) & chr(10)>


<cf_copalink command="#sendString#">


<cfif #Left(result,2)# is not 'OK'>

	<cflocation url="index.cfm?invalidLogin=true&dealernumber=#dn#&type=#type#">

<cfelse>

	<style> 
		<!--
		A.menunav{font-size : 8pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		A.menunav_yellow{font-size : 8pt; color : FFFF99; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		A.menunav:hover{font-size : 8pt; color : C0C0C0; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		A.link{font-size : 9pt; color : b9b9ff; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		A.link:hover{font-size : 9pt; color : C0C0C0; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.rollovertype{font-size : 14pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : bold;}
		.footer{font-size : 8pt; color : C0C0C0; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.regtext{font-size : 8pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.textlink{font-size : 8pt; color : 000099; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.hdrtext{font-size : 12pt; color : CCCCFF; font-family : Verdana, sans; text-decoration : none; font-weight : 900;}
		.subhdrtext{font-size : 10pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : 900;}
		.formtext{font-size : 9pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.formtextyellow{font-size : 9pt; font-family : Verdana, sans; text-decoration : none; font-weight : normal; 	color: #FFFF00;}
		.formtextbold{font-size : 9pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : bold;}
		.alerttext{font-size : 10pt; color : cc0033; font-family : Verdana, sans; text-decoration : none; font-weight : 900;}
		.printhdrtext{font-size : 9pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : 900;}
		.printtext{font-size : 7pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.printtextbold{font-size : 7pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : bold;}
		.small{font-size : 8pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.menutxt{font-size : 8pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.buttontxt{font-size : 9pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
		.menu {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #DDDDDD; text-decoration: none;}
		.menulink {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #DDDDDD; text-decoration: none;}
		.menulinkdark {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none;}
		-->
	</style> 
<!--- 	 
	<cfif NOT isDefined("session.datakey")>
		<cfset hashkey = "#dateformat(now(),'mmddyyyy')##timeformat(now(),'HHmmssl')#">
		<cfset session.datakey = hash(hashkey)>
	</cfif>
 --->	
	<cfset hashkey = "#dateformat(now(),'mmddyyyy')##timeformat(now(),'HHmmssl')#">
	<cfset session.datakey = hash(hashkey)>

	<CFSET SendString = #dn# & #pc# & "SL~" & #type# & #chr(13)#>
	
	<html>
	<body bgcolor="#000066" leftmargin=0 topmargin=0 marginheight="0" marginwidth="0">
	<div align="center">
		<Table width="760" cellpadding="5" cellspacing="0" border="0" bgcolor="#000066">
		<TR>
			<TD align="Center" bgcolor="#000066">
				<p class="hdrtext">C.O.P.S. Monitoring - Scrolling List of Alarm Signals<br></p>
				<span class="formtext">This item uses Flash player 7 or higher, please <a style="color:#FFFFFF" href="https://www.macromedia.com/go/getflashplayer">download here</a> if you cannot see the scrolling list below</span>	
			</TD>
		</TR>
		<TR>
			<TD align="Center" bgcolor="#000066">
				<span class="formtextbold"><a style="color:#FFFFFF" href="/index.cfm">Click here to return to the Intranet Menu</a></span>	
			</TD>
		</TR>
		</TABLE>
	
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="https://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100%" height="100%" id="alarmlist" align="middle">
		<param name="allowScriptAccess" value="always" />
		<cfoutput>
		<param name="movie" value="http://192.168.3.244/alarmscroll/alarmlist.swf?datakey=#session.datakey#&SendString=#sendstring#" />
		</cfoutput>
		<param name="menu" value="false" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#000066" />
		<cfoutput>
		<embed src="http://192.168.3.244/alarmscrollalarmlist.swf?datakey=#session.datakey#&SendString=#sendstring#" menu="false" quality="high" bgcolor="##000066" width="100%" height="100%" name="alarmlist" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="https://www.macromedia.com/go/getflashplayer" />
		</cfoutput>
		</object>
	
	</div>
	</body>
	</html>

</cfif>

