
<cfinclude template="#request.TemplateMapping#Auth.cfm">


<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
<!--
   
	
	function transvar3()
	{
		var type = "";
		if (document.viewform.types[0].checked==true)
			type = "1|";
		if (document.viewform.types[1].checked==true)
			type = type + "2|";
		if (document.viewform.types[2].checked==true)
			type = type + "3|";
			
		if (type == "")
		{
			alert ("Please check at least one check box")	
			return;
		}	
		type = type.substr(0, type.length-1);
		
		urlstring = "alarmsignalsList1.cfm?type="+type;
		nwWindow=window.open(urlstring, 'scrollWindow');
		nwWindow.focus();
	}    
	
//-->
</SCRIPT>

<cfinclude template="#request.TemplateMapping#header.cfm">
<CFOUTPUT>
<Form action="alarmSignalsList.cfm" method="Post" name="viewform">
<table width="635" cellpadding="0" cellspacing="4" Border="0"><tr><td align="center">
<Table width="500" cellpadding="0" cellspacing="0" Border="0">
	<TR>
		<TD align="Center">
			<span class="hdrtext">C.O.P.S. Monitoring - Scrolling List of Alarm Signals</span>
		</TD>			
	</TR>
	<TR>
		<TD align="Center">
			<BR><span class="subhdrtext">Scrolling List of Alarm Signals</span>
		</TD>
	</TR>
	<TR>
		<TD>
			<Table width="500" cellpadding="2" cellspacing="0" border="0">
				<TR>
					<TD>
						<input type="checkbox" name="types" value="1" checked><span class="formtext">Dispatcher Handled Alarms</span><br>
						<input type="checkbox" name="types" value="2" checked><span class="formtext">Logged In Alarms</span><br>
						<input type="checkbox" name="types" value="3"><span class="formtext">Test Results</span><br>
					</TD>
				</TR>
			</Table>
		</TD>
	</TR>
	
	<TR>
		<TD>
			<BR>
			<input type="button" name="GetList" value="Get Scrolling List of Alarm Signals" onClick="transvar3()">
			<!--- 
			DISABLED : PG : 10/4/2006 
			re-endlabled : pg : 10/10/2006 with 5 minute refresh
			--->
			<!--- <input type="button" name="GetList" value="Get Scrolling List of Alarm Signals"> --->
		</TD>
	</TR>
</Table>
</td></tr></table>
</Form>
</CFOUTPUT>
<cfinclude template="#request.TemplateMapping#footer.cfm">