<style> 
 <!--
  A.menunav{font-size : 8pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  A.menunav_yellow{font-size : 8pt; color : FFFF99; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  A.menunav:hover{font-size : 8pt; color : C0C0C0; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  A.link{font-size : 9pt; color : b9b9ff; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  A.link:hover{font-size : 9pt; color : C0C0C0; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .rollovertype{font-size : 14pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : bold;}
  .footer{font-size : 8pt; color : C0C0C0; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .regtext{font-size : 8pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .textlink{font-size : 8pt; color : 000099; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .hdrtext{font-size : 12pt; color : CCCCFF; font-family : Verdana, sans; text-decoration : none; font-weight : 900;}
  .subhdrtext{font-size : 10pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : 900;}
  .formtext{font-size : 9pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .formtextyellow{font-size : 9pt; font-family : Verdana, sans; text-decoration : none; font-weight : normal; 	color: #FFFF00;}
  .formtextbold{font-size : 9pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : bold;}
  .alerttext{font-size : 10pt; color : cc0033; font-family : Verdana, sans; text-decoration : none; font-weight : 900;}
  .printhdrtext{font-size : 9pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : 900;}
  .printtext{font-size : 7pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .printtextbold{font-size : 7pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : bold;}
  .small{font-size : 8pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .menutxt{font-size : 8pt; color : FFFFFF; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .buttontxt{font-size : 9pt; color : 000000; font-family : Verdana, sans; text-decoration : none; font-weight : normal;}
  .menu {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #DDDDDD; text-decoration: none;}
  .menulink {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #DDDDDD; text-decoration: none;}
  .menulinkdark {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none;}
 -->
 </style> 
 