
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="https://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100%" height="100%" id="alarmlist" align="middle">
<param name="allowScriptAccess" value="always" />
<cfoutput>
<param name="movie" value="#request.appurl#/alarmscroll/alarmlist.swf?dn=#dn#&pc=#pc#&types=#type#" />
</cfoutput>
<param name="menu" value="false" />
<param name="quality" value="high" />
<param name="bgcolor" value="#000066" />
<cfoutput>
<embed src="#request.appurl#/alarmscrollalarmlist.swf?dn=#dn#&pc=#pc#&types=#type#" menu="false" quality="high" bgcolor="##000066" width="100%" height="100%" name="alarmlist" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="https://www.macromedia.com/go/getflashplayer" />
</cfoutput>
</object>


<!--- 
<cfsetting showdebugoutput="yes">

<cfset ss = "9999" & "44455" & "SL~" & "1|2" & chr(13)>

<cftry>
	<!--- 
	<cfinvoke component="remoting.alarmlist" method="sayHello" returnvariable="ret">
		<cfinvokeargument name="dn" value="9999">
		<cfinvokeargument name="pc" value="12345">
	</cfinvoke>
	
	<cfdump var="#ret#">
	--->

	<cfinvoke 
		component="remoting.alarmlist" 
		method="getAlarms" 
		returnVariable="res">
		<cfinvokeargument name="types" value="1|2|3">
		<cfinvokeargument name="dn" value="9999">
		<cfinvokeargument name="pc" value="12345">
	</cfinvoke>

	<cfdump var="#res#">

	<cfcatch type="any">
		<cfoutput>
		#cfcatch.Message#<br>
		#cfcatch.Detail#<br>
		</cfoutput>
	</cfcatch>
</cftry> 
 --->