
<link rel="stylesheet" type="text/css" href="../styles.css">

<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
function showScroll(i) {
	urlstring = "launcher.cfm";
	nwWindow=window.open(urlstring, 'scrollWindow' + i, "width=950,height=600,resizable=yes,location=no,copyhistory=no,scrollbars=no");
	// this.focus();
}
function launchwin() {
	for (var i = 0; i < 20; i++) {
		setTimeout('showScroll(' + i + ');', 500);
	}
}
</SCRIPT>

<div align="center" class="normal">
<table width="600" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td>
		<br />
		<br />
		<b>This will open 5 scrolling list windows</b><br />
		<br />
		If your pop ups are blocked, you'll have to allow pop ups from this site (a yellow bar will appear at the top of the screen if pop ups are blocked and give you the option to allow popups)
		<br />
		<br /><br />
		<a style="text-decoration:underline" href="javascript:launchwin();"><b>Click Here to test</b></a><br /><br />
		<br />
		<br />
		<a href="/index.cfm" style="text-decoration:underline;">Return to Intranet Menu</a>
		</td>
	</tr>
</table>
</div>

