
<cftry>
<!--- <cfset request.appurl = "http://#cgi.HTTP_HOST#"> --->
9/28/2016
<cfset request.appurl = "http://intranet.copsmonitoring.com">

<cfparam name="dn" default="">
<cfparam name="pc" default="">
<cfparam name="type" default="1|2|3">

<cfif not isDefined("type")><cfset type = "1|2|3"></cfif>
<cfif isDefined("dealerNumber")><cfset dn = dealerNumber></cfif>
<cfif isDefined("passcode")><cfset pc = passcode></cfif>

<title>Scrolling List of Alarms</title>
<body bgcolor="#000066" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="https://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100%" height="100%" id="alarmlist" align="middle">
<param name="allowScriptAccess" value="always" />
<cfoutput>
<param name="movie" value="alarmlist.swf?url=#request.appurl#/&dn=#dn#&pc=#pc#&types=#type#&cn=#dn#/#pc#" />
</cfoutput>
<param name="menu" value="false" />
<param name="quality" value="high" />
<param name="bgcolor" value="#000066" />
<cfoutput>
<embed src="alarmlist.swf?url=#request.appurl#/&dn=#dn#&pc=#pc#&types=#type#&cn=#dn#" menu="false" quality="high" bgcolor="##000066" width="100%" height="100%" name="alarmlist" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="https://www.macromedia.com/go/getflashplayer" />	
</cfoutput>
</object>
</body>
<cfcatch type="any">
<cfoutput>
#cfcatch.Detail# 
<br>
#cfcatch.Message#
</cfoutput>
</cfcatch>
</cftry>