


<cfinvoke 
 webservice="http://copalink.copsmonitoring.com/remoting/alarmlist.cfc?wsdl"
 method="getAlarms"
 returnvariable="aQuery">
	<cfinvokeargument name="dn" value="c094"/>
	<cfinvokeargument name="pc" value="555555"/>
	<cfinvokeargument name="types" value="1|2|3"/>
	<cfinvokeargument name="did" value="10000"/>
</cfinvoke>

<cfdump var="#aQuery#">

