
<cfparam name="dealer" default="cops">
<cfsetting showdebugoutput="no">

<br>
<br>
<div align="center">
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3"><img src="/privatelabel/images/iphonepreview_top.png" width="532" height="137"></td>
    </tr>
	<tr>
		<td height="482"><img src="/privatelabel/images/iphonepreview_left.png" width="106" height="515"></td>
		<td width="322"><iframe src="http://www.alarminfo.net/mobile/login/index.cfm?dealer=<cfoutput>#dealer#</cfoutput>" height="515" width="322" frameborder="0" scrolling="no"></iframe></td>
		<td><img src="/privatelabel/images/iphonepreview_right.png" width="104" height="515"></td>
	</tr>
    <tr>
        <td colspan="3"><img src="/privatelabel/images/iphonepreview_bottom.png" width="532" height="153"></td>
    </tr>
</table>
</div>
<br>
<br>
