
<!--- remove site --->
<cfquery name="removesite" datasource="copalink_cobrand">
	update site_main 
	set dealerid = dealerid + '_removed_#dateformat(now(),'yyyymmdd')#', live = 0, currentStatus = 'removed' 
	where siteid = #sid# 
</cfquery>

<cflocation url="/privatelabel/index.cfm">

