
<cfquery name="getEmailAddys" datasource="#ds#">
	select * from troubleTicket_notificationEmails 
	where uponCompletion like '%jhowe%' or uponOverdue like '%jhowe%' 
</cfquery>

<cfloop query="getEmailAddys">
<cfset newCompletion = "">
<cfset newOverdue = "">
<cfoutput>
	<cfset id = getEmailAddys.notificationid>
	ID: #id#<br />
	Before Completion: #getEmailAddys.uponCompletion#<br />
	<cfif listlen(getEmailAddys.uponCompletion) gt 1>
		<cfloop list="#getEmailAddys.uponCompletion#" index="address">
			<cfif trim(ucase(address)) is not "JHOWE@COPSMONITORING.COM">
				<cfset newCompletion = listappend(newCompletion,address)>
			</cfif>
		</cfloop>
	<cfelse>
		<cfif trim(ucase(getEmailAddys.uponCompletion)) is "JHOWE@COPSMONITORING.COM">
			<cfset newCompletion = "PGREGORY@COPSMONITORING.COM">
		<cfelse>
			<cfset newCompletion = getEmailAddys.uponCompletion>
		</cfif>
	</cfif>
	AFter Completion: #newCompletion#<br />
	Before Overdue: #getEmailAddys.uponOverdue#<br />
	<cfif listlen(getEmailAddys.uponOverdue) gt 1>
		<cfloop list="#getEmailAddys.uponOverdue#" index="address">
			<cfif trim(ucase(address)) is not "JHOWE@COPSMONITORING.COM">
				<cfset newOverdue = listappend(newOverdue,address)>
			</cfif>
		</cfloop>
	<cfelse>
		<cfif trim(ucase(getEmailAddys.uponOverdue)) is "JHOWE@COPSMONITORING.COM">
			<cfset newOverdue = "PGREGORY@COPSMONITORING.COM">
		<cfelse>
			<cfset newOverdue = getEmailAddys.uponOverdue>
		</cfif>
	</cfif>
	After Overdue: #newOverdue#<hr />
	<cfquery name="updateItem" datasource="#ds#">
		update troubleTicket_notificationEmails 
		set uponCompletion = '#newCompletion#', uponOverdue = '#newOverdue#' 
		where notificationid = #id# 
	</cfquery>
</cfoutput>
</cfloop>

done
