﻿@model Intranet.Controllers.SearchDemoRecord
@{
    ViewBag.Title = "Search Demo";
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="container body-content">
        @using (Html.BeginForm("Index", "SearchDemo", FormMethod.Post))
        {
            
            <h3>Search Demo</h3>

            <ul class="nav nav-tabs">                
                <li id="liBasic" class="active"><a href="#" id="btnBasicSearch">Basic</a></li>
                <li id="liAdvanced"><a href="#" id="btnAdvancedSearch">Advanced</a></li>
            </ul>

            <div id="tabBasic" style="margin-bottom:20px;">
                
                     
                    <p class="alert-info" style="padding:40px 10px">
                        <strong>Basic Search: </strong> 
                        Performs a LIKE (Wildcard) search on the address, city and state fields. 
                        <br/>
                        These searches are slow when a wildcard is placed before the search term.  
                    </p>
                

                <div class="form-group">
                    <div class="col-lg-10">@Html.LabelFor(model => model.Search)</div>
                    <div class="col-lg-10">@Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control", type = "text", @id = "txtSearch" } })</div>
                </div>
            </div>

            <div id="tabAdvanced" style="display:none;">
                <p class="alert-info" style="padding:40px 10px">
                    <strong>Advanced Search: </strong> Performs an equal search where all conditions must be true.   Could be improved to allow users to select conjunction/disjunctions etc.
                    <br/>
                    Including the State and City will improve performance.
                    <br />
                </p>

                <div class="form-group">
                    <div class="col-lg-10">@Html.LabelFor(model => model.Account)</div>
                    <div class="col-lg-10">@Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", type = "text", @id = "txtAccount" } })</div>
                    <div class="col-lg-10">@Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">@Html.LabelFor(model => model.Name)</div>
                    <div class="col-lg-10">@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", type = "text", @id = "txtName" } })</div>
                    <div class="col-lg-10">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">@Html.LabelFor(model => model.Address)</div>
                    <div class="col-lg-10">@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", type = "text", @id = "txtAddress"} })</div>
                    <div class="col-lg-10">@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">@Html.LabelFor(model => model.City)</div>
                    <div class="col-lg-10">@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", type = "text", @id = "txtCity" } })</div>
                    <div class="col-lg-10">@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">@Html.LabelFor(model => model.State)</div>
                    <div class="col-lg-10">@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", type = "text", @id = "txtState" } })</div>
                    <div class="col-lg-10">@Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })</div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">@Html.LabelFor(model => model.DealerNumber)</div>
                    <div class="col-lg-10">@Html.EditorFor(model => model.DealerNumber, new { htmlAttributes = new { @class = "form-control", type = "text", @id = "txtDealer" } })</div>
                    <div class="col-lg-10">@Html.ValidationMessageFor(model => model.DealerNumber, "", new { @class = "text-danger" })</div>
                </div>



            </div>

            <br/>
            <div class="form-group" style="text-align:center;">                
                <div class="col-lg-10">
                    <button type="button" class="btn btn-default btn-sm" id="searchButton">
                        <span class="glyphicon glyphicon glyphicon-search"></span> Search
                    </button>
                </div>
            </div>



        }
    </div>



    <script type="text/javascript">

        var curTab = "basic";


        $("#searchButton").click(function () {
            if (curTab == "advanced") {
                $("#txtSearch").text("");
            }
            document.forms[0].submit();
        });

        $("#btnBasicSearch").click(function () {
            $("#tabBasic").show();
            $("#tabAdvanced").hide();
            curTab = "basic";

            $("#liBasic").addClass("active");
            $("#liAdvanced").removeClass("active");
        });


        $("#btnAdvancedSearch").click(function () {
            $("#tabBasic").hide();
            $("#tabAdvanced").show(); 
            curTab = "advanced";

            $("#liBasic").removeClass("active");
            $("#liAdvanced").addClass("active");

        });
        

    </script>

</body>
</html>
