﻿@model List<Intranet.Controllers.SearchDemoRecord>
@{
    ViewBag.Title = "Search Demo";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="container body-content">

        <p class="alert-info">
            @ViewBag.sql;
        </p>
        

        <h3>Search Demo</h3>


        <p class="text-info">@ViewBag.Total <span>results</span></p>
        <p class="text-right">@Html.ActionLink("Search Again", "Index")</p>

        <hr />

        <div class="row">
            <div class="col-lg-1 h4">Account</div>
            <div class="col-lg-2 h4">Name</div>
            <div class="col-lg-3 h4">Address</div>
            <div class="col-lg-3 h4">City</div>
            <div class="col-lg-3 h4">State</div>
        </div>
        @foreach (Intranet.Controllers.SearchDemoRecord record in Model)
            {
            <div class="row">
                <div class="col-lg-1">@record.Account</div>
                <div class="col-lg-2">@record.Name</div>
                <div class="col-lg-3">@record.Address</div>
                <div class="col-lg-3">@record.City</div>
                <div class="col-lg-3">@record.State</div>
            </div>
        }

    </div>

</body>
</html>
