<cfif isDefined("reasonID")>
	<cfquery name="deleteReason" datasource="copalink">
		update deletionReasons
		set active=0
		where reasonid='#reasonID#'
	</cfquery>
</cfif>

<cflocation url="index.cfm">