<cfoutput>
	<cfquery name="delMain" datasource="#ds#">DELETE FROM dntReport_Main</cfquery>
	<cfquery name="delDlrs" datasource="#ds#">DELETE FROM dntReport_Dealer</cfquery>
	<cfquery name="delEmls" datasource="#ds#">DELETE FROM dntReport_Email</cfquery>
</cfoutput>
<cflocation url="index.cfm" >
	