<cfinclude template="/test/BPBS/Template/header.cfm">
<cfinclude template="/test/BPBS/Java/dntIndexJava.cfm">

<table width=100%><tr>
	<td align='center'>
		<div id='dntTabs'>
			<ul style='margin-left: 20px;'>
     			<li>View</li>
		    	<li>Add</li>
     			<li>Edit</li>
 		    </ul>
 		    <div><cfinclude template="/test/BPBS/dnt/view.cfm"></div>
 		    <div><cfinclude template="/test/BPBS/dnt/add.cfm"></div>
 		    <div><cfinclude template="/test/BPBS/dnt/edit.cfm"></div>
		</div>
	</td>
</tr></table>
    
<cfinclude template="/test/BPBS/Template/footer.cfm">