<cfoutput>
<!--- DEACTIVATE SELECTED REPORT --->
<cfquery name="deactivate" datasource="#ds#">
	update dntReport_Main 
	set active = 0
	where id = #selID#
</cfquery> 
</cfoutput>
<cflocation url="/dntReport/index.cfm" >