<!--- 6/13 SW Delete Suggestion function --->

<cfquery name = "DeleteSuggDb" datasource = "#ds#">
	update suggestionbox 
	set flagDeleted = 1, 
		archive = 1,
	dateTimeDeleted = #createodbcdatetime(now())#
	WHERE suggestionID = #suggestionID#
</cfquery>

<cflocation url="index.cfm">




