<style type="text/css">
	TABLE {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
	a:link {color:#0000FF} 
	a:visited {color:#0000FF} 
	a:hover {color:#0000FF} 
	a:active {color:#0000FF} 
</style>

<div align="center">
<table width="955" border="0" cellspacing="0" cellpadding="0" background="images/bg.jpg">
    <tr>
        <td><img src="images/top.jpg" width="955" height="140"></td>
    </tr>
    <tr>
        <td align="center" valign="top">
		<table width="850" border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td>
				<!--- content here --->
<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td align="center"><h1><i>Suggestion Box</i></h1></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <label><b>Search by Keyword(s):</b>
            <input type="text" name="textfield" />
            <input type="submit" name="Submit" value="Search" />
            </label>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>January 2013 </td>
    </tr>
    <tr>
        <td>February 2013 </td>
    </tr>
    <tr>
        <td>March 2013 </td>
    </tr>
    <tr>
        <td>April 2013 </td>
    </tr>
    <tr>
        <td>May 2013 </td>
    </tr>
    <tr>
        <td><a href="phil.cfm">June 2013 </a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center">
            <h3><i>Search Results</i></h3>
        </td>
    </tr>
    <tr>
        <td>1. Praesent metus tortor, pulvinar sed scelerisque quis, pulvinar id felis. Nunc eleifend augue vitae luctus commodo. Pellentesque in dolor porta, vestibulum massa ... <i><a href="phildetail.cfm">click here to read more</a> </i></td>
    </tr>
    <tr>
        <td>2. Donec cursus ultrices risus, at rutrum nisl vulputate vitae. Cras posuere at mi id consequat. Curabitur tortor tellus, tempor et massa et ... <a href="phildetail.cfm"><i>click here to read more</i> </a></td>
    </tr>
</table>
				<!--- content here --->
				</td>
			</tr>
		</table>
		</td>
    </tr>
    <tr>
        <td><img src="images/bottom.jpg" width="955" height="140"></td>
    </tr>
</table>
</div>


