
<style type="text/css">
	TABLE {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
</style>

<div align="center">
<table width="955" border="0" cellspacing="0" cellpadding="0" background="images/bg.jpg">
    <tr>
        <td><img src="images/top.jpg" width="955" height="140"></td>
    </tr>
    <tr>
        <td align="center" valign="top">
		<table width="850" border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td style="padding:0px;">
				<!--- content here --->
<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td align="center">
            <h1><i>June Suggestions</i></h1>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <p><i>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis turpis sit amet volutpat commodo. Suspendisse potenti. Donec quis tellus elementum, pulvinar ligula in, aliquam eros. Cras ac sem et dui mattis auctor. Duis sed mauris aliquet, iaculis erat quis, elementum turpis.</i></p>
            <p><i>Cras vitae risus dui. Vivamus vitae mauris at quam rhoncus tincidunt. Sed varius dui eu nunc feugiat, nec tristique leo commodo. Praesent varius vestibulum mi nec dignissim. Vestibulum rhoncus consequat eros, quis auctor orci dignissim sit amet. Etiam sed tempor sem. Vivamus accumsan dictum enim eget aliquet. Aliquam ut auctor libero. Quisque</i></p>
        </td>
    </tr>
    <tr>
        <td><b>Jim Mcmullen's Response: Great Suggestion, we need more thinking like that!</b> </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>2. Nam fermentum at lectus vel molestie. Pellentesque vestibulum vulputate mollis. Maecenas sed diam magna. Maecenas tincidunt ipsum eros, vel sollicitudin nisl cursus quis. Sed tempor sapien sit amet nisi molestie porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing euismod rhoncus.</td>
    </tr>
    <tr>
        <td><b>Elle Daley's Response: Great Idea! This will be presented at the next budget meeting </b></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <p>3. Etiam purus diam, volutpat tincidunt sapien vitae, aliquet lacinia neque. Vestibulum aliquam dui ut mattis elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eleifend purus justo, a pretium nisl iaculis ac. Donec cursus ultrices risus, at rutrum nisl vulputate vitae. Cras posuere at mi id consequat. Curabitur tortor tellus, tempor et massa et, aliquet lobortis arcu. Nam eros metus, porta eu aliquam nec, fringilla eget mauris. Curabitur vulputate nec odio eget luctus. Nulla vitae mi id nibh fringilla lacinia. Vivamus molestie dignissim diam sed porta. In non sodales enim. Mauris varius lacus eget sem porta blandit. Aliquam a mauris sit amet lectus dictum vulputate.</p>
            <p>Sed eget est et augue rhoncus tincidunt vel eget urna. Pellentesque adipiscing mauris at dui mattis gravida. Aenean eu orci quis metus tempus consectetur. Sed suscipit suscipit odio, non aliquet massa feugiat et. Pellentesque accumsan, ligula vulputate blandit feugiat, una nulla bibendum tortor, ut fermentum erat nunc et eros. Praesent accumsan lectus eros, vitae lacinia urna interdum ut. Quisque sed bibendum mauris. Nulla facilisi. Aliquam mattis augue lacus, ac sollicitudin metus iaculis sit amet. Curabitur aliquam nisi non odio placerat ornare. Donec varius velit libero, id lobortis purus varius eget. Donec interdum semper malesuada. Duis id urna sit amet quam dictum pharetra non vitae diam. Sed augue nibh, tempus viverra diam vitae, sollicitudin pulvinar massa. Duis blandit lacinia est, ac euismod ligula elementum in. Donec bibendum augue sed iaculis semper.</p>
        </td>
    </tr>
    <tr>
        <td><b>Elle Daley's Response: We will certainly take that into consideration </b> </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="javascript:history.go(-1);">Return to previous page</a> </td>
    </tr>
</table>
				<!--- content here --->
				</td>
			</tr>
		</table>
		</td>
    </tr>
    <tr>
        <td><img src="images/bottom.jpg" width="955" height="140" /></td>
    </tr>
</table>
</div>


