
<style type="text/css">
	TABLE {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
</style>

<div align="center">
<table width="955" border="0" cellspacing="0" cellpadding="0" background="images/bg.jpg">
    <tr>
        <td><img src="images/top.jpg" width="955" height="140"></td>
    </tr>
    <tr>
        <td align="center" valign="top">
		<table width="850" border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td style="padding:0px;">
				<!--- content here --->
<table width="100%" border="0" cellspacing="0" cellpadding="5">
    
    <tr>
        <td>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium lacinia gravida. Praesent id porta mi. Nulla eu placerat quam. Vivamus convallis augue nec interdum pretium. Mauris vitae pretium enim. Suspendisse iaculis molestie massa sed placerat. Donec gravida faucibus dui sit amet ornare. Ut vel ante eleifend, euismod ligula ut, interdum erat. Vestibulum aliquam hendrerit nulla in tincidunt. Praesent ac lacus volutpat, fermentum enim a, faucibus nulla. Proin malesuada lectus vitae lectus viverra, at convallis lorem ultrices. Praesent metus tortor, pulvinar sed scelerisque quis, pulvinar id felis. Nunc eleifend augue vitae luctus commodo. Pellentesque in dolor porta, vestibulum massa id, euismod mauris. </p>
            <p>Phasellus in semper libero. Praesent ultricies tempor arcu, suscipit volutpat enim auctor ut. Maecenas laoreet risus quis porta tempus. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ullamcorper vel tortor at faucibus. Nam vehicula mi ut mauris tempor, in sagittis urna accumsan. Etiam turpis enim, semper et augue a, mattis tempor mi. Cras sit amet fringilla leo. Nulla facilisi. Pellentesque non metus arcu. Vestibulum hendrerit sem non velit egestas tristique. Etiam tristique lorem odio, nec fermentum sem sagittis quis. Mauris volutpat arcu quis nisl consectetur mattis. Duis tincidunt fermentum ante, et euismod mi dictum vitae. In luctus egestas iaculis. Etiam in metus velit. In nibh turpis, elementum eu nulla imperdiet, porttitor pellentesque leo. </p>
            <p>Integer et est mattis, ultricies orci sed, varius velit. Donec urna purus, luctus faucibus facilisis porttitor, porta et odio. Vestibulum sodales accumsan odio in lobortis. Sed in purus hendrerit nisi varius iaculis. In a tellus a eros accumsan luctus in ac risus. Proin nec eleifend nunc. Nam fermentum massa ac blandit tincidunt. Duis adipiscing interdum hendrerit. Aenean scelerisque ultricies dui at venenatis.</p>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><i><b>Jim McMullen's Response: Great Idea, we need more thinking like this! </b></i></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><i><a href="javascript:history.go(-1);">Return to previous page</a></i> </td>
    </tr>
</table>
				<!--- content here --->
				</td>
			</tr>
		</table>
		</td>
    </tr>
    <tr>
        <td><img src="images/bottom.jpg" width="955" height="140" /></td>
    </tr>
</table>
</div>


