<!--- 12/11 Clean up delete of junk records when attachement created and not attached to QA --->
<!--- Get junk records --->
<cfquery name="GetQAactive" datasource="#ds#" >
		SELECT *
		FROM  QualityAssuranceChecklist
		WHERE QualityAssuranceChecklist.active = 0
</cfquery>

<!--- Get attachments --->
<cfloop query="GetQAactive">
	<cfquery name="GetAttachments" datasource="#ds#" >
			SELECT *
			FROM  QualityAssuranceChecklist_attachments 
			WHERE QualityAssuranceChecklist_attachments.qaid = #GetQAactive.qaid#
	</cfquery>
	<!---<cfdump var="#GetAttachments#">--->
	
	<cfloop query="GetAttachments">
		<cfif FileExists("#request.Directpath#\qualityAssurance\attachments\#GetAttachments.filename#")>
			<cffile action="delete" file = "#request.Directpath#\qualityAssurance\attachments\#GetAttachments.filename#">
		</cfif>
	</cfloop>
	
	<!--- Delete attachments of junk records --->
	<cfquery name = "DeleteAttachment" datasource = "#ds#">
			DELETE FROM QualityAssuranceChecklist_attachments 
			WHERE qaid = #GetQAactive.qaid# 
	</cfquery>
	
	<!--- Delete junk record --->
	<cfquery name = "DeleteQArec" datasource = "#ds#">
		DELETE FROM QualityAssuranceChecklist
		WHERE qaid = #GetQAactive.qaid# 
	</cfquery>

</cfloop>

	
	



	
	