<cfquery name = "DeleteQAAttachmentDb" datasource = "#ds#">
	DELETE FROM QualityAssuranceChecklist_attachments
	WHERE qaid = 0
</cfquery>

<br />
	<a style="text-decoration:underline;" href="/index.cfm">Return to Intranet</a>
</div>