<cfquery name = "DeleteDb" datasource = "#ds#">
	DELETE FROM QualityAssuranceChecklist 
	WHERE qaid = #prog_id#
</cfquery>

<br />
	<a style="text-decoration:underline;" href="/index.cfm">Return to Intranet</a>
</div>



