
<cffunction name="isInquiry" access="private" returntype="boolean">
	<cfargument name="inquirynumber" required="yes" type="numeric">
	<cfset result = false>
	
	<cfquery name="checkInq" datasource="intranet">
		select * from inquiries_main where inquirynumber = '#inquirynumber#'
	</cfquery>
	<cfif checkInq.recordcount gt 0>
		<cfset result = true>
	</cfif>
	
	<cfreturn result>
</cffunction>
