
<div align="center" class="normal">
<a href="itemtousers/assign.cfm">Assign one item to multiple users</a>
<p>
<a href="usertoitems/assign.cfm">Assign multiple items to one user</a>
<p>
<a href="/users/security/copyaccess.cfm">Copy access from one user to another</a>
</div>
