/* CSS Document */
.nopadding {padding:0px;}
.headerbar {
	font-size: medium;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px;
	color:#FFFFFF;
	background-color:#000066;
	font-weight:bold;
	width:100%;
}
.nopaddinglinedrow {padding:0px; border-bottom:#D7D7D7 solid 1px}
.linedrow {border-bottom:#D7D7D7 solid 1px}
.linedrowblack {border-bottom:#000000 solid 2px}

A {color:#000000;} 

body {
	font-size: small;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px;
}

input, select, td {
	font-size: small;
	font-family:Arial, Helvetica, sans-serif;
}

.button {font-size:xx-small; padding:2px}
.redtext {
	font-size:small;
	color:#FF0000;
}

.menugreyrow {font-size:medium; font-weight:bold; width:100%; background-color:#EEEEEE;}
.menuwhiterow {font-size:medium; font-weight:bold; width:100%; background-color:#FFFFFF;}

.greyrow {font-size:small; width:100%; background-color:#EEEEEE;}
.whiterow {font-size:small; width:100%; background-color:#FFFFFF;}
