
<cfsetting requesttimeout="60">

<cftry>
<cfset theDate = now()>

<cfset recipientList = "pgregory@copsmonitoring.com">
<cfset ds = "allLines">
<cfset outputfilepath = "e:\websites\intranet\scheduled\attachments">
<cfset outputfilename = "all_lines_uplink_export.txt">
<cfset reportHeader = "">
<cfset remoteFileLocation = "/pick/uplink">

<cfset headerlist = "phonenumber,receiver">
<cfset colList = "phonenumber,receiver">

<cfquery name="getData" datasource="#ds#">
	select all_lines.PhoneNumber, Receivers.receiver 
	from all_lines 
	left join Receiver_Lookup on all_lines.id = Receiver_Lookup.lineID
	left join Receivers on Receiver_Lookup.receiverID = receivers.receiveriD
	where all_lines.phonenumber is not null 
	order by phoneNumber, receiver asc 
</cfquery>

<cfset getLines = querynew("phoneNumber,receiver")>

<cfoutput query="getData" group="phoneNumber">
	<cfset pn = getData.phoneNumber>
	<cfset receiverlist = "">
	<cfoutput>
		<cfset receiverlist = listappend(receiverlist,getData.receiver)>
	</cfoutput>
	<cfscript>
		queryAddRow(getLines);
		querySetCell(getLines,"phonenumber",variables.pn);
		querySetCell(getLines,"receiver",variables.receiverlist);
	</cfscript>
</cfoutput>

<cfif fileExists("#outputfilepath#\#outputfilename#")>
	<cffile action="delete" file="#outputfilepath#\#outputfilename#">
</cfif>

<cfx_query2excel 
	file="#outputfilepath#\#outputfilename#" 
	headings="#headerlist#" 
	queryFields="#colList#" 
	query="#getLines#" 
	format="tab" 
	reportHeader="#reportHeader#">

<!--- 
<cfset un = "web">
<cfset pw = "websql">
<cfset svr = "192.168.3.10">

<cfftp port="22" action="putfile" localfile="#outputfilepath#\#outputfilename#" remotefile="#remoteFileLocation#/#outputfilename#" username="#un#" password="#pw#" server="#svr#">
 --->
 
<cfset un = "web">
<cfset pw = "L1JEpTs3">
<cfset svr = "192.168.3.10">

<cfftp secure="yes" action="putfile" localfile="#outputfilepath#\#outputfilename#" remotefile="#remoteFileLocation#/#outputfilename#" username="#un#" password="#pw#" server="192.168.3.10" port="22">

<cfftp secure="yes" action="putfile" localfile="#outputfilepath#\#outputfilename#" remotefile="#remoteFileLocation#/#outputfilename#" username="#un#" password="#pw#" server="192.168.3.11" port="22">

Done!
<cfcatch type="any">
<cfoutput>
#cfcatch.Detail#<br />
#cfcatch.Message#<br />
</cfoutput>
</cfcatch>
</cftry>