<cftry>
<cfcollection action="delete" collection="intranet_inquiries" path="#request.DirectPath#\collections\">
<cfcatch type="any">
	<cfdump var="#cfcatch#">
</cfcatch>
</cftry>
<cfcollection action="create" collection="intranet_inquiries" path="#request.DirectPath#\collections\">

done