no longer needed
<!--- 
<cfset adminuserid = 16>
<cfset entryDate = now()>
<cfset categoryid = 3>
<cfset actionid = 110>
<cfset systemid = 5>
<cfset projectid = 53>
<cfset statusid = 2>
<cfset plannedid = 101>
<cfset departmentid = 1>
<cfset requestor = "">
<cfset startTime = "09:00:00">
<cfset stopTime = "17:00:00">
<cfset description = "SAI">
<cfset hours = 8>

<cfif dayofweek(now()) gte 2 and dayofweek(now()) lte 6>
	<cfquery name="enterTime" datasource="#ds#">
		insert into timesheet_main (adminuserid, entryDate, categoryid, actionid, systemid, projectid, statusid, plannedid, departmentid, requestor, startTime, stopTime, description, hours)
		values (#adminuserid#, #createodbcdate(entryDate)#, #categoryid#, #actionid#, #systemid#, #projectid#, #statusid#, #plannedid#, #departmentid#, '#requestor#', '#startTime#', '#stopTime#', '#description#', #hours#)
	</cfquery>
</cfif>
 --->
Done