No longer needed 
<!--- 
<cfif dayofweek(now()) gte 2 and dayofweek(now()) lte 6>
<cfmail from="pgregory@copsmonitoring.com" to="pgregory@copsmonitoring.com,cmahoney@copsmonitoring.com" subject="Timesheet Reminder!" username="copalink@copsmonitoring.com" password="copsmoncal">
Don't forget to fill out your timesheets
</cfmail>
</cfif>

done
 --->