
<cfset checkDay = createodbcdate(now())>
<cfset today = createodbcdatetime(now())>

<!--- get scheduled items 
<cfquery name="getItems" datasource="#ds#">
	select inquiryid
	from inquiries_status_history
	where followUpDate = #checkDay# and isCurrentStatus = 1
</cfquery>
<cfset idlist = valuelist(getItems.inquiryid)>

<cfif getItems.recordcount GT 0>
	<cfloop list="#idlist#" index="i">
	<cftransaction>
	<cfquery name="updateStatus" datasource="#ds#">
		begin
			insert into inquiries_status_history (inquiryid, dateTimeUpdated, statusid, adminuserid, isCurrentStatus, fromDepartmentID, toDepartmentID)
			select inquiryid, dateTimeUpdated, statusid, 0, isCurrentStatus, fromDepartmentID, toDepartmentID
			from inquiries_status_history
			where inquiries_status_history.inquiryid = #i# and isCurrentStatus = 1
		end
		begin
			update inquiries_status_history
			set	isCurrentStatus = 0 
			where inquiryid = #i#
		end
		begin
			update inquiries_status_history
			set dateTimeUpdated = #today#, statusid = 6, isCurrentStatus = 1, adminuserid = 0, isRead = 0
			where inquiryid = #i# and statusHistoryID = (select max(statusHistoryID) from inquiries_status_history where inquiryid = #i#)
		end
	</cfquery>
	</cftransaction>
	</cfloop>
</cfif>
--->
fini!

