
<cfimap action="open" server="mail.copsmonitoring.com" username="system" password="V01c3" connection="mailConn">

<cfimap action="getheaderonly" connection="mailConn" name="getEmails">
<cfloop query="getEmails">
	<cfif findnocase("Dealer Diary",getEmails.subject) is not 0>
		<cfimap action="getall" connection="mailConn" name="getFullEmail" uid="#getEmails.uid#" attachmentpath="#request.directpath#\dealerdiary\ftp\LocalUser\dealerdiary">
		<cfset attachmentName = getFullEmail.attachments>
		<cfimap action="delete" connection="mailConn" uid="#getEmails.uid#">
		<cfbreak>
	</cfif>
</cfloop>

<cfimap action="close" connection="mailConn">
