
<cfquery name="markCompleted" datasource="#ds#">
	update globalChangeRequest 
	set currentStatus = 'Opened', dateOpened = #createodbcdate(now())#, openedby = #cookie.adminlogin#
	where changeRequestID = #rid#
</cfquery>

<cflocation url="#cgi.HTTP_REFERER#">

