<!--- LOAD HEADER --->
<cfinclude template="/dntReport/Template/header.cfm">
<cfset today="#dayOfWeekAsString(dayOfWeek(now()))#">
<cfset todate="#datepART('d',now())#">
<script type="text/javascript">
</script>
<cfoutput>
	#TODAY#
	#todate#
</cfoutput>