<!--- Managers Log New Email Save page--->
<cfquery name = "InsertDb" datasource = "#ds#">
	IF NOT EXISTS (select notificationid from managerLog_emailNotifications where emailAddress = '#form.emailAddress#')
	BEGIN
		INSERT INTO managerLog_emailNotifications(name,emailAddress)
		VALUES ('#form.name#',
				'#form.emailAddress#')
	END
</cfquery>

<cflocation url="index.cfm">

