
<cfset today = createodbcdatetime(now())>

<cfquery name="insertnewsletter" datasource="#ds#">
	insert into newsletter_main (title, body, dateCreated)
	values ('#form.subject#', '#form.body#', #today#)
</cfquery>

<cfquery name="getid" datasource="#ds#">
	select max(newsletterid) as newid from newsletter_main
	where title = '#form.subject#' and dateCreated = #today#
</cfquery>

<cfset id = getid.newid>
