
<cfquery name="updatenewsletter" datasource="#ds#">
	update newsletter_main 
	set title = '#form.subject#', body = '#form.body#'
	where newsletterid = #form.newsletterid#
</cfquery>

<cfset id = form.newsletterid>
