
<cfsetting showdebugoutput="no">

<style type="text/css">
<!--
body {
	background-color: #000066;
}
-->
</style>

<cfparam name="body" default="">

<div align="center">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="3"><img src="images/topbanner.gif" width="685" height="115" /></td>
	</tr>
	<tr>
		<td width="20" background="images/sidespacer.gif"><img src="images/sidespacer.gif" width="20" height="400" /></td>
		<td width="645" bgcolor="FFFFFF" valign="top"><cfoutput>#body#</cfoutput></td>
		<td width="20" background="images/sidespacer.gif"><img src="images/sidespacer.gif" width="20" height="400" /></td>
	</tr>
	<tr>
		<td colspan="3"><img src="images/bottom.gif" width="685" height="15" /></td>
	</tr>
</table>
<cfoutput>
<form method="post" action="newsletter.cfm">
<input type="hidden" name="newsletterid" value="#newsletterid#" />
<input type="hidden" name="subject" value="#form.subject#" />
<input type="hidden" name="body" value="#htmleditformat(body)#" />
<input type="submit" value="Return and Fix" />
<input type="submit" name="btnSave" value="Save and Continue" />
</form>
</cfoutput>
</div>
