
<cfset filedir = "#request.DirectPath#\newsletter\files">

<cfif fileExists("#filedir#/#url.file#")>
	<cffile action="delete" file="#filedir#/#url.file#">
</cfif>

<cflocation url="email.cfm?id=#id#">
