/* CSS Document */

.normal {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal}
.heading {font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold}
.small {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;font-weight:normal}
