
<cfsetting showdebugoutput="no">

<style type="text/css">
<!--
body {
	background-color: #000066;
}
-->
</style>

<cfquery name="getnewsletter" datasource="#ds#">
	select * from newsletter_main
	where newsletterid = #id#
</cfquery>

<div align="center">
<table width="725" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<table width="725" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="images/top1.gif" width="172" height="170"></td>
				<td><img src="images/top2.gif" width="172" height="170"></td>
				<td><img src="images/top3.gif" width="172" height="170"></td>
				<td><img src="images/top4.gif" width="209" height="170"></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<table width="725" border="0" cellspacing="0" cellpadding="0" background="images/bg.gif">
			<tr>
				<td width="40" valign="top"><img src="images/lside.gif" width="40" height="300" /></td>
				<td valign="top" bgcolor="#FFFFFF">
				<br /><cfoutput query="getnewsletter">#body#</cfoutput>
				</td>
				<td width="40" valign="top"><img src="images/rside.gif" width="40" height="300" /></td>
			</tr>
		</table> 
		</td>
	</tr>
	<tr>
		<td><img src="images/bottom.gif" width="725" height="40" /></td>
	</tr>
</table>
</div>
