﻿@model Intranet.Models.WestResult


@{
    ViewBag.Title = "Geodetic Test Results";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <!--<link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css">-->

    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <title>Geodetic Test Results</title>

    <style>
        .Matched {
            color: green;
        }

        .Altered {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <h3>West - Geodetic Test Results</h3>
            </div>
            <div class="col-sm-1">
                <span style="line-height:3em"><a href="/WestTest/" class="blue">Search</a></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1"><hr /></div>
        </div>

        @if (Model.GeoResponse != null)
            {
                if (Model.GeoResponse.ResponderInfo.ResponderType != Intranet.West.ResponderTypeValues.Failure)
                {
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <fieldset>
                            <legend>Fire</legend>
                            @for (int n = 0; n < Model.GeoResponse.ResponderInfo.Fire.Items.Length; n++)
                            {
                                <div>
                                    @Model.GeoResponse.ResponderInfo.Fire.ItemsElementName[n].ToString()
                                    <span> = </span>
                                    @Model.GeoResponse.ResponderInfo.Fire.Items[n].ToString()
                                </div>
                            }
                        </fieldset>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <fieldset>
                            <legend>Medical</legend>
                            @for (int n = 0; n < Model.GeoResponse.ResponderInfo.Medical.Items.Length; n++)
                            {
                                <div>
                                    @Model.GeoResponse.ResponderInfo.Medical.ItemsElementName[n].ToString()
                                    <span> = </span>
                                    @Model.GeoResponse.ResponderInfo.Medical.Items[n].ToString()
                                </div>
                            }
                        </fieldset>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1">
                            <fieldset>
                                <legend>PERS</legend>
                                @for (int n = 0; n < Model.GeoResponse.ResponderInfo.PERS.Items.Length; n++)
                                {
                                    <div>
                                        @Model.GeoResponse.ResponderInfo.PERS.ItemsElementName[n].ToString()
                                        <span> = </span>
                                        @Model.GeoResponse.ResponderInfo.PERS.Items[n].ToString()
                                    </div>
                                }
                            </fieldset>
                        </div>

                        <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <fieldset>
                                <legend>Police</legend>
                                @for (int n = 0; n < Model.GeoResponse.ResponderInfo.Police.Items.Length; n++)
                                {
                                    <div>
                                        @Model.GeoResponse.ResponderInfo.Police.ItemsElementName[n].ToString()
                                        <span> = </span>
                                        @Model.GeoResponse.ResponderInfo.Police.Items[n].ToString()
                                    </div>
                                }
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1">
                            <fieldset>
                                <legend>Twenty Four By 7</legend>
                                @for (int n = 0; n < Model.GeoResponse.ResponderInfo.TwentyFourBy7.Items.Length; n++)
                                {
                                    <div>
                                        @Model.GeoResponse.ResponderInfo.TwentyFourBy7.ItemsElementName[n].ToString()
                                        <span> = </span>
                                        @Model.GeoResponse.ResponderInfo.TwentyFourBy7.Items[n].ToString()
                                    </div>
                                }
                            </fieldset>
                        </div>

                        <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1">
                            <fieldset>
                                <legend>Map</legend>
                                @{
                                    var lat = @Model.DMSToDegrees(Model.Address.LatitudeDegrees, Model.Address.LatitudeMinutes, Model.Address.LatitudeSeconds);
                                    var lon = @Model.DMSToDegrees(Model.Address.LongitudeDegrees, Model.Address.LongitudeMinutes, Model.Address.LongitudeSeconds);

                                    var url = string.Format("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.2770615328473!2d{0}!3d{1}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s!2s!5e0!3m2!1sen!2sus!4v", lon, lat);


                                }
                                <iframe src="@url" width="100%" height="100%"></iframe>
                            </fieldset>
                        </div>


                    </div>


                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-1 col-sm-10 col-sm-offset-1">
                                                Lookup Failed
                                            </div>
                                        </div>
                                        }
                                    }
    </div>
</body>
</html>
