﻿@model Intranet.Models.WestAddress

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <!--<link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css">-->

    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>



    <title>West Test Page</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>West Test Page</h3><hr />
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-3 col-lg-offset-1">
                @using (Html.BeginForm("Index", "WestTest", FormMethod.Post))
                {
                    <fieldset>
                        <legend>Address</legend>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.HouseNumber)
                            @Html.EditorFor(model => model.HouseNumber, new { htmlAttributes = new { @placeholder = "House Number", @type = "number", @id = "txtHouseNumber", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.HouseNumber, "", new { @class = "red" })
                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.PrefixDirectional)
                            @Html.EditorFor(model => model.PrefixDirectional, new { htmlAttributes = new { @placeholder = "Prefix Directional (N,S,E,W etc)", @type = "text", @id = "txtPrefixDirectional", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.PrefixDirectional, "", new { @class = "red" })
                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.StreetName)
                            @Html.EditorFor(model => model.StreetName, new { htmlAttributes = new { @placeholder = "Street Name", @type = "text", @id = "txtStreetName", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.StreetName, "", new { @class = "red" })
                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.StreetSuffix)
                            @Html.EditorFor(model => model.StreetSuffix, new { htmlAttributes = new { @placeholder = "Street Suffix (Rd, St etc)", @type = "text", @id = "txtStreetSuffix", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.StreetSuffix, "", new { @class = "red" })
                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.PostDirectional)
                            @Html.EditorFor(model => model.PostDirectional, new { htmlAttributes = new { @placeholder = "Post Directional (N,S,E,W etc)", @type = "text", @id = "txtPostDirectional", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.PostDirectional, "", new { @class = "red" })
                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.UnityType)
                            @Html.EditorFor(model => model.UnityType, new { htmlAttributes = new { @placeholder = "Unit Type (e.g. Apt)", @type = "text", @id = "txtUnitType", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.UnityType, "", new { @class = "red" })
                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.UnitNumber)
                            @Html.EditorFor(model => model.UnitNumber, new { htmlAttributes = new { @placeholder = "Unit Number", @type = "text", @id = "txtUnitNumber", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.UnitNumber, "", new { @class = "red" })
                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.City)
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @placeholder = "City", @type = "text", @id = "txtCity", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "red" })

                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.State)
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @placeholder = "State or Provice (NJ, CA etc)", @type = "text", @id = "txtState", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "red" })
                        </div>
                        <div class="input-group vertical">
                            @Html.LabelFor(model => model.PostalCode)
                            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @placeholder = "Postal Code", @type = "text", @id = "txtZip", @onFocus = "this.placeholder=''" } })
                            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "red" })
                        </div>
                    </fieldset>
                    <input type="submit" value="Submit" />
                }
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-2 col-lg-offset-1">
                <fieldset>
                    <legend>GPS Location</legend>
                    <div class="vertical">
                        <div class="input-group vertical">
                            <div><strong><a href="javascript:setCoordinates(39,41,17.973,-75,1,26.991)">Cops Monitoring</a></strong></div>
                            <div>39&#176;41'17.973"</div>
                            <div>-75&#176;1'26.991"</div> <br />
                        </div>
                        <div class="vertical">
                            <div><strong><a href="javascript:setCoordinates(41,56,53.147,-87,39,19.036)">Wrigley Field</a></strong></div>
                            <div>41&#176;56'53.147"</div>
                            <div>-87&#176;39'19.036"</div> <br />
                        </div>
                        <div><strong><a href="javascript:setCoordinates(29,31,6.493,-98,34,19.090)">UCC</a></strong></div>
                        <div>29&#176;31'6.493"</div>
                        <div>-98&#176;34'19.90"</div> <br />
                        <div class="vertical">
                            <div><strong><a href="javascript:setCoordinates(47,37,13.949,-122,20,57.801)">Space Needle</a></strong></div>
                            <div>47&#176;37'13.949"</div>
                            <div>-122&#176;20'57.801"</div> <br />
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-1">
                <fieldset>
                    <legend>Test Data</legend>
                    <a href="javascript:setTestData(0)" style="text-decoration:none;">
                        <div>
                            1041 Glassboro Rd<br />
                            Williamstown, NJ 08094
                        </div>
                    </a>
                    <br />
                    <a href="javascript:setTestData(1)" style="text-decoration:none;">
                        <div>
                            1600 Pennsylvania Ave NW<br />
                            Washington, DC 20500
                        </div>
                    </a>
                    <br />
                    <a href="javascript:setTestData(2)" style="text-decoration:none;">
                        <div>
                            350 Fifth Avenue<br />
                            New York, NY 10118
                        </div>
                    </a>
                    <br />
                    <a href="javascript:setTestData(3)" style="text-decoration:none;">
                        <div>
                            1 Citizens Bank Way<br />
                            Philadelphia, PA 19148
                        </div>
                    </a>
                </fieldset>
            </div>
        </div>
    </div>


    <div style="display:none;">
        @using (Html.BeginForm("GeodeticTest", "WestTest", FormMethod.Post, new { @id = "GeodeticTest" }))
        {
            @Html.EditorFor(model => model.LatitudeDegrees, new { htmlAttributes = new { @type = "number", @id = "txtLatitudeDegrees" } })
            @Html.EditorFor(model => model.LatitudeMinutes, new { htmlAttributes = new { @type = "number", @id = "txtLatitudeMinutes" } })
            @Html.EditorFor(model => model.LatitudeSeconds, new { htmlAttributes = new { @type = "number", @id = "txtLatitudeSeconds" } })
            @Html.EditorFor(model => model.LongitudeDegrees, new { htmlAttributes = new { @type = "number", @id = "txtLongitudeDegrees" } })
            @Html.EditorFor(model => model.LongitudeMinutes, new { htmlAttributes = new { @type = "number", @id = "txtLongitudeMinutes" } })
            @Html.EditorFor(model => model.LongitudeSeconds, new { htmlAttributes = new { @type = "number", @id = "txtLongitudeSeconds" } })
        }

    </div>



    <script type="text/javascript">
        function setTestData(i) {
            $('#txtHouseNumber').attr("placeholder", "");
            $('#txtPrefixDirectional').attr("placeholder", "");
            $('#txtStreetName').attr("placeholder", "");
            $('#txtStreetSuffix').attr("placeholder", "");
            $('#txtPostDirectional').attr("placeholder", "");
            $('#txtUnitType').attr("placeholder", "");
            $('#txtUnitNumber').attr("placeholder", "");
            $('#txtCity').attr("placeholder", "");
            $('#txtState').attr("placeholder", "");
            $('#txtZip').attr("placeholder", "");

            if (i == 0) {
                $('#txtHouseNumber').val("1041");
                $('#txtPrefixDirectional').val("");
                $('#txtStreetName').val("Glassboro");
                $('#txtStreetSuffix').val("Rd");
                $('#txtPostDirectional').val("");
                $('#txtUnitType').val("");
                $('#txtUnitNumber').val("");
                $('#txtCity').val("Williamstown");
                $('#txtState').val("NJ");
                $('#txtZip').val("08094");
            }

            if (i == 1) {
                $('#txtHouseNumber').val("1600");
                $('#txtPrefixDirectional').val("");
                $('#txtStreetName').val("Pennsylvania");
                $('#txtStreetSuffix').val("Ave");
                $('#txtPostDirectional').val("NW");
                $('#txtUnitType').val("");
                $('#txtUnitNumber').val("");
                $('#txtCity').val("Washington");
                $('#txtState').val("DC");
                $('#txtZip').val("20500");
            }

            if (i == 2) {
                $('#txtHouseNumber').val("350");
                $('#txtPrefixDirectional').val("");
                $('#txtStreetName').val("Fifth");
                $('#txtStreetSuffix').val("Ave");
                $('#txtPostDirectional').val("");
                $('#txtUnitType').val("");
                $('#txtUnitNumber').val("");
                $('#txtCity').val("New York");
                $('#txtState').val("NY");
                $('#txtZip').val("10118");
            }


            if (i == 3) {
                $('#txtHouseNumber').val("1");
                $('#txtPrefixDirectional').val("");
                $('#txtStreetName').val("Citizens Bank");
                $('#txtStreetSuffix').val("Way");
                $('#txtPostDirectional').val("");
                $('#txtUnitType').val("");
                $('#txtUnitNumber').val("");
                $('#txtCity').val("Philadelphia");
                $('#txtState').val("PA");
                $('#txtZip').val("19148");
            }

        }


        function setCoordinates(lad, lam, las, lod, lom, los) {

            $('#txtLatitudeDegrees').val(lad);
            $('#txtLatitudeMinutes').val(lam);
            $('#txtLatitudeSeconds').val(las);
            $('#txtLongitudeDegrees').val(lod);
            $('#txtLongitudeMinutes').val(lom);
            $('#txtLongitudeSeconds').val(los);
            $("#GeodeticTest").submit();


        }

    </script>
</body>
</html>
