﻿@model Intranet.Models.WestResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <!--<link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-dark.min.css">-->

    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">

    <link rel="stylesheet" href="styles.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <title>West Test Page</title>

    <style>
        .Matched {
            color: green;
        }

        .Altered {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <h3>West Test Page - Results</h3>
            </div>
            <div class="col-sm-1">
                <span style="line-height:3em"><a href="/WestTest/" class="blue">Search</a></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1"><hr /></div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div><strong>Sent</strong></div>
                <div>@Html.Raw(Model.Address.FormattedAddress)</div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <div><strong>Returned</strong></div>
                <div>@Html.Raw(Model.WestFormattedMatch())</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1"><hr /></div>
        </div>



        @if (Model.Response.addressMatchCode.overallMatch != Intranet.West.overallMatchCodeValues.Failure)
        {
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <fieldset>
                        <legend>Fire</legend>
                        @for (int n = 0; n < Model.Response.ResponderInfo.Fire.Items.Length; n++)
                        {
                            <div>
                                @Model.Response.ResponderInfo.Fire.ItemsElementName[n].ToString()
                                <span> = </span>
                                @Model.Response.ResponderInfo.Fire.Items[n].ToString()
                            </div>

                        }
                    </fieldset>
                </div>


                <div class="col-sm-4 col-sm-offset-2">
                    <fieldset>
                        <legend>Medical</legend>
                        @for (int n = 0; n < Model.Response.ResponderInfo.Fire.Items.Length; n++)
                        {
                            <div>
                                @Model.Response.ResponderInfo.Medical.ItemsElementName[n].ToString()
                                <span> = </span>
                                @Model.Response.ResponderInfo.Medical.Items[n].ToString()
                            </div>
                        }
                    </fieldset>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4 col-sm-offset-1">
                    <fieldset>
                        <legend>PERS</legend>
                        @for (int n = 0; n < Model.Response.ResponderInfo.Fire.Items.Length; n++)
                        {
                            <div>
                                @Model.Response.ResponderInfo.PERS.ItemsElementName[n].ToString()
                                <span> = </span>
                                @Model.Response.ResponderInfo.PERS.Items[n].ToString()
                            </div>
                        }
                    </fieldset>
                </div>


                <div class="col-sm-4 col-sm-offset-2">
                    <fieldset>
                        <legend>Police</legend>
                        @for (int n = 0; n < Model.Response.ResponderInfo.Fire.Items.Length; n++)
                        {
                            <div>
                                @Model.Response.ResponderInfo.Police.ItemsElementName[n].ToString()
                                <span> = </span>
                                @Model.Response.ResponderInfo.Police.Items[n].ToString()
                            </div>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <fieldset>
                        <legend>Twenty Four By 7</legend>
                        @for (int n = 0; n < Model.Response.ResponderInfo.Fire.Items.Length; n++)
                        {
                            <div>
                                @Model.Response.ResponderInfo.TwentyFourBy7.ItemsElementName[n].ToString()
                                <span> = </span>
                                @Model.Response.ResponderInfo.TwentyFourBy7.Items[n].ToString()
                            </div>
                        }
                    </fieldset>
                </div>
            </div>



        }
        else
        {
            <div class="col-sm-4 col-sm-offset-1">
                <p>Failed to look up address.</p>
            </div>
        }
    </div>

</body>
</html>
