
<cfquery name="getData" datasource="#ds#">
	select * from ddimport 
</cfquery>

<cfquery name="getUserInfo" datasource="#ds#">
	select adminuserid, firstname, lastname from admin_users 
</cfquery>

<cfloop query="getData">

	<cfset lastname = listgetat(name,2," ")>
	<cfset firstname = listgetat(name,1," ")>
	<cfquery name="getUserID" dbtype="query">
		select adminuserid from getUserInfo where firstname = '#trim(firstname)#' and lastname = '#trim(lastname)#'
	</cfquery>
	<cfset userID = getUserID.adminuserid>
	
	<cfif len(dlr) is 3>
		<cfset dn = "0#dlr#">
	<cfelse>
		<cfset dn = dlr>
	</cfif>
	
	<cfquery name="addnote" datasource="#ds#">
		insert into dealerdiary_entries (creatorID, dealernumber, created, content, subject, departmentid, parentid)
		values (#variables.userID#, '#trim(dn)#', #createodbcdate(date)#, '#body#', '#subject#', 15, 0)
	</cfquery>
	
</cfloop>
