

<cfsetting showdebugoutput="yes">

<cftry>
<cfinvoke 
	component="remoting.D_alarmlist" 
	method="getAlarms" 
	returnVariable="res">
	<cfinvokeargument name="dn" value="DDDD">
	<cfinvokeargument name="pc" value="55555">
	<cfinvokeargument name="types" value="1|2|3">
</cfinvoke>
<cfdump var="#res#">
<cfcatch type="any">
<cfoutput>
#cfcatch.Message#<br>
#cfcatch.Detail#<br>
</cfoutput>
</cfcatch>
</cftry>

