<link rel="stylesheet" type="text/css" href="style.css">

<div align="center">
<table width="700" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td align="center"><b><font size="+1">Equipment Checklist Training Document</font></b> </td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<p>There are 2 ways to create a new ticket. Simply use the menu item on the Ops Intranet Menu labeled &quot;Create an Equipment Trouble Ticket&quot; or from the Equipment Checklist menu item labeled &quot;Tickets&quot; in the Intranet. </p>
			</td>
	</tr>
	<tr>
		<td><img src="images/menuitem.jpg" width="236" height="62" /></td>
	</tr>
	<tr>
		<td>If you use the Intranet Menu Item, you will be brought to the ticket list screen, where you can view the status of any ticket previously created. You can also filter on the status, site, department, and techncian who worked on the ticket.</td>
	</tr>
	<tr>
		<td>To create a new ticket, simply click on the &quot;Create New Ticket&quot; button. </td>
	</tr>
	<tr>
		<td>When creating a new ticket, you must choose which department the equipment is associated with. </td>
	</tr>
	<tr>
		<td><img src="images/ticketCreation-step1.jpg" width="425" height="116" /></td>
	</tr>
	<tr>
		<td><img src="images/ticketCreation-selectDepart.jpg" width="434" height="469" /></td>
	</tr>
	<tr>
		<td>Once you select the department, you must now select the affected equipment. </td>
	</tr>
	<tr>
		<td><img src="images/ticketCreation-preSelectEqu.jpg" width="436" height="145" /></td>
	</tr>
	<tr>
		<td><img src="images/ticketCreation-selectEquipm.jpg" width="413" height="584" /></td>
	</tr>
	<tr>
		<td>Now that you've selected the affected equipment, it's time to choose which item (or items) that are having problems. Most equipment (especially computer stations) have several items associated with them, such as a mouse, keyboard, chair or monitor. Other items such as fax machines do not have items assicated with them. If you choose one of these pieces of equipment, you will not be prompted to select any items. </td>
	</tr>
	<tr>
		<td><img src="images/ticketCreation-preSelectIte.jpg" width="423" height="226" /></td>
	</tr>
	<tr>
		<td><img src="images/ticketCreation-selectItems.jpg" width="429" height="377" /></td>
	</tr>
	<tr>
		<td>When you choose an item, you will be prompted to enter the description of the problem. This is a description of the problem affecting the item you've chosen. If you are choosing more than one item, you will need to enter a separate description for each. </td>
	</tr>
	<tr>
		<td>NOTE: You can choose as many items as you wish, the system will create a ticket for each item selected. </td>
	</tr>
	<tr>
		<td><img src="images/ticketCreation-typeDescript.jpg" width="445" height="320" /></td>
	</tr>
	<tr>
		<td>Click the &quot;Save Problem Description&quot; to continue. </td>
	</tr>
	<tr>
		<td><img src="images/ticketCreation-savedDescrip.jpg" width="429" height="256" /></td>
	</tr>
	<tr>
		<td>If you are finished selecting items and entering the descriptions, you can click the &quot;Submit Ticket&quot; button to save your changes and create a ticket (or tickets). </td>
	</tr>
	<tr>
		<td>When a ticket is submitted the technology department is e-mailed a notification alerting us there is a new ticket waiting to be picked up. </td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
</div>
