
<cfquery name="getitems" datasource="copalink">
	select * from news_items order by currentitem desc, itemdate desc
</cfquery>

<!---<script language="JavaScript" type="text/JavaScript">
function uncheckothers(frm, theitem) {
	if (theitem.checked) {
		for (var i=0;i<frm.currentitem.length;i++) {
			frm.currentitem[i].checked = false;
		}
		theitem.checked = true;
	}
}
</script>--->

<!--- defaults --->
<cfset maxrows = "20">
<cfparam name="start" default="1">
<!--- defaults --->

<div align="center">
<form method="post" action="updatestatus.cfm">
<cfif isdefined("url.m")>
	<cfoutput>
	<body onLoad="alert('#m#');"></body>
	<!--- <span style="color:ff0000; font-weight:bold;" class="normal">#m#</span><p> --->
	</cfoutput>
</cfif>
<table width="750" border="1" cellpadding="5" cellspacing="0">
	<tr bgcolor="#DDDDDD">
		<td colspan="5" align="center" bgcolor="#DDDDDD"><b>COPALINK News &amp; Announcements Administration</b></td>
    </tr>
	<tr>
		<td width="59" align="center"><a href="add.cfm">Add New</a></td>
	    <td width="428" align="center"><b>Title</b></td>
	    <td width="81" align="center"><b>Created</b></td>
	    <td width="59" align="center"><b>Current</b></td>
	    <td width="61" align="center"><b>Active</b></td>
	</tr>
	<cfset itemsOnPage = "">
	<cfoutput query="getitems" startrow="#start#" maxrows="#maxrows#">
	<cfset itemsOnPage = listappend(itemsOnPage,getItems.newsitemid)>
	<tr>
		<td align="center">
		<a href="edit.cfm?id=#getitems.newsitemid#"><img border="0" src="../images/edit.gif" width="16" height="16" alt="Edit"></a>&nbsp;&nbsp;&nbsp;
		<a onClick="return confirm('Are you sure you wish to delete this item?');" href="delete.cfm?id=#getitems.newsitemid#"><img border="0" src="../images/delete.gif" width="16" height="16" alt="Delete"></a>
		</td>
		<td>#getitems.title#</td>
		<td align="center">#dateformat(getitems.itemdate,'mm/dd/yyyy')#</td>
		<td align="center"><input onClick="uncheckothers(this.form, this);" type="checkbox" name="currentitem" value="#getitems.newsitemid#" <cfif getitems.currentitem IS NOT 0>checked</cfif> ></td>
		<td align="center"><input type="checkbox" name="active" value="#getitems.newsitemid#" <cfif getitems.active IS NOT 0>checked</cfif> ></td>
	</tr>
	</cfoutput>
	<tr>
		<td align="center"><a href="add.cfm">Add New</a></td>
		<td colspan="2">&nbsp;</td>
		<td colspan="2" align="center"><input type="submit" name="btnUpdate" value="Update Status" class="normal"></td>
	</tr>
</table>
<input type="hidden" name="itemsOnPage" value="<cfoutput>#itemsOnPage#</cfoutput>" />
<!--- pagination code --->
<cfset pages = ceiling(getitems.recordcount / maxrows)>
<table width="750" border="0" cellspacing="0" cellpadding="5">
<tr>
	<td align="center">
	<table border="0" cellspacing="0" cellpadding="5">
	  <tr>
		<td valign="top">Page</td>
		<td valign="top">
		<cfloop from="1" to="#pages#" index="page">
		<cfset s = (maxrows * page) - (maxrows - 1)>
		<cfset currpage = evaluate((start/maxrows) + 1)>
		<cfoutput>
			<a href="index.cfm?start=#s#">#page#</a><cfif page is not pages> | </cfif>
		</cfoutput>
		</cfloop>
		</td>
	  </tr>
	</table>
	</td>
</tr>
</table>
<!--- pagination code --->
<input type="hidden" name="start" value="<cfoutput>#start#</cfoutput>" />
</form>
<a class="normal" href="/index.cfm">Return to Intranet Main Menu</a>
</div>

