
<cfparam name="url.i" default="0">

<cfquery name="getInqID" datasource="#ds#">
	select inquiryid from inquiries_main 
	where inquirynumber = #url.i# 
</cfquery>

<cfif getInqID.recordcount gt 0>
	<cflocation url="viewInquiry.cfm?i=#getInqID.inquiryID#">
<cfelse>
	Inquiry <cfoutput>#i#</cfoutput> does not exist.
</cfif>

