<table width="550" border="0" cellpadding="5" cellspacing="0">
	<tr>
		<td style="padding:0px">
		<a href="javascript:window.print();"></a>
		<table width="100%" border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td><a href="javascript:window.print();"><img src="/images/printerfriendlyicon.gif" alt="Print This Page" border="0" align="absmiddle" />&nbsp;<b>Print this page</b></a></td>
				<td align="center"><a href="javascript:window.close();">Close This Window</a> <a href="javascript:window.close();"><img src="/images/closeWin.gif" alt="Close Window" width="21" height="21" border="0" align="absmiddle" /></a></td>
			</tr>
		</table>
		</td>
	</tr>
</table>

<cf_printInq i="#iList#" datasource="#ds#">
