
<cfif structkeyexists(form,"Filedata")>
	<cfset destination = "#request.directpath#employeeTesting\tests\#url.d#">
    <!--- upload file with whatever attributes you need, additional variables may come in url scope --->
	<cffile action="UPLOAD" filefield="Filedata" destination="#destination#" nameconflict="overwrite"> 
</cfif>
