
<form method="post">
<textarea name="report" rows="10" style="width:600px;"></textarea>
<br>
<br>
<input type="submit" name="btnProcess">
</form>

<br>
<br>

<cfif isDefined("form.btnProcess")>

<cfset report = trim(report)>
<cfset startread = findnocase("dealer",report,1)>
<cfset report = mid(report,startread, len(report))>
<cfset report = replace(report,"#chr(32)##chr(32)##chr(32)##chr(32)##chr(32)##chr(32)##chr(32)##chr(32)##chr(32)#","#chr(9)#","all")>
<cfset report = replace(report,"#chr(32)##chr(32)##chr(32)##chr(32)##chr(32)#","#chr(9)#","all")>

<!---
<cfloop from="1" to="#len(report)#" index="i">
	<cfset c = mid(report,i,1)>
	<cfoutput>
	#c# = #asc(c)#<br>
	</cfoutput>
</cfloop>
--->

<cfset counter = 1>
<cfset dealerList = "">
<cfloop list="#report#" index="line" delimiters="#chr(13)#">
	<cfset lineArray = line.split("#chr(9)#")>
	<cfif counter gt 2>
		<cfset dealerList = listappend(dealerList,"'#trim(lineArray[1])#'")>
		<cfoutput>
		#lineArray[1]#~
		#lineArray[2]#~
		#lineArray[3]#
		</cfoutput>
		<br>
	</cfif>
	<cfset counter = counter + 1>
</cfloop>

<cfquery name="checkDealersNotInList" datasource="copalink_cobrand">
	select dealernumber from site_main where dealernumber NOT IN (#preserveSingleQuotes(dealerList)#) and live = 1 
</cfquery>
<cfset NotBilled = valuelist(checkDealersNotInList.dealerNumber)>

<cfset ErrBilled = "">
<cfloop list="#dealerList#" index="dn">
	<cfquery name="CheckListExistance" datasource="copalink_cobrand">
		select dealernumber from site_main where dealernumber = #preserveSingleQuotes(dn)# and live = 1 
	</cfquery>
	<cfif CheckListExistance.recordcount is 0>
		<cfset ErrBilled = listappend(ErrBilled,dn)>
	</cfif>
</cfloop>

<cfset ErrBilled = replace(ErrBilled,"'","","all")>

<hr>

<cfoutput>
<table width="400" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td valign="top">
		<b>Site exists, no billing</b><br>
		<cfloop list="#notbilled#" index="dn">
		#dn#<br>
		</cfloop>
		</td>
        <td valign="top">
		<b>Billing exists, no site</b><br>
		<cfloop list="#ErrBilled#" index="dn">
		#dn#<br>
		</cfloop>
		</td>
    </tr>
</table>
</cfoutput>
<!--- 
<cfoutput>
Not being billed but have sites:<br>
#notbilled#
</cfoutput>
<hr>
<cfoutput>
Erroneiously being billed with no site:<br>
#ErrBilled#
</cfoutput>
<hr> 
--->
<!--- <pre><cfoutput>#report#</cfoutput></pre> --->

</cfif>

