
<link rel="stylesheet" type="text/css" href="/styles.css">
<div align="center">
<table width="955" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td class="highlightbar"><b>Project Details </b></td>
    </tr>
    <tr>
        <td class="greyrowbottomnopadding">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td width="17%" nowrap="nowrap">Project Name: </td>
                    <td width="83%">Test project one </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Due Date: </td>
                    <td>9/30/2013</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Description:</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>