
<cftry>
<cfquery datasource="scratchpad" name="getComments">
select * from cms_GenDispatch
join cms_SiteNumber
on cms_GenDispatch.site_no = cms_SiteNumber.site_no
join cms_siteDetail
on cms_siteDetail.site_no = cms_GenDispatch.site_no
</cfquery>

<cffunction name="getPlainTextFromRichText" access="public" returntype="string" output="false">
    <cfargument name="richText" type="string" required="true">
    <cfscript>
        var RTFEditorKit = CreateObject("java","javax.swing.text.rtf.RTFEditorKit").init();
        var styledDocument = CreateObject("java","javax.swing.text.DefaultStyledDocument").init();
        var reader = CreateObject("java","java.io.StringReader").init(arguments.richText);
        
        RTFEditorKit.read(reader,styledDocument,0);
        return styledDocument.getText(0,styledDocument.getLength());        
    </cfscript>
</cffunction>
<cfset counter = 0>

	<cfset headerList = "">
	<cfset colList = "CSID,Comments">
	<cfset selectCols = "CSID,Comments">
	<cfset typeList = "VarChar,VarChar">
	
	<cfset qOutput = querynew("#colList#","#typeList#")>
	
	
	
	<cfloop query="getComments">
		<cfset newRow = QueryAddRow(qOutput)>
			<cfset tmp = QuerySetCell(qOutput, "CSID", #getComments.cs_no#)>
			<cfif trim(#getComments.instructions#) is not "">
			<cfset comment= ''>
			<cfset comment=getPlainTextFromRichText(richText = #getComments.instructions#) />
			</cfif>
			<cfset tmp = QuerySetCell(qOutput, "Comments", #comment#)>
	</cfloop>	
	
	<cfquery name="ListAccounts" dbtype="query">
	select * 
	from qOutput
	order by csid asc
	</cfquery>
	

<!---
	<cfx_query2excel 
	file="#request.DirectPath#\steve\comments.xlsx" 
	headings="#headerlist#" 
	queryFields="#selectCols#" 
	query="#ListAccounts#" 
	format="excel" 
	reportHeader="">--->
<cfspreadsheet
	action="write"
	filename="#request.DirectPath#\steve\comments.xlsx"
	query="ListAccounts"
	overwrite="true">
	
	<cfcatch type="any">
	<cfdump var="#cfcatch.Detail#">
	</cfcatch>		
</cftry>
	
					
	
	
<!---<cfoutput query="getComments">
<cfset comment=getPlainTextFromRichText(richText = #getComments.instructions#) />
<cfif trim(comment) is not '' and trim(comment) is not 'XST:' and trim(comment) is not 'X-ST:'>
	<cfif findnocase('radio backup',comment) GT 0>
	<cfset counter = counter + 1>
	#getComments.cs_no# - #comment#
	<br>
	<br>
	</cfif>
</cfif>
</cfoutput>
<cfoutput> #counter#</cfoutput>--->