<link rel="stylesheet" type="text/css" href="/styles.css">
<script src="/jQuery/jquery-2.1.3.min.js"></script>
<script src="/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.min.css" />
<link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.theme.min.css"/>

  <script>
  $(function() {
    $( "#menu" ).menu({
      items: "> :not(.ui-widget-header)"
    });
  });
  </script>
  <style>
  .ui-menu { width: 200px; }
  .ui-widget-header { padding: 0.2em; }
  </style>
</head>
<body>
 
<ul id="menu">
  <li class="ui-widget-header">Category 1</li>
  <li>Option 1</li>
  <li>Option 2</li>
  <li>Option 3</li>
  <li class="ui-widget-header">Category 2</li>    
  <li>Option 4</li>
  <li>Option 5</li>
  <li>Option 6</li>
</ul>