<cfquery name="getAccounts" datasource="scratchpad">
select top 100 *
	from cms_siteDetail
	where cs_no like '8838%'
	order by cms_siteDetail.cs_no desc
</cfquery>
<cfoutput>
<cfloop query="getAccounts">
<cfset account = #Left(cs_no,4)#&'-'&#Right(cs_no,4)#>
	<cfset name = #site_name#>
	<cfset address = #site_addr1#>
	<cfset accountType = #sitetype_id#>
	<cfset city = #city_name#>
	<cfset state = #state_id#>
	<cfset zipCode = #zip_code#>
	<cfset ctvPhone1 = #phone1#>
	<cfset ctvPhone2 = #phone2#>
	<cfset accountType = #sitetype_id#>
	<cfset template = '8372-1'>
	<cfswitch expression="#timezone_no#">
		<cfcase value="10">
			<cfset timezone = 'E'>
		</cfcase>
		<cfcase value="20">
			<cfset timezone = 'C'>
		</cfcase>
		<cfcase value="30">
			<cfset timezone = 'M'>
		</cfcase>
		<cfcase value="40">
			<cfset timezone = 'P'>
		</cfcase>
	</cfswitch>
	#site_name# - #account#
<br />
<cfxml variable="xmlRequest">
		<cfoutput>
			<basicInformation>
				<name>#name#</name>
				<templateNumber>#template#</templateNumber>
				<address>#address#</address>
				<crossStreet></crossStreet>
				<city>#city#</city>
				<township></township>
				<state>#state#</state>
				<zipCode>#zipCode#</zipCode>
				<ctvPhone1>#ctvPhone1#</ctvPhone1>
				<ctvPhone2>#ctvPhone2#</ctvPhone2>
				<licenseNumber></licenseNumber>
				<licenseExpirationDate></licenseExpirationDate>
				<panelType></panelType>
				<timeZone>#timezone#</timeZone>
				<accountType>#accountType#</accountType>
				<ULCert>Y</ULCert>
				<forDealerUse></forDealerUse>
			</basicInformation>
		</cfoutput>
		</cfxml>



<cfinvoke
component="thunderball.cfc"
method="setaccountbasicinformation"
returnvariable = "return"
>
<cfinvokeargument name="dn" value="8372">
<cfinvokeargument name="pc" value="FSH82S">
<cfinvokeargument name="accountNumber" value="#account#">
<cfinvokeargument name="inXML" value="#xmlRequest#"
<cfinvokeargument name="action" value="new">



</cfinvoke>
#return#

</cfloop>
</cfoutput>

