
<cfset url.r = "0001_20130207_004508920.wav">

<cfset recordingDir = listgetat(url.r,2,"_")>
<cfset recordingName = listgetat(url.r,listlen(url.r,"\"),"\")>

<cfset sourceFile = "\\192.168.9.234\recordings\#recordingDir#\#recordingName#">

<cfoutput>
#directoryExists("\\192.168.9.234\recordings")#<br>
#fileExists(sourceFile)#<br>
</cfoutput>


