<cfsetting showdebugoutput="no">

<link rel="stylesheet" type="text/css" href="/styles.css">
<table border="0" cellspacing="0" cellpadding="5" class="greyrownopadding">
    <tr>
        <td><img src="/manageDirectory/genericperson.jpg" border="1" /></td>
        <td valign="top">
		Delete<br />
		</td>
    </tr>
</table>

