
<cfquery name="deleteItem" datasource="#ds#">
	delete from projectTracking_items 
	where itemid = #itemid# 
</cfquery>
<cfquery name="deleteAssignments" datasource="#ds#">
	delete from projectTracking_item_assignments
	where itemid = #itemid# 
</cfquery>

<cflocation url="index.cfm?userid=#userid#&hd=#hd#&filter_statusid=#filter_statusid#&hp=#hp#">