


<cfspreadsheet action="read" src="#request.directpath#\chris\ucc\audits\uplink.xlsx" query="readSheet" headerrow="1">

<cfset metadata = getMetadata(readSheet)>
<cfset colList = "">

<cfloop index="col" array="#metadata#">
	<cfset colList = listAppend(colList, col.name)>
</cfloop>
	
<!---
<cfloop index='c' list="#colList#">
	<cfoutput>#c#</cfoutput>
	<br/>
</cfloop>
--->	

<table border="1">	
	<cfoutput>
		<cfloop query="readSheet" startrow="2">			
			<cfif readSheet.currentRow gte 2498 && readSheet.CurrentRow lte 2514>
				<cfset insertRow = ''>
				<cfset val = readSheet["Customer Tracking ##"][currentRow]>
				<cfset rval1 = replace(val, ',', '','all')>
				<cfset rval2 = replace(rval1, "''", '','all')>
				<cfset insertRow = listAppend(insertRow,#rval2#)>
				<tr>
					<td>#val#</td>
					<td>#rval1#</td>
					<td>#rval2#</td>
					
					<cfset insertRow = replace(insertRow,",","','",'all')>
					<cfset insertRow = "'"&#insertRow#&"'">
					<td>#insertRow#</td>
					
					
				</tr>
			</cfif>
		</cfloop>		

	</cfoutput>	
</table>

	
	
	<!---
	<cfset insertRow = ''>
				
				<cfset rowcell = replace(readSheet[3][currentRow],',','','all')>
				<cfset rowcell = replace(rowcell,"'",'',"all")>
				<cfset insertRow = listAppend(insertRow,#rowcell#)>
				</cfloop>
				<cfset insertRow = replace(insertRow,",","','",'all')>
				<cfset insertRow = "'"&#insertRow#&"'">
				<cfif trim(insertRow) is not "''">
				<cfquery name="SaveRow" datasource="lydiabilling">
					insert into #auditname#
					values(#preservesinglequotes(insertRow)#)
				</cfquery>
				</cfif>
			</cfloop>
--->			