
<cfset filepath = "e:\websites\intranet\migration\files">

<!--- save file --->
<cffile action="upload" filefield="#attributes.formfield#" destination="#filepath#\" nameconflict="makeunique">
<cfset savedFile = file.ServerFile>
<cfset uploadedFile = file.ClientFile>
<cfset newName = "#attributes.dealerID#_#savedFile#">
<cffile action="rename" source="#filepath#\#savedFile#" destination="#filepath#\#newName#">

<cfset caller.savedFileName = "#newname#">
