﻿@model Intranet.Models.receivers_stripZero

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>receivers_stripZero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.receiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.receiverID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
