<cfquery name="getFile" datasource="copalink">
	select * from invoiceLookup 
	where dealerNumber = '#form.dealerNumber#' and invoiceLookupID = #form.invoiceLookupID# 
</cfquery>

<cfif getfile.recordcount is 1>
	<cfif form.invoiceFormat is "PDF">
		<cfset fileName = getfile.pdfFileName>
	<cfelse>
		<cfset fileName = getfile.xlsFileName>
	</cfif>
	<cfheader name="content-disposition" value="attachment;filename=#fileName#"> 
	<cfcontent file="e:\websites\copalink\invoices\#getfile.dealernumber#\#fileName#" type="application/unknown">
</cfif>

