
<style type="text/css">
	TABLE {font-family:Arial, Helvetica, sans-serif;font-size:12px; background-color:#FFFFFF;}
	.normal {font-family:Arial, Helvetica, sans-serif;font-size:12px}
	.heading {font-family:Arial, Helvetica, sans-serif;font-size:16px}
	.titlebar {font-family: Arial, Helvetica, sans-serif;	font-size: 12px;font-weight: bold;color: #FFFFFF;}
	.small {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px}
	a:link {color:#000000; text-decoration: underline;}
	a:visited {text-decoration: underline; color: #000000;}
	a:hover {text-decoration: underline; color: #0000FF;}
	a:active {text-decoration: underline; color: #000000;}
	.box {border: 1px solid #000000;}
	.header {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; background-color: #000066;}
</style>

<div align="center">
<cfif isDefined("form.btnSendEmail")>

<cfmail from="#form.from#" to="#form.to#" subject="#form.subject#" server="65.115.229.40"  username="copalink@copsmonitoring.com" password="copsmoncal">
#form.content#
</cfmail>

<table border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td>
		<b>Email sent</b>
		<br>
		<br>
		<a href="index.cfm">Send another email</a>
		<br>
		<br>
		<a href="/index.cfm">Return to Intranet Menu</a>
</td>
	</tr>
</table>

<cfelse>
v1.0
	<form method="post" action="index.cfm">
	<table border="1" cellpadding="5" cellspacing="0">
		<tr>
			<td colspan="2" align="center" class="header"><b>Send Test Email </b></td>
		</tr>
		
		<tr>
			<td align="right" nowrap><b>From:</b></td>
			<td>
				<input name="from" type="text" class="normal" style="width:550px" maxlength="100">
			</td>
		</tr>
		<tr>
			<td align="right" nowrap><b>To:</b></td>
			<td>
				<input name="to" type="text" class="normal" style="width:550px" maxlength="100">
			</td>
		</tr>
		<tr>
			<td align="right" nowrap><b>Subject:</b></td>
			<td>
				<input name="subject" type="text" class="normal" style="width:550px" maxlength="100">
			</td>
		</tr>
		<tr>
			<td colspan="2"><b>Message:</b></td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea name="content" cols="" rows="10" class="normal" style="width:615px"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input name="btnSendEmail" type="submit" class="normal" value="Send Email">
			</td>
		</tr>
	</table>
	</form>
	
</cfif>
<br />
<a class="normal" style="text-decoration:underline;" href="/index.cfm">Return to Intranet</a>
</div>
