<link rel="stylesheet" type="text/css" href="/styles.css">

<div align="center">
<table width="400" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td class="highlightbar"><b>State Abbreviations </b></td>
	</tr>
	<tr>
		<td class="greyrowbottomnopadding">
			<table width="100%" border="0" cellspacing="0" cellpadding="5">
				<tr>
					<td class="linedrowrightcolumn"><b>State/Territory </b></td>
					<td class="linedrow"><b>Abbreviation</b></td>
				</tr>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>ALABAMA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">AL</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>ALASKA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">AK</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>AMERICAN SAMOA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">AS</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>ARIZONA </p>
					</TD>
					<TD class="linedrow">
						<p align="center">AZ</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>ARKANSAS</p>
					</TD>
					<TD class="linedrow">
						<p align="center">AR</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>CALIFORNIA </p>
					</TD>
					<TD class="linedrow">
						<p align="center">CA</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>COLORADO </p>
					</TD>
					<TD class="linedrow">
						<p align="center">CO</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>CONNECTICUT</p>
					</TD>
					<TD class="linedrow">
						<p align="center">CT</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>DELAWARE</p>
					</TD>
					<TD class="linedrow">
						<p align="center">DE</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>DISTRICT OF   COLUMBIA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">DC</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>FEDERATED STATES OF   MICRONESIA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">FM</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>FLORIDA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">FL</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>GEORGIA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">GA</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>GUAM </p>
					</TD>
					<TD class="linedrow">
						<p align="center">GU</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>HAWAII</p>
					</TD>
					<TD class="linedrow">
						<p align="center">HI</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>IDAHO</p>
					</TD>
					<TD class="linedrow">
						<p align="center">ID</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>ILLINOIS</p>
					</TD>
					<TD class="linedrow">
						<p align="center">IL</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>INDIANA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">IN</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>IOWA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">IA</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>KANSAS</p>
					</TD>
					<TD class="linedrow">
						<p align="center">KS</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>KENTUCKY</p>
					</TD>
					<TD class="linedrow">
						<p align="center">KY</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>LOUISIANA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">LA</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MAINE</p>
					</TD>
					<TD class="linedrow">
						<p align="center">ME</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MARSHALL ISLANDS</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MH</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MARYLAND</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MD</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MASSACHUSETTS</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MA</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MICHIGAN</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MI</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MINNESOTA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MN</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MISSISSIPPI</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MS</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MISSOURI</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MO</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>MONTANA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MT</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NEBRASKA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">NE</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NEVADA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">NV</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NEW HAMPSHIRE</p>
					</TD>
					<TD class="linedrow">
						<p align="center">NH</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NEW JERSEY</p>
					</TD>
					<TD class="linedrow">
						<p align="center">NJ</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NEW MEXICO</p>
					</TD>
					<TD class="linedrow">
						<p align="center">NM</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NEW YORK</p>
					</TD>
					<TD class="linedrow">
						<p align="center">NY</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NORTH CAROLINA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">NC</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NORTH DAKOTA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">ND</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>NORTHERN MARIANA   ISLANDS</p>
					</TD>
					<TD class="linedrow">
						<p align="center">MP</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>OHIO</p>
					</TD>
					<TD class="linedrow">
						<p align="center">OH</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>OKLAHOMA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">OK</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>OREGON</p>
					</TD>
					<TD class="linedrow">
						<p align="center">OR</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>PALAU</p>
					</TD>
					<TD class="linedrow">
						<p align="center">PW</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>PENNSYLVANIA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">PA</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>PUERTO RICO</p>
					</TD>
					<TD class="linedrow">
						<p align="center">PR</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>RHODE ISLAND</p>
					</TD>
					<TD class="linedrow">
						<p align="center">RI</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>SOUTH CAROLINA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">SC</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>SOUTH DAKOTA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">SD</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>TENNESSEE</p>
					</TD>
					<TD class="linedrow">
						<p align="center">TN</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>TEXAS</p>
					</TD>
					<TD class="linedrow">
						<p align="center">TX</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>UTAH</p>
					</TD>
					<TD class="linedrow">
						<p align="center">UT</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>VERMONT</p>
					</TD>
					<TD class="linedrow">
						<p align="center">VT</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>VIRGIN ISLANDS</p>
					</TD>
					<TD class="linedrow">
						<p align="center">VI</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>VIRGINIA </p>
					</TD>
					<TD class="linedrow">
						<p align="center">VA</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>WASHINGTON</p>
					</TD>
					<TD class="linedrow">
						<p align="center">WA</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>WEST VIRGINIA</p>
					</TD>
					<TD class="linedrow">
						<p align="center">WV</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>WISCONSIN</p>
					</TD>
					<TD class="linedrow">
						<p align="center">WI</p>
					</TD>
				</TR>
				<TR vAlign="top" align="left">
					<TD class="linedrowrightcolumn">
						<p>WYOMING</p>
					</TD>
					<TD class="linedrow">
						<p align="center">WY</p>
					</TD>
				</TR>
			</table>
		</td>
	</tr>
</table>
</div>

