
<cfset dateTimeProcessed = createodbcdatetime(now())>
<!--- mark record as processed and return to transactions --->
<cfquery name="markprocessed" datasource="copalink">
	update payments
	set processed = 1, dateTimeProcessed = #dateTimeProcessed#
	where paymentid = #url.tid#
</cfquery>

<cflocation url="index.cfm?start=#url.start#">

