<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 14">
<link rel=File-List href="12-22-11%20licenses_files/filelist.xml">
<style id="12-22-11 licenses_29653_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
.font529653
	{color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl1529653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6429653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6529653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6629653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6729653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6829653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6929653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"mmm\\-yy";
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7029653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7129653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7229653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"mmm\\-yy";
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7329653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7429653
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
-->
</style>
</head>

<body>
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--The following information was generated by Microsoft Excel's Publish as Web
Page wizard.-->
<!--If the same item is republished from Excel, all information between the DIV
tags will be replaced.-->
<!----------------------------->
<!--START OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD -->
<!----------------------------->

<div id="12-22-11 licenses_29653" align=center x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=887 style='border-collapse:
 collapse;table-layout:fixed;width:666pt'>
 <col width=290 style='mso-width-source:userset;mso-width-alt:10605;width:218pt'>
 <col width=64 style='width:48pt'>
 <col width=350 style='mso-width-source:userset;mso-width-alt:12800;width:263pt'>
 <col width=183 style='mso-width-source:userset;mso-width-alt:6692;width:137pt'>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6429653 width=290 style='height:15.0pt;width:218pt'>Location</td>
  <td class=xl6429653 width=64 style='width:48pt'>State</td>
  <td class=xl6729653 width=350 style='width:263pt'>License #</td>
  <td class=xl7029653 width=183 style='width:137pt'>Expiration</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt'>Alabama (State of),
  Company License</td>
  <td class=xl6529653 style='border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-left:none'>12-933</td>
  <td class=xl7129653 style='border-left:none'>12/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Albuquerque</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>NM</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>510</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>7/27/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Ann
  Arundel County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>65</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Arkansas
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>E 2005 0098</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>9/22/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Arkansas
  (State of), Qualified Manager</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>E 05-098</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>9/22/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Baltimore
  City</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>124</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/14/2010</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Baltimore
  County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>0840</td>
  <td class=xl7329653 width=183 style='border-top:none;border-left:none;
  width:137pt'>1/19/2014</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Barnstable<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>12-79</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Boca
  Raton</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>160</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Bonney
  Lake</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>WA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>3986</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/8/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Buffalo</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>NY</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>XAC577</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/1/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>California
  (State of), (Qualified Manager)</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>ACQ 5175</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>1/31/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>California
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>ACO 6132</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>2/28/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Calvert
  Cnty.</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>ABL1441</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>10/13/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Cape
  Coral</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>AC160</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Chandler
  Tax license</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>AC-519</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/11/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Charles
  Cnty.</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>1441</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/3/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Cincinnati</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>OH</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>AC398</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>7/15/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Colorado
  Springs</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>CO<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6829653 style='border-top:none;border-left:none'>709265</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>7/13/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Columbus</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>OH</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>2001008991</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/19/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Delaware
  (State of) FIRE, (Qualified Manager)</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>RA-0005</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>9/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Delaware
  (State of) FIRE, Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>CSRSL-0004</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>9/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Delaware
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>05-85</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>2/15/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Denver
  (burglar alarm license)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>CO<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6829653 style='border-top:none;border-left:none'>1004170</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/26/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Denver
  (central alarm station license for fire monit<span style='display:none'>oring)</span></td>
  <td class=xl6629653 style='border-top:none;border-left:none'>CO<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6829653 style='border-top:none;border-left:none'>1004170</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Des
  Moines</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>WA</td>
  <td class=xl7229653 style='border-top:none;border-left:none'>04757</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Douglas
  County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>CO</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>68</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Doylestown</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>2011-045</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Evansville</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>IN<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6829653 style='border-top:none;border-left:none'>11V141</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>2/28/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Fairfax
  County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>VA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>111941</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/1/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Florida
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'><span
  style='mso-spacerun:yes'> </span>EF20000481<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Fontana</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>CA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>039011</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>10/1/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Fort
  Lauderdale</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>R3233</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Frederick
  Cnty.</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>F0134</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>1/9/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Gainesville</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>34970-001</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>10/1/2006</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Greenville</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>NC</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>211</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>9/30/2008</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Howard
  Cnty.</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>14</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/9/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Huntsville</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>There is none
  issued</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>1/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Illinois
  (State of), (Qualified Manager)</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>124-001558</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/31/2014</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Illinois
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>127-001299
  (124-001558)</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/31/2014</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Indianapolis</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>IN<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6829653 style='border-top:none;border-left:none'>75285</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Jacksonville</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>306</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>7/7/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Lafayette</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>LA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>none issued</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>1/15/2012</td>
 </tr>
 <tr height=21 style='height:15.75pt'>
  <td height=21 class=xl6629653 style='height:15.75pt;border-top:none'>Lakewood</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>CO</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>none- this code
  is to cancel an alarm <font class="font529653">LK 711 P</font></td>
  <td class=xl7129653 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>La Porta</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>TX</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>173</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2010</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Lancaster</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl7229653 style='border-top:none;border-left:none'>0000188</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Lancaster
  - Fire</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>13227</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/1/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Lee Cnty.</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>There is none
  issued</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>One time fee -
  no exp.</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Lewisville</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>TX</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>907</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/1/2016</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Lexington
  Fayette Urban County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>KY</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>15001970</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Lincoln</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>NE</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>191</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>1/1/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Loudoun
  Cnty</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>VA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>170</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/27/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Louisville/Jefferson
  County Metro Gov't</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>KY</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>427</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Lower
  Saucon Twp.</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>none issued</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Martin
  County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>600021</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2010</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Maryland
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>107-840</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>7/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Maryland
  (State of), Representative Member</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>107-840</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>7/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Mesa</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>R000247</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>10/25/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Michigan
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>3601205107</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Milwaukee</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>WI</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>M-0001548</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Montgomery</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>4947</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Montgomery
  Cnty.</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>00421</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>11/17/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>New Hope</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>none issued</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Norfolk</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>VA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>2008-000-985</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Norwalk</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>CT</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>3018917</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>One time fee -
  no exp.</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Norwich
  Township Fire Dept</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>OH</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>no #</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Oklahoma
  (State of), (Qualified Manager)</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>005735<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Oklahoma
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>899</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Olathe</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>CA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>364</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2010</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Omaha</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>NE</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>CPS</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/23/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Oregon
  (State Of)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>PSID - 1777</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>no expiration</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Oregon
  (State Of), (Qualified Manager)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>PSID - 51512</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/3/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Oregon
  (State Of), (Alarm Monitor Instructor)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>PSID - 51512</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/17/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Oregon
  (State Of), (Alarm Monitor Profession<span style='display:none'>al)</span></td>
  <td class=xl6629653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>PSID - 51512</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/3/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Palm Bay</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>288</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>One time fee -
  no exp.</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Palm
  Beach County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>There is none
  issued</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>10/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Paradise
  Valley</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>2086</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Peoria
  (alarm agent and privilege tax license)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>10015569</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Philadelphia</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>0106</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>One time fee -
  no exp.</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Phoenix</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>P06-217</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/9/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Pierce
  County<span style='mso-spacerun:yes'> </span></td>
  <td class=xl6629653 style='border-top:none;border-left:none'>WA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>400153-1</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/27/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Pittsburgh</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>CS0025</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Prince
  George County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MD</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>266</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>11/6/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Reading
  (City Of)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>338013</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Reno</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>NV</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>acct# 3986</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>10/16/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Rhode
  Island (State of) Burg, Company Licen<span style='display:none'>se</span></td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>8252</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>4/30/2014</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Saint
  Louis</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>MO</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>LC9646880</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>no exp</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Salt Lake
  County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>UT</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>30742 // 225</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>no exp</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Salt
  River Pima-Maricopa Indian Community</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>BL-4469</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Scottsdale
  - Primary license</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>1004366</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Scottsdale
  -Business and occupational license</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>926696</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Scottsdale
  - Alarm user license</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>1002732</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/14/2011</td>
 </tr>
 <tr height=55 style='mso-height-source:userset;height:41.25pt'>
  <td height=55 class=xl6629653 style='height:41.25pt;border-top:none'>Seattle</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>WA</td>
  <td class=xl7429653 width=350 style='border-top:none;border-left:none;
  width:263pt'>EACH DEALER MUST HAVE OWN UIN (UNIQUE IDENTIFICATION NUMBER)</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2011</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Solebury
  Twp</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>37</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>12/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Sparks</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>NV</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>acct# 3986</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>4/1/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Spartanburg</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>SC</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>MC176</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/8/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Suffolk</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>VA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>acct# 3986</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Tennesee
  (State of), (Qualified Mgr.)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>00000983</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/30/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Tennesee
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>00000632</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Tennesee
  (State of), (Qualified Mgr.)</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>00001621</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/30/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Tennesee
  (State of), Company License TN offi<span style='display:none'>ce</span></td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>00001626</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>6/30/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Texas
  (State of) for Burglary (Qualified Mgr.)</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>542528</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/18/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Texas
  (State of) for Burglary, Company Licen<span style='display:none'>se<span
  style='mso-spacerun:yes'> </span></span></td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>B11561</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>7/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Texas
  (State of) for Fire (Qualified Mgr.)</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>AMT-0031</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/7/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Texas
  (State of) for Fire, Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>ACR-2215</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/7/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Toronto
  (Canada)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>ON</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>MS179</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/22/2013</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Tucson</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>AZ</td>
  <td class=xl6629653 align=right style='border-top:none;border-left:none'>3018917</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>8/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Utah
  (State of), (Qualified Mgr.)</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'><span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl7129653 style='border-top:none;border-left:none'>11/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Utah
  (State of), Company License</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>5854940-6501</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>11/30/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Virginia
  (Commonwealth of), (Compliance Ag<span style='display:none'>ent)</span></td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'><span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6529653 style='height:15.0pt;border-top:none'>Virginia
  (Commonwealth of), Company Licen<span style='display:none'>se</span></td>
  <td class=xl6529653 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>11-1941</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/31/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Washoe
  County</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>NV</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>3986</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>5/13/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>West Palm
  Beach</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>FL</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>40573</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/31/2012</td>
 </tr>
 <tr height=50 style='mso-height-source:userset;height:37.5pt'>
  <td height=50 class=xl6629653 style='height:37.5pt;border-top:none'>Wichita</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>KS</td>
  <td class=xl6929653 width=350 style='border-top:none;border-left:none;
  width:263pt'>OPS needs to give cancel code of 1031 when cancelling dispatch</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>N/A</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Willistown
  Township,</td>
  <td class=xl6529653 style='border-top:none;border-left:none'>PA</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>125</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>7/22/2012</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6629653 style='height:15.0pt;border-top:none'>Wilmington
  (City of)</td>
  <td class=xl6629653 style='border-top:none;border-left:none'>DE</td>
  <td class=xl6829653 style='border-top:none;border-left:none'>1015</td>
  <td class=xl7129653 style='border-top:none;border-left:none'>3/25/2012</td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=290 style='width:218pt'></td>
  <td width=64 style='width:48pt'></td>
  <td width=350 style='width:263pt'></td>
  <td width=183 style='width:137pt'></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--END OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD-->
<!----------------------------->
</body>

</html>
